<!--
  Generated template for the FinanceTransactionSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="confidentialityLevel === 1">
      {{ bizTrxSummary.businessTransaction.trxInvoiceID }}
    </ion-title>
    <ion-title *ngIf="confidentialityLevel === 2">
        {{ bizTrxSummary.businessTransaction.trxInvoiceID }}*
      </ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="openPopOver($event,bizTrxSummary)" *ngIf="partyProfile">    
        <ion-icon name="more"></ion-icon> 
      </button> 
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row class="TrxCurrency" [(ngModel)]="trxCurrency" radio-group no-padding no-margin > 
        <ion-col col-6>
          <ion-item no-lines no-padding>
            <ion-avatar item-start>
              <img src="assets/imgs/rupees.png">
            </ion-avatar>
            <ion-label>INR</ion-label>
            <ion-radio value="INR"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-6 >
          <ion-item no-lines no-padding>
            <ion-avatar item-start>
              <img src="assets/imgs/dollars.png">
            </ion-avatar>
            <ion-label>USD</ion-label>
            <ion-radio value="USD"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header no-padding no-margin>
      <ion-grid>
        <ion-row class="BusinessTrxHeader" *ngIf="(bizTrxSummary.diffDays>0) && (bizTrxSummary.amtPendinginLocal>0);else inrTrxClosed">
          <ion-col class="bizInvoiceDetails">
            INV NO. {{ bizTrxSummary.businessTransaction.trxInvoiceID }}
          </ion-col>
        </ion-row>
        <ng-template #inrTrxClosed>
          <ion-row class="BusinessTrxHeaderClose">
            <ion-col class="bizInvoiceDetails">
              INV NO. {{ bizTrxSummary.businessTransaction.trxInvoiceID }}
            </ion-col>            
          </ion-row>
        </ng-template>
      </ion-grid>
    </ion-card-header>
    <ion-card-content no-padding no-margin>
      <ion-grid>
        <ion-row>
          <ion-col col-4 class="BusinessTrxDetailsBorder">
          {{ bizTrxSummary.businessTransaction.trxDate  | date: 'dd-MM-yyyy' }}
          </ion-col>
          <ion-col col-4 class="BusinessTrxDetailsBorder" *ngIf="bizTrxSummary.diffDays > 0; else duedaysrem">
            Overdue : {{  bizTrxSummary.diffDays }} Days
          </ion-col>
          <ng-template #duedaysrem>
            <ion-col col-4 class="BusinessTrxDetailsBorder">
              Due By {{ bizTrxSummary.diffDays }} Days
            </ion-col>
          </ng-template>
          <ion-col col-4 class="BusinessTrxDetailsBorder" >
            {{ bizTrxSummary.businessTransaction.trxDueDate | date: 'dd-MM-yyyy' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="BusinessTrxQtyBorder"><b>WEIGHT</b></ion-col>
          <ion-col col-4 class="BusinessTrxRateBorder"><b>RATE</b></ion-col>
          <ion-col col-4 class="BusinessTrxAmountBorder"><b>AMOUNT</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="BusinessTrxQtyValueBorder">{{ bizTrxSummary.businessTransaction.trxWeight }}</ion-col>
          <ion-col col-4 class="BusinessTrxRateValueBorder" *ngIf="(bizTrxSummary.businessTransaction.trxCurrency === 'INR')">{{ bizTrxSummary.businessTransaction.trxRate | INR}}</ion-col>
          <ion-col col-4 class="BusinessTrxRateValueBorder" *ngIf="(bizTrxSummary.businessTransaction.trxCurrency === 'USD')">{{ bizTrxSummary.businessTransaction.trxRate | currency:'USD'}}</ion-col> 
          <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="(bizTrxSummary.businessTransaction.trxCurrency === 'INR')">{{ bizTrxSummary.businessTransaction.trxValue | INR}}</ion-col>
          <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="(bizTrxSummary.businessTransaction.trxCurrency === 'USD')">{{ bizTrxSummary.businessTransaction.trxValue | currency : 'USD'}}</ion-col>  
        </ion-row>
        <ion-row>
          <ion-col col-4 class="BusinessTrxTermsBorder"><b>TERMS</b></ion-col>
          <ion-col col-4 class="BusinessTrxLessBorder"><b>BROKERAGE</b></ion-col>
          <ion-col col-4 class="BusinessTrxTaxBorder"><b>TAX</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="BusinessTrxTermsValueBorder">{{ bizTrxSummary.businessTransaction.trxDueDays }} Days</ion-col>
          <ion-col col-4 class="BusinessTrxLessValueBorder">{{ bizTrxSummary.businessTransaction.trxBrokerageRate }}%</ion-col>
          <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="((bizTrxSummary.businessTransaction.trxCurrency === 'INR'))">{{ bizTrxSummary.businessTransaction.trxTaxAmount.totalAmount | INR}}</ion-col>
          <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="((bizTrxSummary.businessTransaction.trxCurrency === 'USD'))">{{ bizTrxSummary.businessTransaction.trxTaxAmount.totalAmount | currency : 'USD'}}</ion-col>            
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="bizTrxSummary.amtPendinginLocal>0; else trxClose">
        <ion-row class="BusinessTrxFooterBackground">
          <ion-col col-4 class="BusinessTrxGrandTotalBorder"><b>GRAND TOTAL</b></ion-col>
          <ion-col col-4 class="BusinessTrxReceivedBorder" *ngIf="bizTrxSummary.businessTransaction.trxType === 'Sell';else paymentPaid"><b>Received</b></ion-col>
          <ng-template #paymentPaid>
            <ion-col col-4 class="BusinessTrxReceivedBorder"><b>Paid</b></ion-col>
          </ng-template>
          <ion-col col-4 class="BusinessTrxPendingBorder"><b>Pending</b></ion-col>
        </ion-row>
        <ion-row  class="BusinessTrxFooterBackground" *ngIf="(trxCurrency === 'INR')">
          <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
            <p><b> {{ bizTrxSummary.trxLocalAmount | INR}}</b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxReceivedValueBorder">
              <p class="AmtRecvTextColor"><b>{{ bizTrxSummary.amtReceviedOrPaidinLocal | INR }}</b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxPendingValueBorder">
              <p class="AmtPendingTextColor"><b>{{ bizTrxSummary.amtPendinginLocal | INR}}</b></p>
          </ion-col>
        </ion-row>
      <ion-row  class="BusinessTrxFooterBackground" *ngIf="(trxCurrency === 'USD')">
          <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
              <p><b>{{ bizTrxSummary.trxForiegnAmount | currency: 'USD' }}</b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxReceivedValueBorder">
              <p class="AmtRecvTextColor"><b>{{ bizTrxSummary.amtReceviedOrPaidinForiegn | currency: 'USD' }}</b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxPendingValueBorder">
              <p class="AmtPendingTextColor"><b>{{ bizTrxSummary.amtPendinginForiegn | currency: 'USD' }}</b></p>
          </ion-col>
        </ion-row>
        <ion-row class="BusinessTrxFooterBackground" *ngIf="(trxCurrency === 'INR')">
          <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><b><i>INTEREST==></i></b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><i>({{ bizTrxSummary.interestRealizedinLocal | INR}})</i></p>  
            </ion-col>
          <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><i>({{ bizTrxSummary.interestUnRealizedinLocal | INR}})</i></p>
          </ion-col>          
        </ion-row>
        <ion-row class="BusinessTrxFooterBackground" *ngIf="(trxCurrency === 'USD')">
          <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><b><i>INTEREST==></i></b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><i>( {{ bizTrxSummary.interestRealizedinForiegn | currency: 'USD' }})</i></p>  
            </ion-col>
          <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><i>( {{ bizTrxSummary.interestUnRealizedinForiegn | currency: 'USD' }})</i></p>
          </ion-col>          
        </ion-row>
      </ion-grid>
      <ng-template #trxClose>
        <ion-grid>
          <ion-row class="BusinessTrxFooterBackgroundClose">
            <ion-col col-4 class="BusinessTrxGrandTotalBorder"><b>GRAND TOTAL</b></ion-col>
            <ion-col col-4 class="BusinessTrxReceivedBorder" *ngIf="bizTrxSummary.businessTransaction.trxType==='Sell';else paymentPaid"><b>Received</b></ion-col>
            <ng-template #paymentPaid>
              <ion-col col-4 class="BusinessTrxReceivedBorder"><b>Paid</b></ion-col>
            </ng-template>
            <ion-col col-4 class="BusinessTrxPendingBorder"><b>Pending</b></ion-col>
          </ion-row>
          <ion-row  class="BusinessTrxFooterBackgroundClose" *ngIf="(trxCurrency === 'INR')">
            <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
              <p><b> {{ bizTrxSummary.trxLocalAmount | INR}}</b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxReceivedValueBorder">
                <p class="AmtRecvTextColor"><b>{{ bizTrxSummary.amtReceviedOrPaidinLocal | INR}}</b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxPendingValueBorder">
                <p class="AmtPendingTextColor"><b>{{ bizTrxSummary.amtPendinginLocal | INR}}</b></p>
            </ion-col>
          </ion-row>      
          <ion-row  class="BusinessTrxFooterBackgroundClose" *ngIf="(trxCurrency === 'USD')">
            <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
              <p><b>{{ bizTrxSummary.trxForiegnAmount | currency : 'USD' }}</b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxReceivedValueBorder">
                <p class="AmtRecvTextColor"><b>{{ bizTrxSummary.amtReceviedOrPaidinForiegn | currency : 'USD' }}</b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxPendingValueBorder">
                <p class="AmtPendingTextColor"><b>{{ bizTrxSummary.amtPendinginForiegn | currency : 'USD' }}</b></p>
            </ion-col>
          </ion-row>

          <ion-row class="BusinessTrxFooterBackgroundClose" *ngIf="(trxCurrency === 'INR')">
            <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><b><i>INTEREST==></i></b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxFooterBorder">
              <p><i>({{ bizTrxSummary.interestRealizedinLocal | INR}})</i></p>  
              </ion-col>
            <ion-col col-4 class="BusinessTrxFooterBorder">
              <p><i>({{ bizTrxSummary.interestUnRealizedinLocal | INR}})</i></p>
            </ion-col>          
          </ion-row>
          
          <ion-row class="BusinessTrxFooterBackgroundClose" *ngIf="(trxCurrency === 'USD')">
            <ion-col col-4 class="BusinessTrxFooterBorder">
              <p><b><i>INTEREST==></i></b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxFooterBorder">
              <p><i>({{ bizTrxSummary.interestRealizedinForiegn | currency : 'USD' }})</i></p>  
              </ion-col>
            <ion-col col-4 class="BusinessTrxFooterBorder">
              <p><i>({{ bizTrxSummary.interestUnRealizedinForiegn | currency : 'USD' }})</i></p>
            </ion-col>          
          </ion-row>
        </ion-grid>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row >
      <ion-col col-auto class="finTrxTableCol">
        <ion-grid class="finTrxTable">
          <ion-row>
            <ion-col class="table-header">
              DATE
            </ion-col>
          </ion-row>
          <ion-row text-center nowrap *ngFor="let finTrx of bizTrxSummary.finTrxs; let i=index">
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" >
              {{finTrx.trxDate   | date: 'dd-MM-yyyy'}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col class="finTrxTableCol">
        <ion-scroll scrollX="true" scrollY="false" zoom="false">
          <ion-grid class="finTrxTable">
            <ion-row text-center nowrap >
              <ion-col class="table-header" col-6>Opening Bal.</ion-col>
              <ion-col class="table-header" col-6>Amount</ion-col>
              <ion-col class="table-header" col-6>Closing Bal.</ion-col>
              <ion-col class="table-header" col-6>Late Days</ion-col>
              <ion-col class="table-header" col-6>Interest</ion-col>
              <ion-col class="table-header" col-6>Payment Method</ion-col>
              <ion-col class="table-header" col-3>DELETE</ion-col>
            </ion-row>
            <ion-row text-center nowrap *ngFor="let finTrx of bizTrxSummary.finTrxs; let i=index">
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="(finTrx.trxCurrency === 'INR')"><b>{{ finTrx.trxOpeningBalance | INR }}</b></ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="(finTrx.trxCurrency === 'USD')"><b>{{ finTrx.trxOpeningBalance | currency:'USD' }}</b></ion-col>

              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="((trxCurrency === 'USD') && (finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'))"><b>{{ finTrx.trxForiegnValue | currency:'USD' }}</b></ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6 *ngIf="((trxCurrency === 'INR') && (finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'))"> <b>{{ finTrx.trxLocalValue | INR }}</b></ion-col>

              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="((trxCurrency === 'INR') && (finTrx.trxType === 'In_Credit') && (bizTrxSummary.businessTransaction.trxType === 'Sell'))"><b>-  {{ finTrx.trxLocalValue | INR }}</b></ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6 *ngIf="((trxCurrency === 'USD') && (finTrx.trxType === 'In_Credit') && (bizTrxSummary.businessTransaction.trxType === 'Sell'))"><b>-  {{ finTrx.trxForiegnValue | currency:'USD' }}</b></ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="((trxCurrency === 'INR') && (finTrx.trxType === 'Out_Debit') && (bizTrxSummary.businessTransaction.trxType === 'Sell'))"><b>+  {{ finTrx.trxLocalValue | INR }}</b></ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6 *ngIf="((trxCurrency === 'USD') && (finTrx.trxType === 'Out_Debit') && (bizTrxSummary.businessTransaction.trxType === 'Sell'))"><b>+  {{ finTrx.trxForiegnValue | currency:'USD' }}</b></ion-col>

              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="((trxCurrency === 'INR') && (finTrx.trxType === 'Out_Debit') && (bizTrxSummary.businessTransaction.trxType === 'Buy'))"><b>-  {{ finTrx.trxLocalValue | INR }}</b></ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="((trxCurrency === 'USD') && (finTrx.trxType === 'Out_Debit') && (bizTrxSummary.businessTransaction.trxType === 'Buy'))"><b>-  {{ finTrx.trxForiegnValue | currency:'USD' }}</b></ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="((trxCurrency === 'INR') && (finTrx.trxType === 'In_Credit') && (bizTrxSummary.businessTransaction.trxType === 'Buy'))"><b>+  {{ finTrx.trxLocalValue | INR }}</b></ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="((trxCurrency === 'USD') && (finTrx.trxType === 'In_Credit') && (bizTrxSummary.businessTransaction.trxType === 'Buy'))"><b>+  {{ finTrx.trxForiegnValue | currency:'USD' }}</b></ion-col>
              
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="(finTrx.trxCurrency === 'INR')"><b>{{ finTrx.trxClosingBalance | INR }}</b></ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6  *ngIf="(finTrx.trxCurrency === 'USD')"><b>{{ finTrx.trxClosingBalance | currency:'USD' }}</b></ion-col>

              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{ finTrx.trxDiffDays }}</ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6 *ngIf="(trxCurrency === 'INR')">{{ finTrx.trxInterestRealizedinLocal | INR }}</ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6 *ngIf="(trxCurrency === 'USD')">{{ finTrx.trxInterestRealizedinForiegn | currency:'USD' }}</ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{ finTrx.trxPaymentMethod }}</ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 *ngIf="finTrx.trxOpeningBalance === 0"></ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 *ngIf="finTrx.trxOpeningBalance !== 0" (click)="deleteFinanceTransaction(i)">    
                <ion-icon name="trash"></ion-icon> 
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
