page-task-summary {
    
    packagedItem-footer-button {
		height:100%;
		width: 100%;
		line-height: 2;
		text-transform: capitalize;
		background-color: map-get($colors,contentBackground);
		font-weight: bold;
	}

}
