<!--
  Generated template for the TaskSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Summary : {{ taskCode }} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-grid>
      <ion-row>
          <ion-col col-4> Input :</ion-col>
          <ion-col col-2>{{ summary.Input.totalQty }}</ion-col>
          <ion-col col-2>{{ summary.Input.totalWeight }}</ion-col>
          <ion-col col-2>{{ summary.Input.totalCost }}</ion-col>
          <ion-col col-2>{{ summary.Input.totalTax }}</ion-col>        
      </ion-row>
      <ion-row>
        <ion-col col-4> In Progress :</ion-col>
        <ion-col col-2>{{ summary.InProgress.totalQty }}</ion-col>
        <ion-col col-2>{{ summary.InProgress.totalWeight }}</ion-col>
        <ion-col col-2>{{ summary.InProgress.totalCost }}</ion-col>
        <ion-col col-2>{{ summary.InProgress.totalTax }}</ion-col>        
      </ion-row>
      <ion-row>
        <ion-col col-4> Completed :</ion-col>
        <ion-col col-2>{{ summary.Completed.totalQty }}</ion-col>
        <ion-col col-2>{{ summary.Completed.totalWeight }}</ion-col>
        <ion-col col-2>{{ summary.Completed.totalCost }}</ion-col>
        <ion-col col-2>{{ summary.Completed.totalTax }}</ion-col>        
      </ion-row>
      <ion-row>
        <ion-col col-4> Output :</ion-col>
        <ion-col col-2>{{ summary.Output.totalQty }}</ion-col>
        <ion-col col-2>{{ summary.Output.totalWeight }}</ion-col>
        <ion-col col-2>{{ summary.Output.totalCost }}</ion-col>
        <ion-col col-2>{{ summary.Output.totalTax }}</ion-col>        
      </ion-row>
      <ion-row>
        <ion-col col-4> Pending :</ion-col>
        <ion-col col-2>{{ summary.Pending.totalQty }}</ion-col>
        <ion-col col-2>{{ summary.Pending.totalWeight }}</ion-col>
        <ion-col col-2>{{ summary.Pending.totalCost }}</ion-col>
        <ion-col col-2>{{ summary.Pending.totalTax }}</ion-col>        
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid radio-group [(ngModel)]="filterValue" (ionChange)="filterPackagedItems($event)">
      <ion-row>
        <ion-col col-6>
            <ion-item no-lines>
                <ion-label>Input</ion-label>
                <ion-radio value="A_B" ></ion-radio>
            </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item no-lines>
                <ion-label>In Progress</ion-label>
                <ion-radio value="B_B_IP"></ion-radio>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
            <ion-item no-lines>
                <ion-label>Completed</ion-label>
                <ion-radio value="B_B_CO"></ion-radio>
            </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item no-lines>
                <ion-label>Output</ion-label>
                <ion-radio value="B_C"></ion-radio>
            </ion-item>
        </ion-col>
      </ion-row>        
  </ion-grid>
  <button ion-button full *ngIf="filterValue==='A_B'"(click)="mergeInputs()"> Merge </button>
  <ion-card *ngFor="let packagedItem of (packagedItemList); let i=index">
    <ion-card-content no-padding>
      <ion-grid> 
        <!-- <ion-row *ngIf="(packagedItem.pRule.bGroupRead) && (packagedItem.packageStatus==='RD')">
          <ion-col>
              <ion-checkbox [(ngModel)]="selectedPackageIDList[i]"></ion-checkbox>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col col-5 text-center>pID: {{ packagedItem.id }}</ion-col>
          <ion-col col-5 text-center>ppID: {{ packagedItem.parentPackageID }}</ion-col>
          <ion-col col-2 text-center>
            <button ion-button full (click)="showTrace(packagedItem)"> Show Trace </button>
          </ion-col>          
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ packagedItem.packageID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>GroupID: {{ packagedItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 text-center> {{ packagedItem.pRule.bGroupRead }}</ion-col>
          <ion-col col-4 text-center> {{ packagedItem.pRule.curTaskCode }}</ion-col>
          <ion-col col-2 text-center> {{ packagedItem.packageStatus }}</ion-col>
          <ion-col col-4 text-center> {{ packagedItem.pRule.nextTaskCode }}</ion-col> 
          <ion-col col-1 text-center> {{ packagedItem.pRule.bMultipleOutput }}</ion-col> 
        </ion-row>
        <ion-row>
          <ion-col col-3 text-center> {{ packagedItem.itemQty }}</ion-col>
          <ion-col col-3 text-center> {{ packagedItem.itemWeight }}</ion-col>
          <ion-col col-3 text-center> {{ packagedItem.itemCost }}</ion-col>
          <ion-col col-3 text-center> {{ packagedItem.itemTax }}</ion-col>
        </ion-row>
        <ion-row *ngIf="((!packagedItem.pRule.bGroupRead) && (packagedItem.pRule.nextTaskCode === taskCode) && ((packagedItem.packageStatus === 'RD') || (packagedItem.packageStatus === 'PD')))">
          <ion-col text-center no-padding>
            <button ion-button full class="packagedItem-footer-button" (click)="startTask(packagedItem)"> Start </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="((packagedItem.pRule.nextTaskCode === taskCode) && (packagedItem.packageStatus === 'IP'))">
          <ion-col text-center no-padding>
            <button ion-button full class="packagedItem-footer-button" (click)="completeTask(packagedItem)"> Complete </button>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </ion-card-content>    
  </ion-card>
</ion-content>
