<ion-header>
  <ion-navbar>
    <ion-title>
      States
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-searchbar [(ngModel)]="SearchState" [formControl]="SearchControl" (ionInput)="onSearchInput()"></ion-searchbar>
	<div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>

	<ion-list>
		<button ion-item *ngFor="let state of states" (click)="StateSelected(state)" >
			<ion-avatar item-start>
        		<img src="../assets/icon/favicon.ico">
      		</ion-avatar>
			<h2>{{state}}</h2>
			<ion-icon name="arrow-dropright" item-right></ion-icon>
		</button>
	</ion-list>
</ion-content>
