
<ion-header>

  <ion-toolbar>
    <ion-title>{{ pItem.pRule.nextTaskCode}} Output</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModel()" >
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar>
  </ion-toolbar>
 -->
</ion-header>


<ion-content padding style="position: relative;">

  <ion-card style="position: sticky; top: 0; z-index: 1;">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          
        </ion-col >
        <ion-col col-4  text-center style="font-weight: bold;">
          Input
        </ion-col >
        <ion-col col-4  text-center style="font-weight: bold;">
          Output
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4  text-center style="font-weight: bold;">
          Weight
        </ion-col>
        <ion-col col-4 text-center>
          {{inputWeight}}
        </ion-col>
        <ion-col col-4 text-center>
          {{totalOutputWeight}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4  text-center style="font-weight: bold;">
          Quantity
        </ion-col>
        <ion-col col-4 text-center>
          {{pItem.itemQty}}
        </ion-col>
        <ion-col col-4 text-center>
          {{totalOutputQty}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4  text-center style="font-weight: bold;">
          Cost
        </ion-col>
        <ion-col col-4 text-center>
          {{pItem.itemCost}}
        </ion-col>
        <ion-col col-4 text-center>
          0
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 text-center style="font-weight: bold;">
          Tax
        </ion-col>
        <ion-col col-4 text-center>
          {{pItem.itemTax}}
        </ion-col>
        <ion-col col-4 text-center>
          0
        </ion-col>
      </ion-row>      
    </ion-grid>
    <ion-item *ngIf="totalOutputWeight > inputWeight">
      <p class="errorMsg"> *Output weight should be less then {{inputWeight}}</p>
    </ion-item>
    <!--ion-item *ngIf="totalOutputQty < pItem.itemQty">
      <p class="errorMsg"> *Output quantity should be greater then {{pItem.itemQty}}</p>
    </ion-item-->
  </ion-card>
  
  <ion-list class="weight-split-list" no-lines *ngIf="pItem.pRule.bMultipleOutput" >
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="table">
          <ion-grid>
            <ion-row text-center nowrap>
              <ion-col class="table-header" *ngIf="pItem.pRule.nextTaskCode === 'PLANNING'" col-12>
                TO
              </ion-col>
              <ion-col class="table-header" *ngIf="pItem.pRule.nextTaskCode === 'MFG_RETURN'" col-12>
                SHAPE
              </ion-col>
              <ion-col class="table-header" *ngIf="pItem.pRule.nextTaskCode === 'ASSORTMENT'" col-6>
                SIEVE
              </ion-col>
              <ion-col class="table-header" *ngIf="pItem.pRule.nextTaskCode === 'ASSORTMENT'" col-6>
                LEVEL
              </ion-col>  
            </ion-row>  
            <ion-row *ngFor="let out of output; let i=index; trackBy: TrackBy" text-center nowrap>
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" *ngIf="pItem.pRule.nextTaskCode === 'PLANNING'" col-12>
                {{ output[i].nextTaskCode }}
              </ion-col> 
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" *ngIf="pItem.pRule.nextTaskCode === 'MFG_RETURN'" col-12>
                {{ output[i].shape }}
              </ion-col> 
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" *ngIf="pItem.pRule.nextTaskCode === 'ASSORTMENT'" col-6>
                {{ output[i].sieve }}
              </ion-col> 
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" *ngIf="pItem.pRule.nextTaskCode === 'ASSORTMENT'" col-6>
                {{ output[i].qualityLevel }}
              </ion-col> 
            </ion-row>              
          </ion-grid>
        </ion-col>
        <ion-col class="table">
          <ion-scroll scrollX="true" scrollY="false" zoom="false">
            <ion-grid>
              <ion-row text-center nowrap>
                <ion-col class="table-header" col-4>
                  WEIGHT
                </ion-col> 
                <ion-col class="table-header" col-4>
                  QTY
                </ion-col> 
                <ion-col class="table-header" col-6>
                  REMARKS
                </ion-col> 
              </ion-row>
              <ion-row  *ngFor="let out of output; let i=index; trackBy: TrackBy" nowrap>
                <ion-col col-4>
                  <ion-input type="number" [(ngModel)]="output[i].weight" (ionChange)="validateWeight(out)" ></ion-input>
                  <ion-item *ngIf="!output[i].validWeight">
                    <p class="errorMsg"> *Enter weight >= 0 (max is {{inputWeight}})</p>
                  </ion-item>
                </ion-col>                
                <ion-col col-4>
                  <ion-input type="number" [(ngModel)]="output[i].qty"></ion-input>
                </ion-col>
                <ion-col col-6>
                  <ion-input type="text" [(ngModel)]="output[i].remark"  ></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-scroll>              
        </ion-col>
      </ion-row>
    </ion-grid>    
  </ion-list>
  <!--
  <ng-template #singleOutput>
    <ion-list class="weight-split-list" no-lines  >
      <ion-item *ngFor="let out of output; let i=index; trackBy: TrackBy"> 
        <ion-grid class="weight-split-list" item-content>
          <ion-row> 
            <ion-col col-6>
              <ion-item>
                <ion-label stacked >Weight</ion-label>
                <ion-input type="number" [(ngModel)]="output[i].weight" (ionChange)="validateWeight(out)" ></ion-input>
              </ion-item>
              <ion-item *ngIf="!output[i].validWeight">
                <p class="errorMsg"> *Enter weight greater than 0 and less then {{inputWeight}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label stacked >Quantity</ion-label>
                <ion-input type="number" [(ngModel)]="output[i].qty"></ion-input>
              </ion-item>
              <ion-item *ngIf="!output[i].validQty">
                <p class="errorMsg"> *Enter quantity greater than 0</p>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label >Remark</ion-label>
                <ion-input type="text" [(ngModel)]="output[i].remark"  ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ng-template>
  -->
  <ion-fab *ngIf="pItem.pRule.bMultipleOutput" right bottom>
    <button ion-fab (click)="addInputRow()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
<ion-footer >
  <button ion-button full [disabled]="!bValidOutput" (click)="saveOutput()" > SAVE </button>
</ion-footer>
