page-task-output {
	.item-inner, ion-item {
	  border-bottom-color: transparent !important;
	  box-shadow: none !important;
	}

	.errorMsg{
        color: #D50000;
        font-size: 10px;
    }

	.card{
		border-radius: 5px;
	}

	ion-list.weight-split-list{
		margin: 10px;
		border-radius: 5px;
	}

	ion-grid.weight-split-list{
		padding: 0px;
		border-radius: 5px;
		border-right: 1px solid #999999;
		border-bottom: 3px solid #999999;
	}

	ion-input{
		border-radius: 5px;
		background-color: yellow;
	}
	ion-scroll{
        position: unset;
        padding: 0% !important;
	}
	
	ion-col.table{
        padding: 0% !important;
    }
    
	.scroll-content {
        padding: 0% !important;
    }

    .table-header{
        background-color: red;
        border: 1px solid black;
        font-weight: bold;
        padding: 5px !important;
    }

    .sticky-col-odd{
        border: 1px solid black;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-weight: bold;
        background-color: rgb(152, 179, 230);
    }

    .sticky-col-even{
        border: 1px solid black;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-weight: bold;
        background-color: rgb(255,255,255);
    }

    ion-grid{
        padding: 0% !important;
        // overflow: scroll;
    }
    .values-odd{
        border: 1px solid black !important;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        background-color: rgb(152, 179, 230);

    }

    .values-even{
        border: 1px solid black !important;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        background-color: rgb(255,255,255);
    }

    ion-row{
        padding: 0% !important;
        background-color: transparent;
    }


}
