<!--
  Generated template for the RiskSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Risks</ion-title>
    <ion-buttons end>
	  	<button style="color:black;background-color: transparent; width: 100% " padding (click)="goBack()">
          <ion-icon md="md-close"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let r of (riskList); let i=index">
    <ion-card-content no-padding>
      <ion-grid class="RAG_Red" *ngIf="(r.status === 'OPEN') && (r.RAG === 'RED')">
        <ion-row style="color:black;background:white">
          <ion-col col-7 text-left>  
            <ion-label stacked no-margin text-center>{{ r.estimatedClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
            <ion-label stacked no-margin text-center>({{ r.owner }})</ion-label>					
          </ion-col>
          <ion-col col-2>
            <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="editRisk(r)"><ion-icon md="md-create"></ion-icon></button>
          </ion-col>
          <ion-col col-2>
            <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="close(r)"><ion-icon md="md-checkbox"></ion-icon></button>
          </ion-col>
          <ion-col col-1>
            <button ion-button clear icon-only (click)="setRAG($event,r)">    <!--"editOrDelete(trxSummary)"-->
              <ion-icon name="more"></ion-icon> 
            </button> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-left>  
            <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.description }}</ion-label>					
          </ion-col>
        </ion-row>        
        <ion-row>
          <ion-col col text-center>  
            <ion-label stacked no-margin text-center>( IMPACT )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.impact }}</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-right>  
            <ion-label stacked no-margin text-center>( MITIGATION )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.mitigation }}</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-center> {{ r.remarks }} </ion-col>
        </ion-row>       
      </ion-grid>
      <ion-grid class="RAG_Amber" *ngIf="(r.status === 'OPEN') && (r.RAG === 'AMBER')">
        <ion-row style="color:black;background:white">
          <ion-col col-7 text-left>  
            <ion-label stacked no-margin text-center>{{ r.estimatedClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
            <ion-label stacked no-margin text-center>({{ r.owner }})</ion-label>					
          </ion-col>
          <ion-col col-2>
            <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="editRisk(r)"><ion-icon md="md-create"></ion-icon></button>
          </ion-col>
          <ion-col col-2>
            <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="close(r)"><ion-icon md="md-checkbox"></ion-icon></button>
          </ion-col>
          <ion-col col-1>
            <button ion-button clear icon-only (click)="setRAG($event,r)">    <!--"editOrDelete(trxSummary)"-->
              <ion-icon name="more"></ion-icon> 
            </button> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-left>  
            <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.description }}</ion-label>					
          </ion-col>
        </ion-row>        
        <ion-row>
          <ion-col col text-center>  
            <ion-label stacked no-margin text-center>( IMPACT )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.impact }}</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-right>  
            <ion-label stacked no-margin text-center>( MITIGATION )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.mitigation }}</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-center> {{ r.remarks }} </ion-col>
        </ion-row>       
      </ion-grid>
      <ion-grid class="RAG_Green" *ngIf="(r.status === 'OPEN') && (r.RAG === 'GREEN')">
        <ion-row style="color:black;background:white">
          <ion-col col-7 text-left>  
            <ion-label stacked no-margin text-center>{{ r.estimatedClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
            <ion-label stacked no-margin text-center>({{ r.owner }})</ion-label>					
          </ion-col>
          <ion-col col-2>
            <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="editRisk(r)"><ion-icon md="md-create"></ion-icon></button>
          </ion-col>
          <ion-col col-2>
            <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="close(r)"><ion-icon md="md-checkbox"></ion-icon></button>
          </ion-col>
          <ion-col col-1>
            <button ion-button clear icon-only (click)="setRAG($event,r)">    <!--"editOrDelete(trxSummary)"-->
              <ion-icon name="more"></ion-icon> 
            </button> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-left>  
            <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.description }}</ion-label>					
          </ion-col>
        </ion-row>        
        <ion-row>
          <ion-col col text-center>  
            <ion-label stacked no-margin text-center>( IMPACT )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.impact }}</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-right>  
            <ion-label stacked no-margin text-center>( MITIGATION )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.mitigation }}</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-center> {{ r.remarks }} </ion-col>
        </ion-row>       
      </ion-grid>
      <ion-grid class="RAG_Closed" *ngIf="(r.status === 'CLOSED')">
        <ion-row style="color:black;background:white">
          <ion-col col-10 text-left>  
            <ion-label stacked no-margin text-center>{{ r.actualClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
            <ion-label stacked no-margin text-center>({{ r.owner }})</ion-label>					
          </ion-col>
          <ion-col col-2>
            <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="open(r)"><ion-icon md="md-open"></ion-icon></button>
          </ion-col>          
        </ion-row>
        <ion-row>
          <ion-col col text-left>  
            <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.description }}</ion-label>					
          </ion-col>
        </ion-row>        
        <ion-row>
          <ion-col col text-center>  
            <ion-label stacked no-margin text-center>( IMPACT )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.impact }}</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-right>  
            <ion-label stacked no-margin text-center>( MITIGATION )</ion-label>
            <ion-label stacked no-margin text-center>{{ r.mitigation }}</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col text-center> {{ r.remarks }} </ion-col>
        </ion-row>       
      </ion-grid>        
    </ion-card-content>
  </ion-card>
  <ion-fab bottom right *ngIf="milestone.id">
    <button ion-fab (click)="addRisk()"> + </button>
  </ion-fab>
</ion-content>
