<!--
  Generated template for the ItemDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> Package Detail </ion-title>
    <ion-buttons end *ngIf="(pItem.pRule.bPartialAssign) && (pItem.packageStatus === 'RD')">
      <button ion-button (click)="doSplit()" type="button"> 
          <ion-icon ios="ios-cut" md="md-cut"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col text-center> {{ pItem.itemWeight }} cts </ion-col>
        <ion-col text-center> {{ pItem.itemCost + pItem.itemTax}} INR</ion-col>
        <ion-col text-center> {{ interestAmountForItem }} INR </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center> {{ pItem.pRule.curTaskCode }}</ion-col>
        <ion-col text-center> {{ pItem.pRule.nextTaskCode }}</ion-col>
        <ion-col text-center> {{ pItem.packageStatus }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center> Cut Series : {{ pItem.packageGroupID }}</ion-col>
      </ion-row>
      <ion-row *ngIf="(pItem.pRule.nextTaskCode === 'SALES') || (pItem.pRule.nextTaskCode === 'ASSORTMENT')">
        <ion-col> {{ pItem.itemShape.id }} </ion-col>
        <ion-col> {{ pItem.itemSieve.id }} </ion-col>
        <ion-col> {{ pItem.itemQualityLevel.id }} </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="(partyProfile) && (businessTransaction)">
    <ion-grid>
      <ion-row>
        <ion-col text-center> Sourced From : {{ partyProfile.fullName }} On {{ businessTransaction.trxDate | date: 'dd-MM-yyyy' }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center> Invoice No : {{ pItem.trxInvoiceID }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center> Due  : {{ daysForDue }} days </ion-col>
      </ion-row>
      <ion-row>    
        <ion-col text-center> {{ businessTransaction.trxQty }} cts X {{ businessTransaction.trxRate }} {{ businessTransaction.trxCurrency }}</ion-col>
      </ion-row>      
      <ion-row *ngIf="businessTransaction.trxCurrency === 'USD'">
        <ion-col text-center> Total {{ businessTransaction.trxValue * businessTransaction.trxCurrencyRate}} INR </ion-col>
      </ion-row>
      <ion-row *ngIf="businessTransaction.trxCurrency === 'INR'">
        <ion-col text-center> Total {{ businessTransaction.trxValue}} INR </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
  <ion-grid>
    <ion-row>
      <ion-col col-auto class="table">
        <ion-grid>
          <ion-row text-center nowrap col-auto>
            <ion-col class="table-header">
              WEIGHT
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let ancestorItem of (ancestorsPackagedItemList); let i=index" text-center nowrap>
            <ion-col class="values-ancestors">
              {{ ancestorItem.itemWeight }}
            </ion-col>
          </ion-row>
          <ion-row text-center nowrap>
            <ion-col class="values-item">
              {{ pItem.itemWeight }}
            </ion-col>
          </ion-row>
          <!--ion-row *ngFor="let descendantItem of descendantPackagedItemList; let i=index" text-center nowrap>
            <ion-col class="values-descendant">
              {{ descendantItem.itemWeight }}
            </ion-col>                         
          </ion-row-->
        </ion-grid>
      </ion-col>          
      <ion-col>
        <ion-scroll scrollX="true" scrollY="false" zoom="false">    
          <ion-grid>
            <ion-row text-center nowrap>
              <ion-col class="table-header" col-4>
                FROM
              </ion-col> 
              <ion-col class="table-header" col-4>
                TO
              </ion-col>
              <ion-col class="table-header" col-3>
                COST
              </ion-col>
              <ion-col class="table-header" col-3>
                % Share
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let ancestorsItem of (ancestorsPackagedItemList); let i=index" text-center nowrap>
              <ion-col class="values-ancestors" col-4>
                {{ ancestorsItem.pRule.curTaskCode }}
              </ion-col> 
              <ion-col class="values-ancestors" col-4>
                {{ ancestorsItem.pRule.nextTaskCode }}
              </ion-col>     
              <ion-col class="values-ancestors" col-3 >
                {{ ancestorsItem.itemCost }}
              </ion-col>
              <ion-col class="values-ancestors" col-3 >
                {{ ancestorsItem.trxShare }}
              </ion-col>                 
            </ion-row>
            <ion-row text-center nowrap>
              <ion-col class="values-item" col-4 >
                {{ pItem.pRule.curTaskCode }}
              </ion-col>
              <ion-col class="values-item" col-4 >
                {{ pItem.pRule.nextTaskCode }}
              </ion-col>
              <ion-col class="values-item" col-3 >
                {{ pItem.itemCost }}
              </ion-col>
              <ion-col class="values-item" col-3 >
                {{ pItem.trxShare }}
              </ion-col>                 
            </ion-row>
            <!--ion-row *ngFor="let descendantItem of descendantPackagedItemList; let i=index" text-center nowrap>
              <ion-col class="values-descendant" col-4 >
                {{ descendantItem.pRule.curTaskCode }}
              </ion-col>
              <ion-col class="values-descendant" col-4 >
                {{ descendantItem.pRule.nextTaskCode }}
              </ion-col> 
              <ion-col class="values-descendant" col-3 >
                {{ descendantItem.itemCost }}
              </ion-col>
              <ion-col class="values-descendant" col-3 >
                {{ descendantItem.trxShare }}
              </ion-col>                 
            </ion-row-->
          </ion-grid>
        </ion-scroll>
      </ion-col>
    </ion-row>    
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button full [disabled]="(actionText==='NONE')"(click)="takeAction()" type="button">{{ actionText }}</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full [disabled]="(!pItem.parentID) || (pItem.packageStatus === 'CO')" (click)="doUndo()" type="button"> UNDO </button>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
