page-traders {

	.scroll-content{
		background-color: map-get($colors,contentBackground);
	}

	.card{
		border-radius: 10px;
	}

	ion-card-header{
		background-color: map-get($colors,primary);
		color: white;
	}

	.tags{
		background-color: map-get($colors,light) ;
		text-align: center;
	}

	.call{
		margin: 0;
		border-color: white;
	}

	ion-col.call{
		padding: 0;
		text-align: center;
	}

	ion-item.call{
		font-weight: bold;
		background-color: transparent;
		color: white;
	}

}
