<!--
  Generated template for the TradersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Traders</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

	<ion-card margin-bottom no-padding>
		<ion-card-header padding>
			<ion-grid style="padding: 0 ;">
				<ion-row>
					<ion-col style="color:white;font-weight: bold"  text-center >
						Isani gems
					</ion-col>
					<ion-col col-auto class="call">
			            <button class="call" ion-button small outline round icon-only > 
			              <ion-item class="call" >
			                <ion-icon name="call"></ion-icon>
			              </ion-item>
			            </button>
			        </ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-header>
		<ion-card-content no-padding>
			<p class="tags" >Stock Details:</p>
			<ion-grid style="padding: 0 ;">
				<ion-row>
					<ion-col text-center>
						<ion-label stacked no-margin>Stock Issued</ion-label>
						2000
						<ion-label stacked no-margin>(2400000)</ion-label>
					</ion-col>
					<ion-col text-center>
						<ion-label stacked no-margin>Stock Returned</ion-label>
						1500
						<ion-label stacked no-margin>(1800000)</ion-label>
					</ion-col>
					<ion-col text-center>
						<ion-label stacked no-margin>Stock Pending</ion-label>
						500
						<ion-label stacked no-margin>(600000)</ion-label>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col text-center>
						<ion-label stacked no-margin>Expected Gain</ion-label>
						50%
					</ion-col>
					<ion-col text-center>
						<ion-label stacked no-margin>Actual Gain</ion-label>
						52%
					</ion-col>
					<ion-col text-center>
						<ion-label stacked no-margin>Labour Rate</ion-label>
						1200
					</ion-col>
				</ion-row>
			</ion-grid>
			<p class="tags" >Finance Details:</p>
			<ion-grid style="padding: 0 ;">
				<ion-row>
					<ion-col text-center>
						<ion-label stacked no-margin>Total Amount</ion-label>
						1800000
					</ion-col>
					<ion-col text-center>
						<ion-label stacked no-margin>Received</ion-label>
						1200000
					</ion-col>
					<ion-col text-center>
						<ion-label stacked no-margin>Pending</ion-label>
						600000
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

</ion-content>
