<!--
  Generated template for the MyPricePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>my Prices</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label> Type </ion-label>
    <ion-select [(ngModel)] = "iType" (ionChange)="onItemTypeChange()">
      <ion-option *ngFor="let itemType of itemTypeList" [value]="itemType.id">{{itemType.name}}</ion-option> 
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label> Shape </ion-label>
    <ion-select [(ngModel)] = "iShape" (ionChange)="getMarketPriceList()">
      <ion-option *ngFor="let itemShape of itemShapeList" [value]="itemShape.id">{{itemShape.name}}</ion-option> 
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label> Sieve </ion-label>
    <ion-select [(ngModel)] = "iSieve" (ionChange)="getMarketPriceList()">
      <div *ngFor="let itemSieve of itemFilteredSieveList;let i=index">
        <ion-option *ngIf="i<itemFilteredSieveList.length-1" [value]="itemFilteredSieveList[i].id">+{{itemFilteredSieveList[i].name}} -{{itemFilteredSieveList[i+1].name}}</ion-option> 
      </div>      
    </ion-select>          
  </ion-item>
  <div *ngFor="let itemPrice of itemPriceList; let i=index">
    <ion-item *ngIf="(itemPriceList[i].itemTypeID === iType) && (itemPriceList[i].shapeID === iShape) && (itemPriceList[i].sieveID === iSieve)">
      <ion-label floating > {{  itemPriceList[i].qualityLevelID }} </ion-label>
      <ion-input type="number" [(ngModel)] = "itemPriceList[i].rate" (ionChange)="onPriceChange(i)"> </ion-input>
    </ion-item>
  </div>  
</ion-list>
<button ion-button full [disabled]="!bSave" (click)="onSave()">SAVE</button>
</ion-content>
