<!--
  Generated template for the IssueSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Issues</ion-title>
    <ion-buttons end>
      <button style="color:black;background-color: transparent; width: 100% " padding (click)="goBack()">
        <ion-icon md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let i of (issueList); let i=index">
    <ion-grid class="RAG_Red" *ngIf="(i.status === 'OPEN') && (i.RAG === 'RED')">
      <ion-row style="color:black;background:white">
        <ion-col col-7 text-left>  
          <ion-label stacked no-margin text-center>{{ i.estimatedClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
          <ion-label stacked no-margin text-center>({{ i.owner }})</ion-label>					
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="editIssue(i)"><ion-icon md="md-create"></ion-icon></button>
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="close(i)"><ion-icon md="md-checkbox"></ion-icon></button>
        </ion-col>
        <ion-col col-1>
          <button ion-button clear icon-only (click)="setRAG($event,i)">    <!--"editOrDelete(trxSummary)"-->
            <ion-icon name="more"></ion-icon> 
          </button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-left>  
          <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
          <ion-label stacked no-margin text-center>{{ i.description }}</ion-label>					
        </ion-col>
      </ion-row>        
      <ion-row>
        <ion-col col text-center>  
          <ion-label stacked no-margin text-center>( IMPACT )</ion-label>
          <ion-label stacked no-margin text-center>{{ i.impact }}</ion-label>					
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-center> {{ i.remarks }} </ion-col>
      </ion-row>       
    </ion-grid>
    <ion-grid class="RAG_Amber" *ngIf="(i.status === 'OPEN') && (i.RAG === 'AMBER')">
      <ion-row style="color:black;background:white">
        <ion-col col-7 text-left>  
          <ion-label stacked no-margin text-center>{{ i.estimatedClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
          <ion-label stacked no-margin text-center>({{ i.owner }})</ion-label>					
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="editIssue(i)"><ion-icon md="md-create"></ion-icon></button>
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="close(i)"><ion-icon md="md-checkbox"></ion-icon></button>
        </ion-col>
        <ion-col col-1>
          <button ion-button clear icon-only (click)="setRAG($event,i)">    <!--"editOrDelete(trxSummary)"-->
            <ion-icon name="more"></ion-icon> 
          </button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-left>  
          <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
          <ion-label stacked no-margin text-center>{{ i.description }}</ion-label>					
        </ion-col>
      </ion-row>        
      <ion-row>
        <ion-col col text-center>  
          <ion-label stacked no-margin text-center>( IMPACT )</ion-label>
          <ion-label stacked no-margin text-center>{{ i.impact }}</ion-label>					
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-center> {{ i.remarks }} </ion-col>
      </ion-row>       
    </ion-grid>
    <ion-grid class="RAG_Green" *ngIf="(i.status === 'OPEN') && (i.RAG === 'GREEN')">
      <ion-row style="color:black;background:white">
        <ion-col col-7 text-left>  
          <ion-label stacked no-margin text-center>{{ i.estimatedClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
          <ion-label stacked no-margin text-center>({{ i.owner }})</ion-label>					
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="editIssue(i)"><ion-icon md="md-create"></ion-icon></button>
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="close(i)"><ion-icon md="md-checkbox"></ion-icon></button>
        </ion-col>
        <ion-col col-1>
          <button ion-button clear icon-only (click)="setRAG($event,i)">    <!--"editOrDelete(trxSummary)"-->
            <ion-icon name="more"></ion-icon> 
          </button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-left>  
          <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
          <ion-label stacked no-margin text-center>{{ i.description }}</ion-label>					
        </ion-col>
      </ion-row>        
      <ion-row>
        <ion-col col text-center>  
          <ion-label stacked no-margin text-center>( IMPACT )</ion-label>
          <ion-label stacked no-margin text-center>{{ i.impact }}</ion-label>					
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-center> {{ i.remarks }} </ion-col>
      </ion-row>       
    </ion-grid>
    <ion-grid class="RAG_Closed" *ngIf="(i.status === 'CLOSED')">
      <ion-row style="color:black;background:white">
        <ion-col col-7 text-left>  
          <ion-label stacked no-margin text-center>{{ i.actualClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
          <ion-label stacked no-margin text-center>({{ i.owner }})</ion-label>					
        </ion-col>
        <ion-col col-3>
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="open(i)"><ion-icon md="md-open"></ion-icon></button>
        </ion-col>        
      </ion-row>
      <ion-row>
        <ion-col col text-left>  
          <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
          <ion-label stacked no-margin text-center>{{ i.description }}</ion-label>					
        </ion-col>
      </ion-row>        
      <ion-row>
        <ion-col col text-center>  
          <ion-label stacked no-margin text-center>( IMPACT )</ion-label>
          <ion-label stacked no-margin text-center>{{ i.impact }}</ion-label>					
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-center> {{ i.remarks }} </ion-col>
      </ion-row>       
    </ion-grid>    
  </ion-card>

  <ion-fab bottom right *ngIf="milestone.id">
    <button ion-fab (click)="addIssue()"> + </button>
  </ion-fab>
</ion-content>
