<ion-header>
  <ion-navbar>
    <ion-title>
      my Business
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button  ion-button block  color="primary"  (click)="gotoPackageRules()">Package Rules</button>
  <button  ion-button block  color="primary"  (click)="addItem()">BUY ROUGH</button>
  <div *ngIf="(taskSummaryList) && (taskSummaryList.length > 0)">
    <ion-card *ngFor="let taskSummary of taskSummaryList; let i=index" type="button" >
      <ion-card-header no-padding>
        <ion-grid style="padding: 0 ;" >
          <ion-row>
            <ion-col text-center >
                {{ taskSummary.taskCode }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content no-padding (click)="gotoTaskSummary(taskSummary.taskCode)">
        <ion-grid> 
          <ion-row>
              <ion-col col-4> Input :</ion-col>
              <ion-col col-2>{{ taskSummary.Input.totalQty }}</ion-col>
              <ion-col col-2>{{ taskSummary.Input.totalWeight }}</ion-col>
              <ion-col col-2>{{ taskSummary.Input.totalCost }}</ion-col>
              <ion-col col-2>{{ taskSummary.Input.totalTax }}</ion-col>        
          </ion-row>
          <ion-row>
            <ion-col col-4> In Progress :</ion-col>
            <ion-col col-2>{{ taskSummary.InProgress.totalQty }}</ion-col>
            <ion-col col-2>{{ taskSummary.InProgress.totalWeight }}</ion-col>
            <ion-col col-2>{{ taskSummary.InProgress.totalCost }}</ion-col>
            <ion-col col-2>{{ taskSummary.InProgress.totalTax }}</ion-col>        
          </ion-row>
          <ion-row>
            <ion-col col-4> Completed :</ion-col>
            <ion-col col-2>{{ taskSummary.Completed.totalQty }}</ion-col>
            <ion-col col-2>{{ taskSummary.Completed.totalWeight }}</ion-col>
            <ion-col col-2>{{ taskSummary.Completed.totalCost }}</ion-col>
            <ion-col col-2>{{ taskSummary.Completed.totalTax }}</ion-col>        
          </ion-row>
          <ion-row>
            <ion-col col-4> Output :</ion-col>
            <ion-col col-2>{{ taskSummary.Output.totalQty }}</ion-col>
            <ion-col col-2>{{ taskSummary.Output.totalWeight }}</ion-col>
            <ion-col col-2>{{ taskSummary.Output.totalCost }}</ion-col>
            <ion-col col-2>{{ taskSummary.Output.totalTax }}</ion-col>        
          </ion-row>
          <ion-row>
            <ion-col col-4> Pending :</ion-col>
            <ion-col col-2>{{ taskSummary.Pending.totalQty }}</ion-col>
            <ion-col col-2>{{ taskSummary.Pending.totalWeight }}</ion-col>
            <ion-col col-2>{{ taskSummary.Pending.totalCost }}</ion-col>
            <ion-col col-2>{{ taskSummary.Pending.totalTax }}</ion-col>        
          </ion-row>
        </ion-grid>
      </ion-card-content>    
    </ion-card>  
  </div>
</ion-content>
