<ion-header>
  <ion-navbar>
    <ion-title>
      Demo app 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div>
		<div style="display: block" style="min-width: 310px; max-width: 800px; height: 200px; margin: 0 auto">
			<canvas baseChart 
			        [datasets]="barChartData1"
			        [labels]="barChartLabels1"
			        [options]="barChartOptions1"
			        [legend]="barChartLegend1"
			        [chartType]="barChartType1"
			        ></canvas>
		</div>
	</div>
	<div>
		<div style="display: block" style="min-width: 310px; max-width: 800px; height: 200px; margin: 0 auto">
			<canvas baseChart 
			        [datasets]="barChartData2"
			        [labels]="barChartLabels2"
			        [options]="barChartOptions2"
			        [legend]="barChartLegend2"
			        [chartType]="barChartType2"
			        ></canvas>
		</div>
	</div>
</ion-content>
