<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="(user.ID !=='')">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="onTitleClick()" *ngIf="confidentialityLevel === 1">      
      Party Summary List
    </ion-title>
    <ion-title (click)="onTitleClick()" *ngIf="confidentialityLevel === 2">      
      Party Summary List*
    </ion-title>
    <ion-buttons end *ngIf="(((user.organisationID !=='') && (user.ID !=='') && (user.ID !=='M')) && authProvider.getAuthenticated())">
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
      <!-- <button ion-button clear icon-only (click)="filterButtonClick()">    
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button>  -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="(((user.organisationID !=='') && (user.ID !=='') && (user.ID !=='M')) && authProvider.getAuthenticated())">
    <ion-card *ngFor="let p of filteredPartyList; let i=index" type="button" >
      <ion-card-header>
        <ion-grid class="card-header">                                                              
          <ion-row class="card-header">
            <ion-col class="card-header">
              <ion-item class="card-header" (click)="showPartyProfileDetails(p.profile)">
                <ion-avatar item-start *ngIf="p.profile.category === 'Buyer'">
                  <img src="assets/imgs/customer.png">
                </ion-avatar>
                <ion-avatar item-start *ngIf="p.profile.category === 'Supplier'">
                  <img src="assets/imgs/supplier.png">
                </ion-avatar>
                <ion-avatar item-start *ngIf="p.profile.category === 'Broker'">
                  <img src="assets/imgs/broker.png">
                </ion-avatar>
                {{ p.profile.fullName }}
              </ion-item>
            </ion-col>
            <ion-col col-auto class="call" >
              <button class="call" ion-button small outline round icon-only (click)="callNumber(p.profile.phone_1)"> 
                <ion-item class="call" >
                  <ion-icon name="call"></ion-icon> 
                </ion-item>
              </button>
            </ion-col>
            <ion-col col-auto>
              <button class="more" ion-button clear icon-only (click)="editOrDeletePartyProfile(p.profile)"> 
                <ion-icon name="more"></ion-icon> 
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content (click)="goToSummaryPage(p)">
        <div style="display: block">
        <canvas *ngIf="p.profile.category === 'Buyer'" baseChart
                    [data]=[p.businessSummary.amtPendinginLocal,p.businessSummary.amtReceviedOrPaidinLocal]
                    [labels]="['Remaining','Received']"
                    [chartType]="'doughnut'"
                    ></canvas>
        <canvas *ngIf="p.profile.category === 'Supplier'" baseChart
                    [data]=[p.businessSummary.amtPendinginLocal,p.businessSummary.amtReceviedOrPaidinLocal]
                    [labels]="['Pending','Paid']"
                    [chartType]="'doughnut'"
                    ></canvas>
        <canvas *ngIf="p.profile.category === 'Broker'" baseChart
                    [data]=[p.businessSummary.amtPendinginLocal,p.businessSummary.amtReceviedOrPaidinLocal]
                    [labels]="['Pending','Paid']"
                    [chartType]="'doughnut'"
                    ></canvas>              
        </div>
      </ion-card-content>
      <ion-grid class="card-footer">
        <ion-row class="card-footer" >
          <ion-col class="card-footer">{{ p.businessSummary.businessAmtTotalinLocal | INR}} - {{ p.businessSummary.amtReceviedOrPaidinLocal | INR}} = {{ p.businessSummary.amtPendinginLocal | INR}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>  
</ion-content>
<ion-footer class="footer" *ngIf="(user.ID != '')">
  <ion-grid class="footer">
    <ion-row class="footer">
      <ion-col col-4 class="footer">
        <ion-item class="footer" no-lines (click)="addParty()" *ngIf="(user.bWriteAccess)">
          <ion-icon name='person-add'></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-4 class="footer">
        <ion-item class="footer" no-lines (click)="goToMySummary()" *ngIf="(user.bWriteAccess)">
          <ion-icon name='stats'></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-4 class="footer">
        <ion-item class="footer" no-lines (click)="downloadPdf()" *ngIf="(user.bWriteAccess)">
            <img src="assets/imgs/pdf.png">          
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>