<!--
  Generated template for the PackageTracePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Trace</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  ANCESTORS
  <ion-card *ngFor="let packagedItem of ancestorsPackagedItemList; let i=index">
    <ion-card-content no-padding>
      <ion-grid> 
        <ion-row>
          <ion-col col-3> {{ packagedItem.packageCurTaskCode }}</ion-col>
          <ion-col col-3> {{ packagedItem.packageNextTaskCode }}</ion-col>  
          <ion-col col-3> {{ packagedItem.itemWeight }}</ion-col>
          <ion-col col-3> {{ packagedItem.itemCost }}</ion-col>
        </ion-row>        
        <ion-row>
          <ion-col col-3 text-center>pID: {{ packagedItem.id }}</ion-col>
          <ion-col col-3 text-center>ppID: {{ packagedItem.parentPackageID }}</ion-col>
          <ion-col col-6 text-center>pgID: {{ packagedItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ packagedItem.packageID }}</ion-col>
        </ion-row>                           
      </ion-grid>
    </ion-card-content>    
  </ion-card>
  CURRENT
  <ion-card>
    <ion-card-content no-padding>
      <ion-grid> 
        <ion-row>
          <ion-col col-3> {{ pItem.packageCurTaskCode }}</ion-col>
          <ion-col col-3> {{ pItem.packageNextTaskCode }}</ion-col>  
          <ion-col col-3> {{ pItem.itemWeight }}</ion-col>
          <ion-col col-3> {{ pItem.itemCost }}</ion-col>
        </ion-row>        
        <ion-row>
          <ion-col col-3 text-center>pID: {{ pItem.id }}</ion-col>
          <ion-col col-3 text-center>ppID: {{ pItem.parentPackageID }}</ion-col>
          <ion-col col-6 text-center>pgID: {{ pItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ pItem.packageID }}</ion-col>
        </ion-row>                           
      </ion-grid>
    </ion-card-content>    
  </ion-card>
  DESCENDANT
  <ion-card *ngFor="let packagedItem of descendantPackagedItemList; let i=index">
    <ion-card-content no-padding>
      <ion-grid> 
        <ion-row>
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.packageCurTaskCode }}</ion-col>
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.packageNextTaskCode }}</ion-col>  
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.itemWeight }}</ion-col>
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.itemCost }}</ion-col>
        </ion-row>        
        <ion-row>
          <ion-col col-3 text-center>pID: {{ packagedItem.id }}</ion-col>
          <ion-col col-3 text-center>ppID: {{ packagedItem.parentPackageID }}</ion-col>
          <ion-col col-6 text-center>GroupID: {{ packagedItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ packagedItem.packageID }}</ion-col>
        </ion-row>                           
      </ion-grid>
    </ion-card-content>    
  </ion-card>
</ion-content>
