<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-item *ngFor="let brother of brothers">
		<span>{{brother.fname}} {{brother.lname}}</span>
	</ion-item>

</ion-content>
