<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
      <ion-title >
          Hisaab Diary
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openSettings()">
              <ion-icon name="settings"></ion-icon>
            </button>
          </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let p of partyList; let i=index" type="button" >
    <ion-card-header>
      <ion-grid class="card-header">                                                              
        <ion-row class="card-header">
          <ion-col class="card-header">
            <ion-item class="card-header">
              <ion-avatar item-start *ngIf="p.party.category === 'Buyer'">
                <img src="assets/imgs/buyer.png">
              </ion-avatar>
              <ion-avatar item-start *ngIf="p.party.category === 'Supplier'">
                <img src="assets/imgs/supplier.png">
              </ion-avatar>
              {{ p.party.fullName }}
            </ion-item>
          </ion-col>
          <ion-col col-auto class="call" >
            <button class="call" ion-button small outline round icon-only (click)="callNumber(p.party.phone_1)"> 
              <ion-item class="call" >
                <ion-icon name="call"></ion-icon> 
              </ion-item>
            </button>
          </ion-col>
          <ion-col col-auto>
            <button class="more" ion-button clear icon-only (click)="editOrDeletePartyProfile(p.party)"> 
              <ion-icon name="more"></ion-icon> 
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content (click)="GoToSummaryPage(p)">
      <div style="display: block">
      <canvas *ngIf="p.party.category === 'Buyer'" baseChart
                  [data]=[p.amtPendinginLocal,p.amtReceviedOrPaidinLocal]
                  [labels]="['Remaining','Received']"
                  [chartType]="'doughnut'"
                  ></canvas>
      <canvas *ngIf="p.party.category === 'Supplier'" baseChart
                  [data]=[p.amtPendinginLocal,p.amtReceviedOrPaidinLocal]
                  [labels]="['Pending','Paid']"
                  [chartType]="'doughnut'"
                  ></canvas>            
      </div>
    </ion-card-content>
    <ion-grid class="card-footer">
      <ion-row class="card-footer" >
        <ion-col class="card-footer">{{ p.businessAmtTotalinLocal | INR}} - {{ p.amtReceviedOrPaidinLocal | INR}} = {{ p.amtPendinginLocal | INR}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- <button ion-button full (click)="calculateMySummary()" color="primary" > My Summary</button> -->
</ion-content>
<ion-footer class="footer">
  <ion-grid class="footer">
    <ion-row class="footer">
      <ion-col col-4 class="footer">
        <ion-item  class="footer" no-lines (click)="addParty()">
          <ion-icon name='person-add'></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-4 class="footer">
        <ion-item class="footer" no-lines (click)="GoToMySummary()">
          <ion-icon name='stats'></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-4 class="footer">
        <ion-item class="footer" no-lines (click)="downloadPdf()">
            <img src="assets/imgs/pdf.png">          
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>