<!--
  Generated template for the CityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cities</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<ion-list>
		<button ion-item *ngFor="let city of cities" (click)="CitySelected(city)" >
			<ion-avatar item-start>
        		<img src="../assets/icon/favicon.ico">
      		</ion-avatar>
			<h2>{{city}}</h2>
			<ion-icon name="arrow-dropright" item-right></ion-icon>
		</button>
	</ion-list>
</ion-content>
