<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{fpo.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header text-center class="header">
            <ion-row>
                <ion-col text-center col-10>
                    {{fpo.name}}
                </ion-col>
                <ion-col text-right>
                    <ion-badge item-end>{{numberOfFarmers}} </ion-badge>
                </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col text-center>
                        {{fpo.locality}}
                    </ion-col>
                    <ion-col text-center>
                        {{fpo.phoneNumber}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-segment [(ngModel)]="displayList">
                <ion-segment-button value="farmers">
                    Farmers
                </ion-segment-button>
                <ion-segment-button value="crops">
                    Crops
                </ion-segment-button>
            </ion-segment>
        </ion-card-header>
        <ion-card-content [ngSwitch]="displayList">
            <ion-list *ngSwitchCase="'farmers'">
                <ion-item *ngFor="let farmer of farmerList" class="farmer-list">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 style="font-weight: bold">
                                {{farmer.name}}
                            </ion-col>
                            <ion-col col-6 text-left>
                                <label style="font-weight: bold"> Land Size : </label>
                                {{farmer.landSize}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
            <ion-list *ngSwitchCase="'crops'">
                <ion-item *ngFor="let crop of fpo.crops " class="farmer-list">
                    <ion-grid>
                        <ion-row>
                            <ion-col style="font-weight: bold">
                                {{crop.name}}
                            </ion-col>
                            <ion-col>
                                <label style="font-weight: bold"> Quantity : </label>
                                {{crop.quantity}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-fab right bottom *ngIf=" sentFrom === 'homePage' " >
        <button ion-fab (click)="addFarmer()" class="fab-button">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>