.light-theme {
    ion-content{
        background-color: #E0E0E0;
    }

    .toolbar-title{
        color: white;
    }
    .toolbar-background{
        background-color: #488aff;
        color: #fff;
    }

    .bar-button-default-md{
        color:#fff;
    }

    .scroll-content ion-content{
        background-color: #E0E0E0;
    }
}