<!--
  Generated template for the TransactionFilterPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-list>
    <ion-item (click) = "selectedTransaction('Sell')">
      Sales
    </ion-item>
    <ion-item (click) = "selectedTransaction('Buy')">
      Purchase
    </ion-item>
    <ion-item (click) = "selectedTransaction('Payment')">
      Payment
    </ion-item>    
  </ion-list>
  
</ion-content>
