<!--
  Generated template for the SalesStockListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Polished Stock List</ion-title>
    <ion-buttons end *ngIf="(user.ID != '')">
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchInput" [formControl]="searchControl" (ionInput)="onSearch($event)" placeholder="Series Weight">
  </ion-searchbar> 
  <ion-list *ngIf="searchInput">
    <ion-item *ngFor="let search of searchList" (click)="inputSelected($event,search)">
      <h2 text-capitalize>{{search}}</h2>
    </ion-item>
  </ion-list>
</ion-header>
  
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> Type </ion-label>
      <ion-select [(ngModel)] = "iType" (ionChange)="onItemTypeChange()">
        <ion-option *ngFor="let itemType of itemTypeList" [value]="itemType">{{itemType.name}}</ion-option> 
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label> Shape </ion-label>
      <ion-select [(ngModel)] = "iShape" (ionChange)="filterPackagedItem()">
        <ion-option *ngFor="let itemShape of itemShapeList" [value]="itemShape">{{itemShape.name}}</ion-option> 
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)] = "iSieveMin" (ionChange)="filterPackagedItem()">
        <div *ngFor="let itemSieve of itemFilteredSieveList;let i=index">
          <ion-option *ngIf="i<itemFilteredSieveList.length-1" [value]="itemSieve">+{{itemSieve.name}}</ion-option> 
        </div> 
      </ion-select>  
      <ion-label> Sieve </ion-label>
      <ion-select [(ngModel)] = "iSieveMax" (ionChange)="filterPackagedItem()">
        <div *ngFor="let itemSieve of itemFilteredSieveList;let i=index">
          <ion-option *ngIf="i>0" [value]="itemSieve">-{{itemSieve.name}}</ion-option> 
        </div> 
      </ion-select>
    </ion-item>
    <ion-item *ngIf="iType.id === 'POLISHED'">
      <ion-label> Rank </ion-label>
      <ion-select [(ngModel)] = "iQualityLevelMin" (ionChange)="filterPackagedItem()">
        <ion-option *ngFor="let itemQualityLevel of itemFilteredQualityLevelList" [value]="itemQualityLevel">{{itemQualityLevel.name}}</ion-option> 
      </ion-select>  
      <ion-select [(ngModel)] = "iQualityLevelMax" (ionChange)="filterPackagedItem()">
        <ion-option *ngFor="let itemQualityLevel of itemFilteredQualityLevelList" [value]="itemQualityLevel">{{itemQualityLevel.name}}</ion-option> 
      </ion-select>
    </ion-item>
    <ion-item *ngIf="(iType.id === 'ROUGH') || (iType.id === 'TOPS')">
      <ion-label> Category </ion-label>
      <ion-select [(ngModel)] = "iQualityLevelMin" (ionChange)="filterPackagedItem()">
        <ion-option *ngFor="let itemQualityLevel of itemFilteredQualityLevelList" [value]="itemQualityLevel">{{itemQualityLevel.name}}</ion-option> 
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-grid>
      <ion-row text-center no-wrap>
        <ion-col> {{ totalWeight }} cts</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid>
    <ion-row >
      <ion-col col-6 class="SalesTableCol">
        <ion-grid class="SalesTable">
          <ion-row text-center nowrap>
            <ion-col class="table-header" col-6>
              SIEVE
            </ion-col>
            <ion-col class="table-header" col-6>
              RANK
            </ion-col>
          </ion-row>
          <div *ngFor="let packagedItem of filteredItemList; let i=index" (click)="onPackageClicked(packagedItem)">
            <!--ion-row text-center nowrap *ngIf="(packagedItem.itemShape.id === iShape.id) && (packagedItem.itemSieve.rank >= +iSieveMin.rank) && (packagedItem.itemSieve.rank <= +iSieveMax.rank) && (packagedItem.itemQualityLevel.rank >= +iQualityLevelMin.rank) && (packagedItem.itemQualityLevel.rank <= +iQualityLevelMax.rank)"-->
            <!--ion-row text-center nowrap *ngIf="((!searchSeriesID) || ((searchSeriesID) && (packagedItem.packageGroupID === searchSeriesID))) && ((packagedItem.itemShape.id === iShape.id) || (iShape.id === 'ALL')) && (packagedItem.itemSieve.rank >= +iSieveMin.rank) && (packagedItem.itemSieve.rank <= +iSieveMax.rank)  && (packagedItem.itemQualityLevel.rank >= +iQualityLevelMin.rank) && (packagedItem.itemQualityLevel.rank <= +iQualityLevelMax.rank)"-->
            <ion-row text-center nowrap>            
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
                +{{packagedItem.itemSieve.name}} -{{ getNextSieve(packagedItem.itemSieve).name }}
              </ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
                {{packagedItem.itemQualityLevel.name}}
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-col>
      <ion-col class="SalesTableCol">
        <ion-scroll scrollX="true" scrollY="false" zoom="false">
          <ion-grid class="SalesTable">
            <ion-row text-center nowrap >
              <ion-col class="table-header" col-8> Cts </ion-col>
              <ion-col class="table-header" col-8> Series Code </ion-col>              
              <ion-col class="table-header" col-8> Series Name </ion-col>
              <ion-col class="table-header" col-10> Party Name </ion-col>
              <ion-col class="table-header" col-8> Purchase Date </ion-col>
              <ion-col class="table-header" col-8> Purchase Weight </ion-col>
              <ion-col class="table-header" col-8> Purchase Rate </ion-col>
              <ion-col class="table-header" col-12> Remarks </ion-col>
            </ion-row>
            <div *ngFor="let packagedItem of filteredItemList; let i=index"> 
              <!--ion-row text-center nowrap *ngIf="((!searchSeriesID) || ((searchSeriesID) && (packagedItem.packageGroupID === searchSeriesID))) && ((packagedItem.itemShape.id === iShape.id) || (iShape.id === 'ALL')) && (packagedItem.itemSieve.rank >= +iSieveMin.rank) && (packagedItem.itemSieve.rank <= +iSieveMax.rank)  && (packagedItem.itemQualityLevel.rank >= +iQualityLevelMin.rank) && (packagedItem.itemQualityLevel.rank <= +iQualityLevelMax.rank)"-->
              <ion-row text-center nowrap>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ packagedItem.itemWeight }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ packagedItem.packageGroupID }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ packagedItem.packageGroupName }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-10 > <b>{{ packagedItem.trxPartyName }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ packagedItem.trxDate }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ packagedItem.trxWeight }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 *ngIf="packagedItem.trxCurrency === 'INR'"> <b>{{ packagedItem.trxRate | INR}}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 *ngIf="packagedItem.trxCurrency === 'USD'"> <b>{{ packagedItem.trxRate | currency:'USD'}}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ packagedItem.itemRemarks }}</b></ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button ion-fab (click)="addPolishToSales()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
  