<!--
  Generated template for the ActionSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Actions</ion-title>
    <ion-buttons end>
      <button style="color:black;background-color: transparent; width: 100% " padding (click)="goBack()">
        <ion-icon md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let a of (actionList); let i=index">
    <ion-grid class="RAG_Red" *ngIf="(a.status === 'OPEN') && (a.RAG === 'RED')">
      <ion-row style="color:black;background:white">
        <ion-col col-7 text-left>  
          <ion-label stacked no-margin text-center>{{ a.estimatedClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
          <ion-label stacked no-margin text-center>({{ a.owner }})</ion-label>					
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="editAction(a)"><ion-icon md="md-create"></ion-icon></button>
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="close(a)"><ion-icon md="md-checkbox"></ion-icon></button>
        </ion-col>
        <ion-col col-1>
          <button ion-button clear icon-only (click)="setRAG($event,a)">    <!--"editOrDelete(trxSummary)"-->
            <ion-icon name="more"></ion-icon> 
          </button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-center>  
          <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
          <ion-label stacked no-margin text-center>{{ a.description }}</ion-label>					
        </ion-col>
      </ion-row>        
      <ion-row>
        <ion-col col text-center> 
          <ion-label stacked no-margin text-center>( REMARKS )</ion-label>
          <ion-label stacked no-margin text-center>{{ a.remarks }}</ion-label>
        </ion-col>
      </ion-row>       
    </ion-grid>    
    <ion-grid class="RAG_Amber" *ngIf="(a.status === 'OPEN') && (a.RAG === 'AMBER')">
      <ion-row style="color:black;background:white">
        <ion-col col-7 text-left>  
          <ion-label stacked no-margin text-center>{{ a.estimatedClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
          <ion-label stacked no-margin text-center>({{ a.owner }})</ion-label>					
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="editAction(a)"><ion-icon md="md-create"></ion-icon></button>
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="close(a)"><ion-icon md="md-checkbox"></ion-icon></button>
        </ion-col>
        <ion-col col-1>
          <button ion-button clear icon-only (click)="setRAG($event,a)">    <!--"editOrDelete(trxSummary)"-->
            <ion-icon name="more"></ion-icon> 
          </button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-center>  
          <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
          <ion-label stacked no-margin text-center>{{ a.description }}</ion-label>					
        </ion-col>
      </ion-row>        
      <ion-row>
        <ion-col col text-center> 
          <ion-label stacked no-margin text-center>( REMARKS )</ion-label>
          <ion-label stacked no-margin text-center>{{ a.remarks }}</ion-label>
        </ion-col>
      </ion-row>         
    </ion-grid>    
    <ion-grid class="RAG_Green" *ngIf="(a.status === 'OPEN') && (a.RAG === 'GREEN')">
      <ion-row style="color:black;background:white">
        <ion-col col-7 text-left>  
          <ion-label stacked no-margin text-center>{{ a.estimatedClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
          <ion-label stacked no-margin text-center>({{ a.owner }})</ion-label>					
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="editAction(a)"><ion-icon md="md-create"></ion-icon></button>
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="close(a)"><ion-icon md="md-checkbox"></ion-icon></button>
        </ion-col>
        <ion-col col-1>
          <button ion-button clear icon-only (click)="setRAG($event,a)">    <!--"editOrDelete(trxSummary)"-->
            <ion-icon name="more"></ion-icon> 
          </button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-center>  
          <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
          <ion-label stacked no-margin text-center>{{ a.description }}</ion-label>					
        </ion-col>
      </ion-row>        
      <ion-row>
        <ion-col col text-center> 
          <ion-label stacked no-margin text-center>( REMARKS )</ion-label>
          <ion-label stacked no-margin text-center>{{ a.remarks }}</ion-label>
        </ion-col>
      </ion-row>       
    </ion-grid>
    <ion-grid class="RAG_Closed" *ngIf="(a.status === 'CLOSED')">
      <ion-row style="color:black;background:white">
        <ion-col col-7 text-left>  
          <ion-label stacked no-margin text-center>{{ a.actualClosureDate | date: 'dd-MM-yyyy'}}</ion-label>
          <ion-label stacked no-margin text-center>({{ a.owner }})</ion-label>					
        </ion-col>
        <ion-col col-3>
        </ion-col>
        <ion-col col-2>
          <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="open(a)"><ion-icon md="md-checkbox"></ion-icon></button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col text-center>  
          <ion-label stacked no-margin text-center>( DESCRIBE )</ion-label>
          <ion-label stacked no-margin text-center>{{ a.description }}</ion-label>					
        </ion-col>
      </ion-row>        
      <ion-row>
        <ion-col col text-center> 
          <ion-label stacked no-margin text-center>( REMARKS )</ion-label>
          <ion-label stacked no-margin text-center>{{ a.remarks }}</ion-label>
        </ion-col>
      </ion-row>        
    </ion-grid>    
  </ion-card>
  <ion-fab bottom right *ngIf="milestone.id">
    <button ion-fab (click)="addAction()"> + </button>
  </ion-fab>
</ion-content>
