page-sales-transaction-items {
    ion-scroll{
        position: unset;
        padding: 0% !important;
    }

    ion-col.SalesTableCol{
        padding: 0% !important;
    }

    .table-header{
        background-color: #263238;
        border: 1px solid black;
        font-weight: bold;
        padding: 5px !important;
        min-height: 30px;
        color:white;

    }

    .sticky-col-odd{
        border: 1px solid black !important;
        padding: 5px !important;
        font-weight: bold;
        background-color:#F5F5F5;
        min-height: 30px;
    }

    .sticky-col-even{
        border: 1px solid black !important;
        padding: 5px !important;
        font-weight: bold;
        min-height: 30px;
    }

    ion-grid.SalesTable{
        padding: 0% !important;
        // overflow: scroll;
    }
    .values-odd{
        border: 1px solid black !important;
        padding: 5px !important;
        background-color:#F5F5F5;
        min-height: 30px;
    }

    .values-even{
        border: 1px solid black !important;
        padding: 5px !important;
        min-height: 30px;
    }

    ion-row{
        padding: 0% !important;
        background-color: transparent;
    }
    .TrxCurrency{
        border: 0px solid #E0E0E0;
    }
    //Tab Layout//
    
    .header-md::after {
    	display: none;
    }

    .footer-md::before{
        display: none;
    }
    
    ion-segment{
        border-bottom: 0;
        border: 3px solid white;
        padding: 0;
    }

    .segment-class{
        padding: 0;
    }

    .toolbar-md{
        border-bottom: 0;
    }

    .button-md{
        width: 96%;
        margin-left: 2%;
    }

    ion-footer{
        background-color: map-get($map: $colors, $key:light );
    }

    .scroll-content{
        padding-top:0; 
        background-color: map-get($map: $colors, $key:light );
    }

    ion-item{
        background-color: transparent !important;
    }

    .toolbar-content-md{
        margin-top: 0px;
    }

    ion-slides{
        height: fit-content;
        background-color: map-get($map: $colors, $key:light );
        border-top: 0px;
        padding: 0 !important; 
    }

    ion-grid{
        padding: 0 !important;
        
    }

    ion-col{
        padding: 0 !important;
        align-self: flex-end;
    }

    ion-row{
        padding: 0 !important;
    }

    
    .segment-button{
        color:map-get($map: $colors, $key:dark) !important;
    }

    .segment-button.segment-activated {
        background-color: map-get($map: $colors, $key:light );
        color: map-get($map: $colors, $key:primary ) !important;
        border-color: map-get($map: $colors, $key:light ) !important;
    }

    
    .after-slides{
        background-color: map-get($map: $colors, $key:light );
    }

    ion-grid.footer{
        padding: 0;
    }
    ion-row.footer{
        padding: 0;
    }
    ion-col.footer{
        width: 100%;
    }
}
