<ion-content>
  <ion-list>
    <!--Note : Generate Invoice should be enabled only for Buyer and not for Supplier!-->
    <ion-item *ngIf="trxSummary.businessTransaction.trxType === 'Sell'" (click)="generateInvoice()">
      Generate Invoice
    </ion-item>
    <ion-item (click)="deleteBusinessTransaction()">
      Delete
    </ion-item>
    <ion-item (click)="generateSummary()">
      Generate Statement
    </ion-item>
  </ion-list>
</ion-content>
