<!--
  Generated template for the AddProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>New Project</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label stacked>Start Date</ion-label>  
            <ion-datetime [(ngModel)]="startDate" displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY"></ion-datetime>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label stacked>End Date</ion-label>  
            <ion-datetime [(ngModel)]="endDate" displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY"></ion-datetime>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label stacked>Desciption</ion-label>
              <ion-input type="text" [(ngModel)]="description"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button full (click)="saveProject()"> save </button>
</ion-content>

