<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Investor
        </ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="login()" *ngIf=" this.user.ID === '' ">
                LOGIN
            </button>
            <button ion-button clear (click)="logout()" *ngIf=" this.user.ID !== '' " >
                LOGOUT
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-searchbar [(ngModel)]="searchInput" (ionInput)="onSearch($event)" placeholder="Search crop"></ion-searchbar>

    <ion-list no-lines>
        <ion-item *ngFor=" let fpo of searchedFpoList " (click)="openFpo(fpo)" class="fpo-list">
            <ion-grid>
                <ion-row>
                    <ion-col text-left class="header">
                        {{fpo.name}}
                    </ion-col>
                    <ion-col col-5>
                        {{fpo.phoneNumber}}
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-row no-padding>
                <ion-col col-auto *ngFor=" let crop of fpo.crops ; let i=index ">
                    <ion-item no-padding *ngIf=" i < 3 ">
                        {{i+1}}. {{crop.name}}({{crop.quantity}})
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>