<!--
  Generated template for the AddActionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New / Edit Action</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>Description</ion-label>
          <ion-input type="text" [(ngModel)]="action.description"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>Owner</ion-label>
          <ion-input type="text" [(ngModel)]="action.owner"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>Estimated Closure Date</ion-label>  
          <ion-datetime [(ngModel)]="action.estimatedClosureDate" displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>Remarks</ion-label>
          <ion-input type="text" [(ngModel)]="action.remarks"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="saveAction()"> SAVE </button>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
