<!--
  Generated template for the AddFarmerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="sample-modal">
	<ion-toolbar color="danger" class="modal-header">
		<ion-title>Add farmer</ion-title>
		<ion-buttons start>
			<button ion-button icon-only (click)="goToRootPage()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
	<ion-grid no-margin class="modal-content">
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating> Name </ion-label>
					<ion-input type="text" [(ngModel)]="farmer.name"> </ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating> City </ion-label>
					<ion-input type="text" [(ngModel)]="farmer.city"> </ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating> State </ion-label>
					<ion-input type="text" [(ngModel)]="farmer.state"> </ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating>Phone number </ion-label>
					<ion-input type="number" [(ngModel)]="farmer.phoneNumber"> </ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating> Land size ( in acres ) </ion-label>
					<ion-input type="number" [(ngModel)]="farmer.landSize"> </ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
	<button ion-button full (click)="saveFarmer()" style="border-radius: 5px;"> Add </button>

</ion-content>