page-add-farmer {

    .sample-modal{
    	background: rgba(0,0,0,0.5);
    }

    .scroll-content {
        padding-top: 35% !important;
    }

    .modal-header{
        border-top-left-radius: 6px; 
        border-top-right-radius: 6px
    }
    
    .modal-content{
        border-bottom-left-radius: 6px; 
        border-bottom-right-radius: 6px;
    }

    .item-md.item-block .item-inner {
        padding-right:0px !important;
    }

    ion-item{
        background-color: transparent !important;
    }

    ion-grid{
        padding-left: 10px;
        padding-right: 10px;
        background-color:map-get($map: $colors, $key:light );
    }
}
