<!--
  Generated template for the PackageRulesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Package Rules</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-fab full (click)="addRule()"> + </button>
  <ion-card *ngFor="let packageRule of packagRuleList | async">
    <ion-grid>
      <ion-row>
        <ion-col col-6 text-center>{{ packageRule.id }}</ion-col>
        <ion-col col-6 text-center>{{ packageRule.creationt_time | date: 'dd-MM-yyyy hh:mm:ss' }}</ion-col>
      </ion-row>
      <ion-row>
        <!--ion-col col-1>{{ packageRule.id }}</ion-col-->
        <ion-col col-4 text-center>{{ packageRule.curTaskCode }}</ion-col>
        <!--ion-col col-4 text-center>{{ packageRule.packageStatus }}</ion-col-->
        <ion-col col-4 text-center>{{ packageRule.nextTaskCode }}</ion-col>
      </ion-row>
      <ion-row>
        <!--ion-col col-1>{{ packageRule.id }}</ion-col-->
        <ion-col col-3 text-center>{{ packageRule.bGroupRead }}</ion-col>        
        <ion-col col-2 text-center>{{ packageRule.bMultipleOutput }}</ion-col>
        <ion-col col-2 text-center>{{ packageRule.bPartialAssign }}</ion-col>  
        <ion-col col-2 text-center>{{ packageRule.bReducedOutput }}</ion-col> 
        <ion-col col-3 text-center>{{ packageRule.bIncursCost }}</ion-col>      
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button full (click)="deleteRule(packageRule.id)"> Delete Rule </button>  
        </ion-col>
        <ion-col col-6>
          <button ion-button full (click)="updateRule(packageRule)"> Update Rule </button>
        </ion-col>  
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
