<!--
  Generated template for the NewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>newPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    {{message}}
  </ion-item>
  <button ion-button full round (click)="goToPreviousPage()" > Previous page</button>

</ion-content>
