<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p text-center *ngIf="(newUser.ID ==='')"><i> This device is not registered with us. Please contact us </i></p>
  <p text-center *ngIf="(newUser.ID ==='M')"><i> This device is registered for more than once with us. Please contact us </i></p>
  <p text-center *ngIf="((newUser.organisationID ==='') && (newUser.ID !=='') && (newUser.ID !=='M'))"><i> This device is not mapped to any organisation. Please contact us </i></p>
  <p text-center ><i> UUID : {{ newUser.deviceUUID }} </i></p>
  <p text-center ><i> Platform : {{ newUser.devicePlatform }} </i></p>
  <p text-center ><i> Manufacture : {{ newUser.deviceManufacturer }} </i></p>
  <p text-center ><i> Model : {{ newUser.deviceModel }} </i></p>
  <p text-center ><i> Version : {{ newUser.deviceVersion }} </i></p>
</ion-content>
