<ion-header>
  <ion-navbar color="primary">
    <ion-title>My Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-grid class="card-header">
          <ion-row class="card-header">
            <ion-col class="card-header">
              SALES
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <div style="display: block">
        <canvas baseChart
                [data]=[mySummary.saleSummary.amtPending,mySummary.saleSummary.amtReceviedOrPaid]
                [labels]="['Remaining','Received']"
                [chartType]="'doughnut'"
                ></canvas>
        </div>
      </ion-card-content>
      <ion-grid class="card-footer">
        <ion-row class="card-footer">
          <ion-col class="card-footer">
            {{ mySummary.saleSummary.amtTotal | INR}} - {{ mySummary.saleSummary.amtReceviedOrPaid | INR}}({{ mySummary.saleSummary.interestRealized | INR}}) = {{ mySummary.saleSummary.amtPending | INR}}({{ mySummary.saleSummary.interestUnRealized | INR}}) 
          </ion-col>
        </ion-row>        
      </ion-grid>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-grid class="card-header">
          <ion-row class="card-header">
            <ion-col class="card-header">
              PURCHASE
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <div style="display: block">
        <canvas baseChart
                [data]=[mySummary.purchaseSummary.amtPending,mySummary.purchaseSummary.amtReceviedOrPaid]
                [labels]="['Pending','Paid']"
                [chartType]="'doughnut'"
                ></canvas>
        </div>
      </ion-card-content>
      <ion-grid class="card-footer">
        <ion-row class="card-footer">
          <ion-col class="card-footer">
            {{ mySummary.purchaseSummary.amtTotal | INR}} - {{mySummary.purchaseSummary.amtReceviedOrPaid | INR}} ({{mySummary.purchaseSummary.interestRealized | INR}}) = {{ mySummary.purchaseSummary.amtPending | INR }} ({{mySummary.purchaseSummary.interestUnRealized| INR}})
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid class="card-header">
          <ion-row class="card-header">
            <ion-col class="card-header">
              SALE   Vs  PURCHASE
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-grid *ngIf="mySummary.saleSummary.amtTotal >= mySummary.purchaseSummary.amtTotal " class="healthy">
          <ion-row class="card-body">
            <ion-col class="card-body" >
              {{ mySummary.saleSummary.amtTotal | INR}} Vs {{ mySummary.purchaseSummary.amtTotal | INR}}
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="mySummary.saleSummary.amtTotal < mySummary.purchaseSummary.amtTotal " class="risky">
          <ion-row class="card-body">
            <ion-col class="card-body" >
              {{ mySummary.saleSummary.amtTotal | INR}} Vs {{ mySummary.purchaseSummary.amtTotal | INR}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card >
      <ion-card-header>
        <ion-grid class="card-header">
          <ion-row class="card-header">
            <ion-col class="card-header">
              RECEIVED Vs PAID   
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-grid *ngIf="this.mySummary.saleSummary.amtReceviedOrPaid >= this.mySummary.purchaseSummary.amtReceviedOrPaid " class="healthy">
          <ion-row class="card-body">
            <ion-col class="card-body">
              {{ this.mySummary.saleSummary.amtReceviedOrPaid | INR}}({{ this.mySummary.saleSummary.interestRealized | INR}}) Vs {{ this.mySummary.purchaseSummary.amtReceviedOrPaid | INR }}({{ this.mySummary.purchaseSummary.interestRealized | INR}})
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="this.mySummary.saleSummary.amtReceviedOrPaid < this.mySummary.purchaseSummary.amtReceviedOrPaid " class="risky">
          <ion-row class="card-body">
            <ion-col class="card-body">
              {{ this.mySummary.saleSummary.amtReceviedOrPaid | INR}}({{ this.mySummary.saleSummary.interestRealized | INR}}) Vs {{ this.mySummary.purchaseSummary.amtReceviedOrPaid | INR}}({{ this.mySummary.purchaseSummary.interestRealized | INR}})
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card >
      <ion-card-header>
        <ion-grid class="card-header">
          <ion-row class="card-header">
            <ion-col class="card-header">
              REMAINING Vs PENDING 
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-grid *ngIf="this.mySummary.saleSummary.amtPending >= this.mySummary.purchaseSummary.amtPending "  class="healthy">
          <ion-row class="card-body">
            <ion-col  class="card-body" >
              {{ this.mySummary.saleSummary.amtPending | INR}}({{ this.mySummary.saleSummary.interestUnRealized | INR}}) Vs {{ this.mySummary.purchaseSummary.amtPending | INR}}({{ this.mySummary.purchaseSummary.interestUnRealized | INR}})
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="this.mySummary.saleSummary.amtPending < this.mySummary.purchaseSummary.amtPending " class="risky">
          <ion-row class="card-body">
            <ion-col class="card-body">
              {{ this.mySummary.saleSummary.amtPending | INR}}({{ this.mySummary.saleSummary.interestUnRealized | INR}}) Vs {{ this.mySummary.purchaseSummary.amtPending | INR}}({{ this.mySummary.purchaseSummary.interestUnRealized | INR}})
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>      
</ion-content>
