page-mySummary {
	
	.card-header{
		padding:0;
		background-color: map-get($colors,cardHeader);
		color: white;
	}

	.card-content{
		padding:0;
	}
	
	ion-grid.card-header{
		padding:0;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	ion-row.card-header{
		vertical-align: middle;
		align-items: center;
	}

	ion-col.card-header{
		font-weight: bold;
		padding: 0;
		padding-left: 2px;
		text-align: center;
	}

	ion-grid.footer {
        padding: 0px;
        padding-top: 11px;
        padding-bottom:11px;
        background:map-get($map: $colors, $key: primary);
	}

	.healthy{
		background-color: map-get($colors,healthyZone);
		padding: 0;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	.risky{
		background-color: map-get($colors,riskyZone);
		padding: 0;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	ion-col.card-footer{
		text-align: center;
		font-weight: bold;
	}

	ion-row.card-footer{
		padding : 0;
		padding-top: 5px;
		padding-bottom: 5px;
		color: black;
		background-color: map-get($colors,cardFooter);
	}

	

	ion-col.card-body{
		font-weight: bold;
		font-size: 18px;
		color: white;
	}

	ion-row.card-body{
		padding: 0;
		text-align: center;
	}

	.scroll-content {
        background-color: map-get($colors, contentBackground);
        padding-top: 15px;
    }
}
