<ion-header>
	<ion-navbar color="primary">
		<ion-title>Orders</ion-title>
		<ion-buttons end>
			<button ion-button icon-only clear (click)="filterOrder()">
				<ion-icon name="funnel"></ion-icon>
			</button>
			<!-- <ion-item style="background: transparent;">
				<ion-select [(ngModel)]="filter">
					<ion-option value="All">All</ion-option>
					<ion-option value="New">NEW</ion-option>
					<ion-option value="In Progress">IN_PROGRESS</ion-option>
					<ion-option value="Dispatched">DISPATCHED</ion-option>
					<ion-option value="Delivered">DELIVERED</ion-option>
				</ion-select>
			</ion-item> -->
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-card *ngFor="let order of filteredSalesOrderList ; let i = index">
		<ion-card-content (click)="checkOrder(order)">
			<ion-grid>
				<ion-row>
					<ion-col col-7>
						{{order.buyerContactDetails.firstName}} {{order.buyerContactDetails.lastName}}
					</ion-col>
					<ion-col col-5>
						{{order.creation_date | date: 'dd-MM-yyyy'}}
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-7>
						{{order.buyerContactDetails.phoneNumber}}
					</ion-col>
					<ion-col col-5>
						{{order.orderStatus}}
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

</ion-content>