.dark-theme {
    ion-content{
        background-color: #303030;
        color: fff;
    }

    .toolbar-title{
        color:white;
    }

    .bar-button-default-md{
        color:#fff;
    }

    .toolbar-background {
        background-color: #488aff;
        color: #fff;
    }
    .scroll-content{
        background-color: #303030;
        color: fff;
    }
}