page-partySummaryList {

	ion-grid.header{
		padding:0;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.card-header{
		padding:0;
		background-color: map-get($colors,cardHeader);
		color: white;
	}

	ion-row.card-header{
		vertical-align: middle;
		align-items: center;
	}

	ion-col.card-header{
		font-weight: bold;
		padding: 0;
		padding-left: 2px;
		text-align: center;
	}

	ion-item.card-header{
		background-color: map-get($colors,cardHeader);
		color: white;
		//margin-left: 15px;		RB3001
		font-weight: bold;
	}
	.button-round{
		padding: 2px;
	}

	ion-grid.card-footer{
		padding: 0;
	}


	ion-col.card-footer{
		text-align: center;
		font-weight: bold;
	}

	ion-row.card-footer{
		padding : 0;
		padding-top: 5px;
		padding-bottom: 5px;
		color: black;
		background-color: map-get($colors,cardFooter);
	}

	ion-footer.footer{
		background-color: map-get($colors,primary);
	}

	ion-row.footer{
		vertical-align: middle;
		align-items: center;
	}

	ion-col.footer{
		font-weight: bold;
		/*padding: 0;*/
		text-align: center;
	}

	ion-item.footer{
		background-color: map-get($colors,primary);
		color: white;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}

	.call{
		margin: 0;
		//margin-right: 5px;	RB3001
		border-color: white;
	}

	ion-col.call{
		padding: 0;
		text-align: center;
	}

	ion-item.call{
		font-weight: bold;
		background-color: transparent;
		color: white;
	}

	ion-grid.footer{
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.scroll-content {
        // background-color: map-get($colors, contentBackground);
        padding-top: 15px;
	}
	
	.more{					//RB3001
		margin: 0;
		color:white;
	} 

	.item-md {
		padding-left: 0;
		padding-right: 0;
		position: relative;
		font-size: 1.6rem;
		font-weight: normal;
		text-transform: none;
		color: #000;
		background-color: #fff;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
		transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.label-md {
		margin: 0px 0px 0px 0px;
	}
  
}
