<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Learning app
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>User name</ion-label>
      <ion-input type="text" [(ngModel)]="userName" ></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button full round (click)="addUser()" >Add</button>
  <button ion-button full round (click)="goToNewPage()" >Next page</button>

  <ion-searchbar [(ngModel)]="searchInput" (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list *ngFor="let user of userList">
    <ion-item>{{user.name}}</ion-item>
  </ion-list>

</ion-content>