<!--
  Generated template for the AddMilestonePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>New Milestone</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label stacked>Description</ion-label>
            <ion-input type="text" [(ngModel)]="description"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>      
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label stacked>Target Closure Date</ion-label>  
            <ion-datetime [(ngModel)]="targetClosureDate" displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY"></ion-datetime>
          </ion-item>
      </ion-col>
    </ion-row>   
    <ion-row>
      <ion-col>
        <button ion-button full (click)="saveMilestone()"> SAVE </button>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
