page-checkout {
    
    .scroll-content{
        background-color: map-get($map: $colors, $key:light );
    }
    
    .item-inner{
        padding: 0px !important;
    }

    .safe{
        background-color: map-get($map: $colors, $key:secondary );
    }

    .safe.activated{
        background-color: map-get($map: $colors, $key:secondary );
        
    }

}
