<ion-header>

	<ion-navbar color="primary" *ngIf=" calledFrom === 'salesOrderPage' ">
		<ion-title>Order - {{orderProvider.salesOrder.orderStatus}}</ion-title>
		<ion-buttons start>
			<button ion-button icon-only (click)="goToRootPage()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-navbar color="primary" *ngIf=" calledFrom === 'salesItemPage' ">
		<ion-title>Order</ion-title>
		<ion-buttons start>
			<button ion-button icon-only (click)="goToRootPage()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card no-padding>
		<ion-card-header text-center>
			Cart
		</ion-card-header>
		<ion-card-content no-padding>
			<ion-item no-padding *ngFor="let salesItem of orderProvider.salesOrder.salesItems ; let i = index">
				<ion-grid *ngIf=" calledFrom === 'salesItemPage'  " no-padding>
					<ion-row style="align-items: center; vertical-align: middle;">
						<ion-col col-4 text-center>
							{{salesItem.itemName}} =
						</ion-col>
						<ion-col col-1 text-center>
							{{salesItem.itemQuantity}} x
						</ion-col>
						<ion-col col-2 text-center>
							{{salesItem.itemPrice}}
						</ion-col>
						<ion-col col-1 text-center>
							{{salesItem.itemPrice * salesItem.itemQuantity}}
						</ion-col>
						<ion-col col-2 text-right>
							<button ion-button clear icon-only (click)="deleteItem(i)">
								<ion-icon name="trash"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-2 text-right>
							<button ion-button clear icon-only (click)="updateItem(salesItem.itemQuantity,i)">
								<ion-icon name="create"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
				</ion-grid>
				<ion-grid *ngIf=" calledFrom === 'salesOrderPage'  ">
					<ion-row style="align-items: center; vertical-align: middle;">
						<ion-col col-4 text-center>
							{{salesItem.itemName}}
						</ion-col>
						<ion-col col-1 text-center>
							=
						</ion-col>
						<ion-col col-1 text-center>
							{{salesItem.itemQuantity}}
						</ion-col>
						<ion-col col-1 text-center>
							x
						</ion-col>
						<ion-col col-2 text-center>
							{{salesItem.itemPrice}}
						</ion-col>
						<ion-col col-1 text-center>
							=
						</ion-col>
						<ion-col col-2 text-right>
							{{salesItem.itemPrice * salesItem.itemQuantity}}
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row>
						<ion-col text-right>
							Total
						</ion-col>
						<ion-col col-1 text-center>
							=
						</ion-col>
						<ion-col col-2 text-right>
							{{orderProvider.salesOrder.orderAmount}}
						</ion-col>
					</ion-row>
					<ion-row *ngIf="orderProvider.salesOrder.taxAmountSGST !=0 ">
						<ion-col text-right>
							SGST
						</ion-col>
						<ion-col col-1 text-center>
							=
						</ion-col>
						<ion-col col-2 text-right>
							{{orderProvider.salesOrder.taxAmount.amountSGST}}
						</ion-col>
					</ion-row>
					<ion-row *ngIf="orderProvider.salesOrder.taxAmountCGST !=0 ">
						<ion-col text-right>
							CGST
						</ion-col>
						<ion-col col-1 text-center>
							=
						</ion-col>
						<ion-col col-2 text-right>
							{{orderProvider.salesOrder.taxAmount.amountCGST}}
						</ion-col>
					</ion-row>
					<ion-row *ngIf="orderProvider.salesOrder.taxAmountIGST !=0 ">
						<ion-col text-right>
							IGST
						</ion-col>
						<ion-col col-1 text-center>
							=
						</ion-col>
						<ion-col col-2 text-right>
							{{orderProvider.salesOrder.taxAmount.amountIGST}}
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<hr>
			<ion-item>
				<ion-grid>
					<ion-row>
						<ion-col text-right>
							Grand Total
						</ion-col>
						<ion-col col-1 text-center>
							=
						</ion-col>
						<ion-col col-2 text-right>
							{{orderProvider.salesOrder.grandTotal}}
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf=" calledFrom === 'salesItemPage' ">
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-item>
							<ion-label floating>First Name </ion-label>
							<ion-input type="text" [(ngModel)]="orderProvider.salesOrder.buyerContactDetails.firstName">
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col>
						<ion-item>
							<ion-label floating>Last Name </ion-label>
							<ion-input type="text" [(ngModel)]="orderProvider.salesOrder.buyerContactDetails.lastName">
							</ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-item>
						<ion-label floating>Address Line 1 </ion-label>
						<ion-input type="text" [(ngModel)]="orderProvider.salesOrder.buyerContactDetails.addressLine1">
						</ion-input>
					</ion-item>
				</ion-row>
				<ion-row>
					<ion-item>
						<ion-label floating>Address Line 2 </ion-label>
						<ion-input type="text" [(ngModel)]="orderProvider.salesOrder.buyerContactDetails.addressLine2">
						</ion-input>
					</ion-item>
				</ion-row>
				<ion-row>
					<ion-item>
						<ion-label floating>State</ion-label>
						<ion-select [(ngModel)]="selectedState" (ionChange)="stateSelected()">
							<ion-option *ngFor="let state of states" value="{{state.ID}}">{{ state.ID }} -
								{{state.stateCode}} </ion-option>
						</ion-select>
					</ion-item>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item>
							<ion-label floating>City </ion-label>
							<ion-input type="text" [(ngModel)]="orderProvider.salesOrder.buyerContactDetails.city">
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col>
						<ion-item>
							<ion-label floating>PIN Code </ion-label>
							<ion-input type="number" [(ngModel)]="orderProvider.salesOrder.buyerContactDetails.pinCode">
							</ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-item>
						<ion-label floating>Email</ion-label>
						<ion-input type="email" [(ngModel)]="orderProvider.salesOrder.buyerContactDetails.email">
						</ion-input>
					</ion-item>
				</ion-row>
				<ion-row>
					<ion-item>
						<ion-label floating>Phone number</ion-label>
						<ion-input type="number" [(ngModel)]="orderProvider.salesOrder.buyerContactDetails.phoneNumber">
						</ion-input>
					</ion-item>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf=" calledFrom === 'salesOrderPage' ">
		<ion-card-header>
			Buyer Details
		</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col col-6>
						{{orderProvider.salesOrder.buyerContactDetails.firstName}}
						{{orderProvider.salesOrder.buyerContactDetails.lastName}}
					</ion-col>
					<ion-col col-6>
						{{orderProvider.salesOrder.buyerContactDetails.phoneNumber}}
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						{{orderProvider.salesOrder.buyerContactDetails.addressLine1}},
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						{{orderProvider.salesOrder.buyerContactDetails.addressLine2}},
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						{{orderProvider.salesOrder.buyerContactDetails.city}} -
						{{orderProvider.salesOrder.buyerContactDetails.pinCode}},
						{{orderProvider.salesOrder.buyerContactDetails.state}}
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						{{orderProvider.salesOrder.buyerContactDetails.email}}
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
</ion-content>
<ion-footer no-padding *ngIf=" calledFrom === 'salesItemPage' ">
	<ion-grid no-padding>
		<ion-row no-padding>
			<ion-col no-padding>
				<button no-padding ion-button full (click)="placeOrder()"> PLACE ORDER </button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
<ion-footer no-padding
	*ngIf=" (calledFrom === 'salesOrderPage') && (orderProvider.salesOrder.orderStatus !== 'Delivered')  ">
	<ion-grid no-padding *ngIf=" orderProvider.salesOrder.orderStatus === 'New' ">
		<ion-row no-padding>
			<ion-col no-padding text-center>
				<button class="safe" full ion-button (click)="changeStatus(orderProvider.salesOrder.orderStatus)">
					Accept </button>
			</ion-col>
			<ion-col no-padding col-4 text-center>
				<button ion-button full (click)="cancelOrder()"> Cancel </button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid no-padding *ngIf=" orderProvider.salesOrder.orderStatus === 'In Progress' ">
		<ion-row no-padding>
			<ion-col no-padding text-center>
				<button class="safe" full ion-button (click)="changeStatus(orderProvider.salesOrder.orderStatus)">
					Dispatch </button>
			</ion-col>
			<ion-col no-padding col-4 text-center>
				<button ion-button full (click)="cancelOrder()"> Cancel </button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid no-padding *ngIf=" orderProvider.salesOrder.orderStatus === 'Dispatched' ">
		<ion-row no-padding>
			<ion-col no-padding text-center>
				<button class="safe" full ion-button (click)="changeStatus(orderProvider.salesOrder.orderStatus)">
					Delivered </button>
			</ion-col>
			<ion-col no-padding col-4 text-center>
				<button ion-button full (click)="cancelOrder()"> Cancel </button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>