<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			FPO
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="addFpo()">
				<ion-icon name="person-add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list no-lines>
		<ion-item *ngFor=" let fpo of fpoList " (click)="openFpo(fpo)" class="farmer-list">
			<ion-grid>
				<ion-row>
					<ion-col text-center class="header">
						{{fpo.name}}
					</ion-col>
					<!-- <ion-col>
						<ion-badge item-end>{{fpo.farmers.length}} </ion-badge>
					</ion-col> -->
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-list>
</ion-content>