
<ion-header>

  <ion-toolbar>
    <ion-title>Task Output</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModel()" >
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar>
  </ion-toolbar>
 -->
</ion-header>


<ion-content padding style="position: relative;">

  <ion-card style="position: sticky; top: 0; z-index: 1;">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          
        </ion-col >
        <ion-col col-4  text-center style="font-weight: bold;">
          Input
        </ion-col >
        <ion-col col-4  text-center style="font-weight: bold;">
          Output
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4  text-center style="font-weight: bold;">
          Weight
        </ion-col>
        <ion-col col-4 text-center>
          {{inputWeight}}
        </ion-col>
        <ion-col col-4 text-center>
          {{totalOutputWeight}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4  text-center style="font-weight: bold;">
          Quantity
        </ion-col>
        <ion-col col-4 text-center>
          {{pItem.itemQty}}
        </ion-col>
        <ion-col col-4 text-center>
          {{totalOutputQty}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4  text-center style="font-weight: bold;">
          Cost
        </ion-col>
        <ion-col col-4 text-center>
          {{pItem.itemCost}}
        </ion-col>
        <ion-col col-4 text-center>
          0
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 text-center style="font-weight: bold;">
          Tax
        </ion-col>
        <ion-col col-4 text-center>
          {{pItem.itemTax}}
        </ion-col>
        <ion-col col-4 text-center>
          0
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row> -->
    </ion-grid>
    <ion-item *ngIf="totalOutputWeight > inputWeight">
      <p class="errorMsg"> *Output weight should be less then {{inputWeight}}</p>
    </ion-item>
    <ion-item *ngIf="totalOutputQty < pItem.itemQty">
      <p class="errorMsg"> *Output quantity should be greater then {{pItem.itemQty}}</p>
    </ion-item>

  </ion-card>
        <!-- <ion-col style="font-weight: bold; text-align: center;">
          Input : {{inputWeight}}
        </ion-col>
        <ion-col style="font-weight: bold; text-align: center;">
          Output : {{totalOutputWeight}}
          <ion-item *ngIf="totalOutputWeight > inputWeight">
            <p class="errorMsg"> *Output weight should be less then {{inputWeight}}</p>
          </ion-item>
        </ion-col> -->

  <ion-list class="weight-split-list" no-lines *ngIf="pItem.pRule.bMultipleOutput;else singleOutput " >
    <ion-item-sliding  *ngFor="let out of output; let i=index; trackBy: TrackBy">
      <ion-item> 
        <ion-grid class="weight-split-list" item-content>
          <ion-row> 
            <ion-col col-6>
              <ion-item>
                <ion-label stacked >Weight</ion-label>
                <ion-input type="number" [(ngModel)]="output[i].weight" (ionChange)="validateWeight(out)" ></ion-input>
              </ion-item>
              <ion-item *ngIf="!output[i].validWeight">
                <p class="errorMsg"> *Enter weight greater than 0 and less then {{inputWeight}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label stacked >Quantity</ion-label>
                <ion-input type="number" [(ngModel)]="output[i].qty" (ionChange)="validateQty(out)" ></ion-input>
              </ion-item>
              <ion-item *ngIf="!output[i].validQty">
                <p class="errorMsg"> *Enter quantity greater than 0</p>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label >Remark</ion-label>
                <ion-input type="text" [(ngModel)]="output[i].remark"  ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="right" (ionSwipe)="deleteInputRow(out)" >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ng-template #singleOutput>
    <ion-list class="weight-split-list" no-lines  >
      <ion-item *ngFor="let out of output; let i=index; trackBy: TrackBy"> 
        <ion-grid class="weight-split-list" item-content>
          <ion-row> 
            <ion-col col-6>
              <ion-item>
                <ion-label stacked >Weight</ion-label>
                <ion-input type="number" [(ngModel)]="output[i].weight" (ionChange)="validateWeight(out)" ></ion-input>
              </ion-item>
              <ion-item *ngIf="!output[i].validWeight">
                <p class="errorMsg"> *Enter weight greater than 0 and less then {{inputWeight}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label stacked >Quantity</ion-label>
                <ion-input type="number" [(ngModel)]="output[i].qty" (ionChange)="validateQty(out)" ></ion-input>
              </ion-item>
              <ion-item *ngIf="!output[i].validQty">
                <p class="errorMsg"> *Enter quantity greater than 0</p>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label >Remark</ion-label>
                <ion-input type="text" [(ngModel)]="output[i].remark"  ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ng-template>
  
  <!-- <ion-list class="weight-split-list" no-lines *ngIf="!pItem.pRule.bMultipleOutput" >
    <ion-item *ngFor="let out of output; let i=index; trackBy: TrackBy"> 
      <ion-grid class="weight-split-list" item-content>
        <ion-row> 
          <ion-col col-6>
            <ion-item>
              <ion-label stacked >Weight</ion-label>
              <ion-input type="number" [(ngModel)]="output[i].weight" (ionChange)="validateWeight(out)" ></ion-input>
            </ion-item>
            <ion-item *ngIf="!output[i].validWeight">
              <p class="errorMsg"> *Enter weight greater than 0 and less then {{inputWeight}}</p>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label stacked >Quantity</ion-label>
              <ion-input type="number" [(ngModel)]="output[i].qty" (ionChange)="validateQty(out)" ></ion-input>
            </ion-item>
            <ion-item *ngIf="!output[i].validQty">
              <p class="errorMsg"> *Enter quantity greater than 0</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label >Remark</ion-label>
              <ion-input type="text" [(ngModel)]="output[i].remark"  ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list> -->


  <ion-fab *ngIf="pItem.pRule.bMultipleOutput" right bottom>
    <button ion-fab (click)="addInputRow()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
<ion-footer >
  <button ion-button full [disabled]="!bValidOutput" (click)="saveOutput()" > SAVE </button>
</ion-footer>
