<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!bInvalidUser">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      my Business
    </ion-title>
    <ion-buttons end >
      <button ion-button icon-only (click)="login()" *ngIf="(user.ID === '')">
        <ion-icon name="log-in"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logout()" *ngIf="(user.ID !=='')">
        <ion-icon name="log-out"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <p text-center *ngIf="bInvalidUser">
    <i *ngIf="(user.ID ==='')"> Please contact us for registration.</i>
    <i *ngIf="(user.ID ==='M')"> There are MULTIPLE registration for your Google ID. Please contact us</i>
    <i *ngIf="((user.customerID ==='') && (user.ID !=='') && (user.ID !=='M'))"> This GoogleID is not mapped to any organisation.</i>
  </p>  
  <ion-grid *ngIf="(((user.customerID !=='') && (user.ID !=='') && (user.ID !=='M')) && authProvider.getAuthenticated())">
    <ion-row>
      <ion-col>
        <ion-card (click)="gotoPartyListPage('Supplier')">
          <img src="assets/imgs/partyList.png"/>
          <div class="card-title">Supplier Details </div>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card (click)="gotoPartyListPage('Buyer')">
          <img src="assets/imgs/partyList.png"/>
          <div class="card-title">Customer Details </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="gotoPartySummaryListPage('Supplier')">
          <img src="assets/imgs/supplierSummary.png"/>
          <div class="card-title">Supplier Summary</div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="gotoPartySummaryListPage('Buyer')">
          <img src="assets/imgs/customerSummary.png"/>
          <div class="card-title">Customer Summary</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="gotoTransactionList('Buy')">
          <img src="assets/imgs/supplierSummary.png"/>
          <div class="card-title">Purchase Summary</div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="gotoTransactionList('Sell')">
          <img src="assets/imgs/customerSummary.png"/>
          <div class="card-title">Sales Summary</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card (click)="gotoQuotationList()">
          <img src="assets/imgs/supplierSummary.png"/>
          <div class="card-title">Quotation List</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-card (click)="gotoMyInventoryPage()">
          <img src="assets/imgs/myInventory.png"/>
          <div class="card-title">my Inventory </div>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card (click)="gotoPurchaseStockSummaryPage()">
          <img src="assets/imgs/myInventory.png"/>
          <div class="card-title"> Rough Stock </div>
        </ion-card>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-card (click)="gotoMyPricePage()">
          <img src="assets/imgs/myPrices.png"/>
          <div class="card-title"> my Prices </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="gotoSalesStockSummaryPage()">
          <img src="assets/imgs/polishStock.png"/>         
          <div class="card-title"> Polished Stock </div>
        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
