page-add-polish {
  ion-input{
		border-radius: 1px;
		background-color: yellow;
		min-height: 30px;
	}

	ion-scroll{
		position: unset;
		padding: 0% !important;
	}

	ion-scroll.scroll-content{
		position: unset;
		padding: 0% !important;
	}

	ion-col.SalesTableCol{
			padding: 0% !important;
	}

	.table-header{
			background-color: #263238;
			border: 1px solid black;
			font-weight: bold;
			padding: 5px !important;
			min-height: 30px;
			color:white;

	}

	.sticky-col-odd{
			border: 1px solid black !important;
			padding: 5px !important;
			font-weight: bold;
			background-color:#F5F5F5;
			min-height: 50px;
	}

	.sticky-col-even{
			border: 1px solid black !important;
			padding: 5px !important;
			font-weight: bold;
			min-height: 50px;
	}

	ion-grid.SalesTable{
			padding: 0% !important;
			// overflow: scroll;
	}
	.values-odd{
			border: 1px solid black !important;
			padding: 5px !important;
			background-color:#F5F5F5;
			min-height: 50px;
	}

	.values-even{
			border: 1px solid black !important;
			padding: 5px !important;
			min-height: 50px;
	}

	ion-row{
			padding: 0% !important;
			background-color: transparent;
	}

	ion-row.SalesTableWtInputRow{
		height: 50px;
	}

	.scroll-content {
        padding: 0% !important;
    }

}
