<!--
  Generated template for the AddPolishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="fromEntity==='RP-W'">Enter Weight</ion-title>
    <ion-title *ngIf="fromEntity==='R-WP'">Enter Weight & Price</ion-title>
    <!--
    <ion-buttons end>
      <button ion-button icon-only (click)="cancel()" >
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    -->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row >
      <ion-col col-8 class="SalesTableCol" *ngIf="fromEntity==='RP-W'">
        <ion-grid class="SalesTable">
          <ion-row text-center nowrap>
            <ion-col class="table-header" col-4>
              RANK
            </ion-col>
            <ion-col class="table-header" col-8>
              Price
            </ion-col>
          </ion-row>
          <div *ngFor="let salesItem of salesItemList; let i=index">
            <ion-row text-center nowrap>            
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-4>
                {{salesItemList[i].itemQualityLevel.name}}
              </ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-8>
                {{salesItemList[i].avgPriceRate}}
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-col>
      <ion-col col-4 class="SalesTableCol" *ngIf="fromEntity==='RP-W'">
        <ion-scroll scrollX="true" scrollY="false" zoom="false">
          <ion-grid class="SalesTable">
            <ion-row text-center nowrap >
              <ion-col class="table-header" col-6> Weight </ion-col>
            </ion-row>
            <div *ngFor="let salesItem of salesItemList; let i=index">
              <ion-row text-center nowrap class="SalesTableWtInputRow">
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>
                  <ion-input type="number" [(ngModel)] = "salesItemList[i].saleableWeight" (ionChange)="calculateSummary()"> </ion-input>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </ion-scroll>
      </ion-col>
      <ion-col col-4 class="SalesTableCol" *ngIf="fromEntity==='R-WP'">
        <ion-grid class="SalesTable">
          <ion-row text-center nowrap>
            <ion-col class="table-header" col-12>
              RANK
            </ion-col>
          </ion-row>
          <div *ngFor="let salesItem of salesItemList; let i=index">
            <div *ngIf="salesItem.avgPriceRate > 0">
              <ion-row text-center nowrap>            
                <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-12>
                  {{salesItem.itemQualityLevel.name}}
                </ion-col>
              </ion-row>
            </div>            
          </div>
        </ion-grid>
      </ion-col>
      <ion-col class="SalesTableCol" *ngIf="fromEntity==='R-WP'">
        <ion-scroll scrollX="true" scrollY="false" zoom="false">
          <ion-grid class="SalesTable">
            <ion-row text-center nowrap >
              <ion-col class="table-header" col-6> Weight </ion-col>
              <ion-col class="table-header" col-8 > Avg Price </ion-col>    
              <ion-col class="table-header" col-8 > Avg Sale </ion-col>    
              <ion-col class="table-header" col-8 > Avg Gross </ion-col>     
              <ion-col class="table-header" col-8 > valueFactor </ion-col>              
            </ion-row>
            <div *ngFor="let salesItem of salesItemList; let i=index">
              <ion-row text-center nowrap>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>
                  <ion-input type="number" [(ngModel)] = "salesItemList[i].saleableWeight" (ionChange)="calculateSummary()"> </ion-input>
                </ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8>
                    <ion-input type="number" [(ngModel)] = "salesItemList[i].avgPriceRate" (ionChange)="calculateSummary()"> </ion-input>                
                </ion-col>
                <ion-col col-8>{{salesItemList[i].avgSalePrice | INR }}</ion-col>
                <ion-col col-8>{{salesItemList[i].avgGrossPrice | INR}}</ion-col>
                <ion-col col-8>{{salesItemList[i].valueFactor | number:'1.2-10'}}</ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
<ion-footer>
  <button ion-button full (click)="save()"> OK ({{ totalWeight }} cts)</button>
</ion-footer>