page-home {

    .farmer-list{
        margin-bottom: 2%;
        border-radius: 5px;
        border: 1px solid lightcoral !important;
    }

    .scroll-content{
       background-color: map-get($map: $colors, $key:light ) 
    }


}
