<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Farmer FPO
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="importFarmerDetails()">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addFarmer()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card #cardElement>
    <ion-card-header>
      Hello
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card> 
  <ion-list no-lines>
    <ion-item *ngFor=" let farmer of farmerList " class="farmer-list">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            {{farmer.name}}
          </ion-col>
          <ion-col col-6>
            {{farmer.phoneNumber}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            {{farmer.city}}
          </ion-col>
          <ion-col col-6>
            {{farmer.landSize}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>