<ion-header>
  <ion-navbar color="primary">
    <ion-title>Expense</ion-title>
  </ion-navbar>
   <ion-toolbar color="primary" style="height: fit-content; padding: 0; min-height: fit-content;">
      <ion-content  #MultiItemsScrollingTabs class="tabsContent">
        <ion-segment  class="SwipedTabs-tabs"  >
          <ion-segment-button  *ngFor='let tab of tabs ; let i = index ' id="tabTitle{{i}}" value="IngoreMe" (click)="selectTab(i)"
          [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }'   >
          {{tab}}
        </ion-segment-button>
      </ion-segment>
      <!-- here is our dynamic line  "indicator"-->
      <div id='indicator' ></div>
    </ion-content>
  </ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
    	(ionSlideDidChange)="updateIndicatorPosition()"
    	(ionSlideWillChange)="scrollIndicatiorTab()"
    	(panend)="updateIndicatorPositionOnTouchEnd()"
    	[pager]="false">
		<ion-slide>
			<h1>November - 2017</h1>
		</ion-slide>
		<ion-slide>
			<h1>December - 2017</h1>
		</ion-slide>
		<ion-slide>
			<h1>January - 2018</h1>
		</ion-slide>
		<ion-slide>
			<h1>February - 2018</h1>
		</ion-slide>
    </ion-slides>
    <ion-fab center bottom>
    	<button ion-fab (click)="addExpense()" ><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>