<ion-header>
  <ion-navbar>
    <ion-title>
      My Inventory
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="gotoPackageRules()"> Package Rules </button>
  <ion-card *ngFor="let taskSummary of taskSummaryList; let i=index" type="button" >
    <ion-card-header no-padding>
      <ion-grid style="padding: 0 ;" >
        <ion-row>
          <ion-col text-center >
              {{ taskSummary.taskCode }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content no-padding (click)="gotoTaskSummary(taskSummary.taskCode)" style="position: relative;">
      <!-- <ion-grid> 
        <ion-row>
            <ion-col col-4> Input :</ion-col>
            <ion-col col-2>{{ taskSummary.Input.totalQty }}</ion-col>
            <ion-col col-2>{{ taskSummary.Input.totalWeight }}</ion-col>
            <ion-col col-2>{{ taskSummary.Input.totalCost }}</ion-col>
            <ion-col col-2>{{ taskSummary.Input.totalTax }}</ion-col>        
        </ion-row>
        <ion-row>
          <ion-col col-4> In Progress :</ion-col>
          <ion-col col-2>{{ taskSummary.InProgress.totalQty }}</ion-col>
          <ion-col col-2>{{ taskSummary.InProgress.totalWeight }}</ion-col>
          <ion-col col-2>{{ taskSummary.InProgress.totalCost }}</ion-col>
          <ion-col col-2>{{ taskSummary.InProgress.totalTax }}</ion-col>        
        </ion-row>
        <ion-row>
          <ion-col col-4> Completed :</ion-col>
          <ion-col col-2>{{ taskSummary.Completed.totalQty }}</ion-col>
          <ion-col col-2>{{ taskSummary.Completed.totalWeight }}</ion-col>
          <ion-col col-2>{{ taskSummary.Completed.totalCost }}</ion-col>
          <ion-col col-2>{{ taskSummary.Completed.totalTax }}</ion-col>        
        </ion-row>
        <ion-row>
          <ion-col col-4> Output :</ion-col>
          <ion-col col-2>{{ taskSummary.Output.totalQty }}</ion-col>
          <ion-col col-2>{{ taskSummary.Output.totalWeight }}</ion-col>
          <ion-col col-2>{{ taskSummary.Output.totalCost }}</ion-col>
          <ion-col col-2>{{ taskSummary.Output.totalTax }}</ion-col>        
        </ion-row>
        <ion-row>
          <ion-col col-4> Pending :</ion-col>
          <ion-col col-2>{{ taskSummary.Pending.totalQty }}</ion-col>
          <ion-col col-2>{{ taskSummary.Pending.totalWeight }}</ion-col>
          <ion-col col-2>{{ taskSummary.Pending.totalCost }}</ion-col>
          <ion-col col-2>{{ taskSummary.Pending.totalTax }}</ion-col>        
        </ion-row>
      </ion-grid> -->
      <div col-12 style="display: block;"style="height: 36vh; margin: 0 auto; ">
        <div col-6 style="position: absolute; left: 0; top:0 ;height: 35vh;">
          <canvas baseChart  style="max-height: 34vh; max-width: 50% ; height: 30vh !important; margin-left: 25% "
                  [labels]="['Completed','In progress','Pending']"
                  [datasets]=[{ data:[taskSummary.Completed.totalWeight,taskSummary.InProgress.totalWeight,taskSummary.Pending.totalWeight],
                  backgroundColor:['#77ff80','#fff875','#ff7575'],
                  borderWidth: 0
                  }]
                  [legend]="chartLegend"
                  [chartType]="'doughnut'"

                  ></canvas>
        </div>
      <!-- </div> -->
      <!-- <div style="display: block" style="min-width: 310px; max-width: 800px; height: 18vh; margin: 0 auto"> -->
        <div col-6 style="position: absolute; right: 0; top:0 ; height: 35vh;">
          <canvas baseChart width="45%" style="max-height: 34vh ;max-width: 50% ;height:30vh !important ; margin-left: 25%"
                  [labels]="['Output','Loss']"
                  [datasets]=[{data:[
                  taskSummary.Output.totalWeight, taskSummary.Completed.totalWeight-taskSummary.Output.totalWeight],
                  backgroundColor:['#77ff80','#000000'],
                  borderWidth: 0
                  }]

                  [legend]="chartLegend"
                  [chartType]="'doughnut'"

                  ></canvas>
        </div>
      </div>
    </ion-card-content>    
  </ion-card>
</ion-content>
