<!--
  Generated template for the PurchaseStockSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Rough Stock</ion-title>
    <ion-buttons end *ngIf="(user.ID != '')">
      <button ion-button icon-only (click)="selectFilter()">
        <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>{{ filterValue }}</h1>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col> 
          <h1 text-center>{{ roughStockSummary.totalWeight }} cts</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> 
          <p text-center ><i> {{ roughStockSummary.totalInterest }} INR </i></p> 
        </ion-col>
      </ion-row>      
    </ion-grid>
  </ion-card>
  
  <ion-grid>
    <ion-row>
      <ion-col col-auto>
        <ion-grid>
          <ion-row text-center nowrap>
            <ion-col class="table-header">
              WEIGHT
            </ion-col>  
          </ion-row>
          <ion-row *ngFor="let packagedItem of (filteredItemList); let i=index" text-center nowrap (click)="onPackageClicked(packagedItem)">
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'">
              {{ packagedItem.itemWeight }}
            </ion-col>             
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-scroll scrollX="true" scrollY="false" zoom="false">
          <ion-grid>
            <ion-row text-center nowrap>
              <ion-col class="table-header" col-8>
                PARTY ID
              </ion-col>
              <ion-col class="table-header" col-8>
                INVOICE ID
              </ion-col>
              <ion-col class="table-header" col-3>
                COST
              </ion-col>
              <ion-col class="table-header" col-3>
                INTEREST
              </ion-col>
              <ion-col class="table-header" col-12>
                PKG_ID
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let packagedItem of (filteredItemList); let i=index" text-center nowrap>
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-8>
                {{ packagedItem.trxPartyID }}
              </ion-col>  
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-8>
                {{ packagedItem.trxInvoiceID }}
              </ion-col>            
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 >
                {{ packagedItem.itemCost + packagedItem.itemTax }}
              </ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 >
                {{ packagedItem.itemValuation.interestCost }}
              </ion-col>              
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 >
                {{ packagedItem.id }}
              </ion-col>                 
            </ion-row>
          </ion-grid>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--
  <ion-card *ngFor="let packagedItem of (packagedItemList); let i=index">
    <ion-card-content no-padding>
      <ion-grid> 
        <ion-row>
          <ion-col col-5 text-center>pID: {{ packagedItem.id }}</ion-col>
          <ion-col col-5 text-center>ppID: {{ packagedItem.parentPackageID }}</ion-col>
          <ion-col col-2 text-center>
            <button ion-button full (click)="showTrace(packagedItem)"> Show Trace </button>
          </ion-col>          
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ packagedItem.packageID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>GroupID: {{ packagedItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 text-center> {{ packagedItem.pRule.bGroupRead }}</ion-col>
          <ion-col col-4 text-center> {{ packagedItem.pRule.curTaskCode }}</ion-col>
          <ion-col col-2 text-center> {{ packagedItem.packageStatus }}</ion-col>
          <ion-col col-4 text-center> {{ packagedItem.pRule.nextTaskCode }}</ion-col> 
          <ion-col col-1 text-center> {{ packagedItem.pRule.bMultipleOutput }}</ion-col> 
        </ion-row>
        <ion-row>
          <ion-col col-3 text-center> {{ packagedItem.itemQty }}</ion-col>
          <ion-col col-3 text-center> {{ packagedItem.itemWeight }}</ion-col>
          <ion-col col-3 text-center> {{ packagedItem.itemCost }}</ion-col>
          <ion-col col-3 text-center> {{ packagedItem.itemTax }}</ion-col>
        </ion-row>
        <ion-row *ngIf="((!packagedItem.pRule.bGroupRead) && (packagedItem.pRule.nextTaskCode === taskCode) && ((packagedItem.packageStatus === 'RD') || (packagedItem.packageStatus === 'PD')))">
          <ion-col text-center no-padding>
            <button ion-button full class="packagedItem-footer-button" (click)="startTask(packagedItem)"> Start </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="((packagedItem.pRule.nextTaskCode === taskCode) && (packagedItem.packageStatus === 'IP'))">
          <ion-col text-center no-padding>
            <button ion-button full class="packagedItem-footer-button" (click)="completeTask(packagedItem)"> Complete </button>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </ion-card-content>    
  </ion-card>
-->
</ion-content>

