<!--
  Generated template for the SelectPurchaseStockPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SELECT</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-grid radio-group [(ngModel)]="selectValue">
    <ion-row text-center nowrap>
      <ion-col>
        <ion-item no-lines>
          <ion-label>FROM PURCHASE</ion-label>
          <ion-radio value="FROM_PURCHASE" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label>For Planning</ion-label>
          <ion-radio value="FOR_PLANNING" ></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label>In Planning</ion-label>
          <ion-radio value="IN_PLANNING" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label>For Mfg</ion-label>
          <ion-radio value="FOR_MFG_ISSUE" ></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label>In Mfg Issue</ion-label>
          <ion-radio value="IN_MFG_ISSUE" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label>In Mfg</ion-label>
          <ion-radio value="FOR_MFG_RETURN" ></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label>Return From Mfg</ion-label>
          <ion-radio value="FROM_MFG_RETURN" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label>For Assortment</ion-label>
          <ion-radio value="FOR_ASSORTMENT" ></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label>In Assortment</ion-label>
          <ion-radio value="IN_ASSORTMENT" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row text-center nowrap>
      <ion-col>
        <ion-item no-lines>
          <ion-label>TO SALES</ion-label>
          <ion-radio value="FOR_SALES" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button (click)="applyFilter()" type="button"> APPLY </button>
</ion-content>
