page-set-rag {
    ion-item.RAG_RED {
        color:rgb(255, 40, 40);
        font-size: 10px
    }
    ion-item.RAG_AMBER {
        color:rgb(241, 197, 76);
        font-size: 10px
    }
    ion-item.RAG_GREEN {
        color:rgb(24, 92, 24);
        font-size: 10px
    }
    ion-title.normal {
        font-size: 10px
    }
    
    
}
