<!--
  Generated template for the SetRagPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--ion-navbar>
    <ion-title class="normal"></ion-title>
  </ion-navbar-->

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item class="RAG_RED" (click)="setRED()">
      RED
    </ion-item>
    <ion-item class="RAG_AMBER" (click)="setAMBER()">
      AMBER
    </ion-item>
    <ion-item class="RAG_GREEN" (click)="setGREEN()">
      GREEN
    </ion-item>
  </ion-list>
</ion-content>
