pageBusinessTransaction {
    //RB2601

    .contentPage {        //RB2701
        padding: 50px;
        background: rgba(0, 0, 0, 0.5);
    }

    .divHeight{
        padding-top:5%;
    }

    .formBackground{            //RB2701
        background: rgb(255, 255, 255);
    }
    .TrxnType{
        border: 1px solid #E0E0E0;
    }

    .TrxCurrency{
        border: 1px solid #E0E0E0;
    }

    .trxCurrAlign{
        text-align: center;
        align-items: center;
    }
    
    .itemBackground{
        background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),     color-stop(100%,#BDBDBD)); 
        //background:#FFEE58; 
        border:1px solid #E0E0E0;
    }

    .errorMsg{
        color: #D50000;
    }

    .item-md.item-block .item-inner {
        padding-right:0px !important;
    }

    ion-grid{
        padding-left: 10px;
        padding-right: 10px;
        //background-color: #BDBDBD;
    }

    .colBill{
        padding-top: 27px;
    }

    .addItemsBtn{
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .item-cover {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 0;
        background: transparent;
        cursor: pointer;
    }
}
