<!--
  Generated template for the BusinessTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--RB2601 full file -->
<ion-content padding class="contentPage">
  <div class="divHeight">
    <ion-toolbar *ngIf="pBusinessContact.category === 'Supplier'" color="primary">  <!--RB2101-->
    <ion-title>Purchase : {{ pBusinessContact.fullName }}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="goToSummaryPage()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="pBusinessContact.category === 'Buyer'" color="primary">
    <ion-title>Sell : {{ pBusinessContact.fullName }}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="goToSummaryPage()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
      
  <form class="formBackground" [formGroup]="formGroup" (submit)="saveTransaction()">
    <ion-grid no-margin>  <!-- RB2101 -->
      <ion-row *ngIf="pBusinessContact.category === 'Supplier'" class="TrxnType" formControlName="trxnType" radio-group no-padding no-margin>
        <ion-col col-6>
          <ion-item no-lines no-padding>
            <ion-label>Rough</ion-label>
            <ion-radio value="Buy"></ion-radio>
          </ion-item>
        </ion-col>
        <!--ion-col col-6>
          <ion-item no-lines no-padding>
            <ion-label>Polish</ion-label>
            <ion-radio value="Buy"></ion-radio>
          </ion-item>
        </ion-col-->
      </ion-row>
      <ion-row *ngIf="pBusinessContact.category === 'Buyer'" class="TrxnType" formControlName="trxnType" radio-group no-padding no-margin>
        <!--ion-col col-6>
          <ion-item no-lines no-padding>
              <ion-label>Polish</ion-label>
              <ion-radio value="Sell" checked="true"></ion-radio>
          </ion-item>
        </ion-col-->
        <ion-col col-6>
          <ion-item no-lines no-padding>
            <ion-label>Rough</ion-label>
            <ion-radio value="Sell"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item *ngIf="(trxnType.hasError('required')) && (trxnType.touched)">
        <p class="errorMsg"> *Type is required</p>
      </ion-item>

      <!--Invoice ID -->
      <ion-row no-padding no-margin *ngIf="pBusinessContact.category === 'Supplier'; else Buyerinvoice">
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Invoice No.</ion-label>
            <ion-input class="itemBackground" type="text" formControlName="invoiceId"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--Date-->
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Bill Date</ion-label>  <!--RB2101-->
            <ion-datetime class="itemBackground" formControlName="trxnDate" displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item *ngIf="(trxnDate.hasError('required')) && (trxnDate.touched)">
        <p class="errorMsg"> *Date is required</p>
      </ion-item>

      <!--Wt and Rate -->
      <ion-row no-padding no-margin>
        <ion-col col-4>
          <ion-item no-padding>
            <ion-label stacked>Weight (in Cts)</ion-label>
            <ion-input class="itemBackground" type="number" formControlName="wtInCts" disabled="true" (ionChange)="calulateTax()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-4>
          <ion-item no-padding>
            <ion-label stacked>Rate (per Cts)</ion-label>
            <ion-input class="itemBackground" type="number" formControlName="ratePerCts" disabled="true" (ionChange)="calulateTax()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-2>
          <ion-item no-lines no-padding class="addItemsBtn">
            <button ion-button full icon-only (click)="addBusinessItems()" type="button">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item *ngIf="wtInCts.hasError('min') || (wtInCts.hasError('required') && wtInCts.touched)">
        <p class="errorMsg"> *Weight should be greater than 0</p>
      </ion-item>
      <ion-item *ngIf="ratePerCts.hasError('min') || (ratePerCts.hasError('required') && ratePerCts.touched)">
        <p class="errorMsg"> *Rate should be greater than 0</p>
      </ion-item>

      <!-- Discount
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Less</ion-label>
            <ion-input class="itemBackground" type="number" formControlName="discount" (ionChange)="calulateTax()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item *ngIf="discount.hasError('min') || (discount.hasError('required') && discount.touched)">
        <p class="errorMsg"> *discount should be greater than or equal to 0</p>
      </ion-item>
       -->
      <!-- trx Currency -->
      <ion-row class="TrxCurrency" formControlName="trxCurrency" radio-group no-padding no-margin (ionChange)="isCurrencySelected()"> <!--RB2101 (ionChange)="isTrxChanged()"-->
        <ion-col col-6>
          <ion-item class="trxCurrAlign" no-lines no-padding>
            <ion-avatar item-start>
              <img src="assets/imgs/rupees.png">
            </ion-avatar>
            <ion-label>INR</ion-label>
            <ion-radio value="INR"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-6 >
          <ion-item class="trxCurrAlign" no-lines no-padding>
            <ion-avatar item-start>
              <img src="assets/imgs/dollars.png">
            </ion-avatar>
            <ion-label>USD</ion-label>
            <ion-radio value="USD"></ion-radio> <!--disabled="true"-->
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item *ngIf="trxCurrency.hasError('required') && trxCurrency.touched">
        *Please select suitable Currency
      </ion-item>

      <!-- Currency Rate and Due days -->
      <ion-row no-padding no-margin>
        <ion-col col-5 *ngIf="trxCurrency.value === 'INR'; else usdCurrency">
          <ion-item no-padding>
            <ion-label stacked>Exchange Rate</ion-label>
            <ion-input class="itemBackground" formControlName="trxCurrencyRate" type="number" value="{{exchangeRate}}" [disabled]="true"  ></ion-input>
          </ion-item>
        </ion-col>
        <ng-template #usdCurrency>
            <ion-col col-5>
              <ion-item no-padding>
                <ion-label stacked>Exchange Rate</ion-label>
                <ion-input class="itemBackground" formControlName="trxCurrencyRate" type="number" value="{{exchangeRate}}"></ion-input>
              </ion-item>
            </ion-col> 
          </ng-template>
        <ion-col col-1></ion-col>
        <ion-col col-6>
          <ion-item no-padding>
            <ion-label stacked>Due Days</ion-label>
            <ion-input class="itemBackground" type="number" formControlName="dueDays"></ion-input>  <!--RB2101-->
          </ion-item> 
        </ion-col>
      </ion-row>
      <ion-item *ngIf="trxCurrencyRate.hasError('min') || (trxCurrencyRate.hasError('required') && trxCurrencyRate.touched)">
        <p class="errorMsg"> *Currency Rate should be greater than 0</p>
      </ion-item>
      <ion-item *ngIf="dueDays.hasError('min') || (dueDays.hasError('required') && dueDays.touched)">
        <p class="errorMsg"> *Due Days should be greater than 0</p>
      </ion-item>
      <!--TAX-->
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item no-padding>
              <ion-label floating>TAX</ion-label>
              <ion-input class="itemBackground" type="number" formControlName="taxValue" value="{{bizTrx.trxTaxAmount.totalAmount}}"></ion-input>  <!--RB2101-->
          </ion-item>
        </ion-col>
      </ion-row>

      <!--Broker-->
      <ion-row no-padding no-margin class="itemBorder" radio-group>
        <ion-label>Broker</ion-label>
        <ion-select formControlName="brokerID">
          <ion-option *ngFor="let broker of brokerList" value="{{broker.id}}">{{ broker.fullName }}</ion-option>
        </ion-select>
      </ion-row>

      <!--Brokerage-->
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Brokerage</ion-label>
            <ion-input class="itemBackground" type="text" formControlName="brokerageRate"></ion-input>
          </ion-item>
          </ion-col>
      </ion-row>
      <!--Remarks-->
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Remarks</ion-label>
            <ion-input class="itemBackground" type="text" formControlName="remarks" maxlength="15"></ion-input>
          </ion-item>          
        </ion-col>
      </ion-row>

      <!--Button Save-->
      <button ion-button full [disabled]="!formGroup.valid">SAVE</button> 
    </ion-grid>
</form>
</div>
</ion-content>
