<!--
  Generated template for the PackageRulesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Package Rules</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let packageRule of packagRuleList" type="button" >
    <ion-grid>
      <ion-row>
        <ion-col col-1>{{ packageRule.id }}</ion-col>
        <ion-col col-2>{{ packageRule.curTaskCode }}</ion-col>
        <ion-col col-1>{{ packageRule.packageStatus }}</ion-col>
        <ion-col col-1>{{ packageRule.bGroupRead }}</ion-col>        
        <ion-col col-3>{{ packageRule.nextTaskCode }}</ion-col>
        <ion-col col-1>{{ packageRule.bMultipleOutput }}</ion-col>
        <ion-col col-1>{{ packageRule.bPartialAssign }}</ion-col>  
        <ion-col col-1>{{ packageRule.bReducedOutput }}</ion-col> 
        <ion-col col-1>{{ packageRule.bIncursCost }}</ion-col>      
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
