<!--
  Generated template for the PackageTracePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Trace</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModel()" >
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  ANCESTORS
  <ion-card *ngFor="let packagedItem of ancestorsPackagedItemList; let i=index">
    <ion-card-content no-padding>
      <ion-grid> 
        <ion-row>
          <ion-col col-3> {{ packagedItem.pRule.curTaskCode }}</ion-col>
          <ion-col col-3> {{ packagedItem.pRule.nextTaskCode }}</ion-col>  
          <ion-col col-3> {{ packagedItem.itemWeight }}</ion-col>
          <ion-col col-3> {{ packagedItem.itemCost }}</ion-col>
        </ion-row>        
        <ion-row>
          <ion-col text-center>pID: {{ packagedItem.id }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>ppID: {{ packagedItem.parentPackageID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>GroupID: {{ packagedItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ packagedItem.packageID }}</ion-col>
        </ion-row>                           
      </ion-grid>
    </ion-card-content>    
  </ion-card>
  CURRENT
  <ion-card>
    <ion-card-content no-padding>
      <ion-grid> 
        <ion-row>
          <ion-col col-3> {{ pItem.pRule.curTaskCode }}</ion-col>
          <ion-col col-3> {{ pItem.pRule.nextTaskCode }}</ion-col>  
          <ion-col col-3> {{ pItem.itemWeight }}</ion-col>
          <ion-col col-3> {{ pItem.itemCost }}</ion-col>
        </ion-row>        
        <ion-row>
          <ion-col text-center>pID: {{ pItem.id }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>ppID: {{ pItem.parentPackageID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>GroupID: {{ pItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ pItem.packageID }}</ion-col>
        </ion-row>                           
      </ion-grid>
    </ion-card-content>    
  </ion-card>
  DESCENDANT
  <ion-card *ngFor="let packagedItem of descendantPackagedItemList; let i=index">
    <ion-card-content no-padding>
      <ion-grid> 
        <ion-row>
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.pRule.curTaskCode }}</ion-col>
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.pRule.nextTaskCode }}</ion-col>  
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.itemWeight }}</ion-col>
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.itemCost }}</ion-col>
        </ion-row>        
        <ion-row>
          <ion-col text-center>pID: {{ packagedItem.id }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>ppID: {{ packagedItem.parentPackageID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>GroupID: {{ packagedItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ packagedItem.packageID }}</ion-col>
        </ion-row>                           
      </ion-grid>
    </ion-card-content>    
  </ion-card>
</ion-content>
