<ion-content padding class="sample-modal">
  <div class="content-height">
    <ion-toolbar color="primary">
      <ion-title>Settings</ion-title>
      <ion-buttons start>
        <button ion-button icon-only (click)="goToHomePage()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

  <form [formGroup]="formGroup" (submit)="updateAppSettings();" class="body">
    <ion-grid no-margin>
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item radio-group no-padding>
            <ion-label>Foriegn Currency</ion-label>
            <ion-select [(ngModel)]="editOrgSettings.foreignCurrency" formControlName="foriegnCurrency" disabled="true" interface="popover">
              <ion-option value="usd">USD</ion-option>
              <ion-option value="inr">INR</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item radio-group no-padding>
            <ion-label>Local Currency</ion-label>
            <ion-select [(ngModel)]="editOrgSettings.localCurrency" formControlName="localCurrency" disabled="true" interface="popover">
              <ion-option value="usd">USD</ion-option>
              <ion-option value="inr">INR</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item no-padding>
            <ion-label floating>Currency Exchange Rate</ion-label>
            <ion-input class="itemBackground" type="number" [(ngModel)]="editOrgSettings.exchangeRate" formControlName="conversionRate"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item no-padding>
            <ion-label floating>Due Days</ion-label>
            <ion-input class="itemBackground" type ="number" [(ngModel)]="editOrgSettings.dueDays" formControlName="dueDays"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item no-padding>
            <ion-label floating>CGST</ion-label>
            <ion-input class="itemBackground" type ="number" [(ngModel)]="editOrgSettings.cGSTRate" formControlName="CGST"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item no-padding>
            <ion-label floating>SGST</ion-label>
            <ion-input class="itemBackground" type ="number" [(ngModel)]="editOrgSettings.sGSTRate" formControlName="SGST"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row no-padding no-margin>
        <ion-col>
          <ion-item no-padding>
            <ion-label floating>IGST</ion-label>
            <ion-input class="itemBackground" type ="number" [(ngModel)]="editOrgSettings.iGSTRate" formControlName="IGST"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <button ion-button full [disabled]="!formGroup.valid">SAVE</button>
    </ion-grid>
  </form>
  </div>
</ion-content>