<ion-menu [content]="content">
	<ion-header class="MenuHeader">
      	<p class="MenuText" style=""> Hardik bhanderi</p>    	
  	</ion-header>
</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
