// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.MenuHeader{
	background-image: url('../assets/imgs/menuback.png'); 
	height: 30% ; 
	position: relative;
	background-size: contain;
}

.MenuHeader::after{
	content: "";
	display: inline-block;
	background: #000;
	height: 100%;
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
}

.MenuText {
	z-index: 1;
	font-size: 20px;
	padding-left: 21%;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
}