<!--
  Generated template for the PackageTracePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Trace</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModel()" >
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>  
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--
        
  <ion-grid>
    <ion-row>
      <ion-col col-auto class="table">
        <ion-grid>
          <ion-row text-center nowrap>
            <ion-col class="table-header" col-6>
              FROM
            </ion-col> 
            <ion-col class="table-header" col-6>
              TO
            </ion-col>            
          </ion-row>
          <ion-row *ngFor="let packagedItem of (ancestorsPackagedItemList); let i=index" text-center nowrap>
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
              {{ packagedItem.pRule.curTaskCode }}
            </ion-col> 
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
              {{ packagedItem.pRule.nextTaskCode }}
            </ion-col>            
          </ion-row>
          <ion-row text-center nowrap>
            <ion-col [ngClass]="(1 % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
              {{ pItem.pRule.curTaskCode }}
            </ion-col>
            <ion-col [ngClass]="(1 % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
              {{ pItem.pRule.nextTaskCode }}
            </ion-col>            
          </ion-row>
          <ion-row *ngFor="let packagedItem of (descendantPackagedItemList); let i=index" text-center nowrap>
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
              {{ packagedItem.pRule.curTaskCode }}
            </ion-col>    
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
              {{ packagedItem.pRule.nextTaskCode }}
            </ion-col>            
          </ion-row>
          
        </ion-grid>
      </ion-col>
      <ion-col>
      -->
        <ion-scroll scrollX="true" scrollY="false" zoom="false">
          <ion-grid>
            <ion-row text-center nowrap>
              <ion-col class="table-header" col-4>
                FROM
              </ion-col> 
              <ion-col class="table-header" col-4>
                TO
              </ion-col>  
              <ion-col class="table-header" col-3>
                WEIGHT
              </ion-col>
              <ion-col class="table-header" col-3>
                COST_1
              </ion-col>
              <ion-col class="table-header" col-8>
                PKG_ID
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let packagedItem of ancestorsPackagedItemList; let i=index" text-center nowrap>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4>
                {{ packagedItem.pRule.curTaskCode }}
              </ion-col> 
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4>
                {{ packagedItem.pRule.nextTaskCode }}
              </ion-col>     
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 >
                {{ packagedItem.itemWeight }}
              </ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 >
                {{ packagedItem.itemCost }}
              </ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 >
                {{ packagedItem.id }}
              </ion-col>                 
            </ion-row>
            <ion-row text-center nowrap>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-4 >
                {{ pItem.pRule.curTaskCode }}
              </ion-col>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-4 >
                {{ pItem.pRule.nextTaskCode }}
              </ion-col>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-3 >
                {{ pItem.itemWeight }}
              </ion-col>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-3 >
                {{ pItem.itemCost }}
              </ion-col>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-8 >
                {{ pItem.id }}
              </ion-col>                 
            </ion-row>              
            <ion-row *ngFor="let packagedItem of descendantPackagedItemList; let i=index" text-center nowrap>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-4 >
                {{ packagedItem.pRule.curTaskCode }}
              </ion-col>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-4 >
                {{ packagedItem.pRule.nextTaskCode }}
              </ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 >
                {{ packagedItem.itemWeight }}
              </ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 >
                {{ packagedItem.itemCost }}
              </ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 >
                {{ packagedItem.id }}
              </ion-col>                 
            </ion-row>
          </ion-grid>
        </ion-scroll>
        <!--
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>

<!--
<ion-content padding>
  ANCESTORS
  <ion-card *ngFor="let packagedItem of ancestorsPackagedItemList; let i=index">
    <ion-card-content no-padding>
      <ion-grid> 
        <ion-row>
          <ion-col col-3> {{ packagedItem.pRule.curTaskCode }}</ion-col>
          <ion-col col-3> {{ packagedItem.pRule.nextTaskCode }}</ion-col>  
          <ion-col col-3> {{ packagedItem.itemWeight }}</ion-col>
          <ion-col col-3> {{ packagedItem.itemCost }}</ion-col>
        </ion-row>        
        <ion-row>
          <ion-col text-center>pID: {{ packagedItem.id }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>ppID: {{ packagedItem.parentPackageID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>GroupID: {{ packagedItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ packagedItem.packageID }}</ion-col>
        </ion-row>                           
      </ion-grid>
    </ion-card-content>    
  </ion-card>
  CURRENT
  <ion-card>
    <ion-card-content no-padding>
      <ion-grid> 
        <ion-row>
          <ion-col col-3> {{ pItem.pRule.curTaskCode }}</ion-col>
          <ion-col col-3> {{ pItem.pRule.nextTaskCode }}</ion-col>  
          <ion-col col-3> {{ pItem.itemWeight }}</ion-col>
          <ion-col col-3> {{ pItem.itemCost }}</ion-col>
        </ion-row>        
        <ion-row>
          <ion-col text-center>pID: {{ pItem.id }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>ppID: {{ pItem.parentPackageID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>GroupID: {{ pItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ pItem.packageID }}</ion-col>
        </ion-row>                           
      </ion-grid>
    </ion-card-content>    
  </ion-card>
  DESCENDANT
  <ion-card *ngFor="let packagedItem of descendantPackagedItemList; let i=index">
    <ion-card-content no-padding>
      <ion-grid> 
        <ion-row>
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.pRule.curTaskCode }}</ion-col>
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.pRule.nextTaskCode }}</ion-col>  
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.itemWeight }}</ion-col>
          <ion-col col-3 style="font-weight: bold">{{ packagedItem.itemCost }}</ion-col>
        </ion-row>        
        <ion-row>
          <ion-col text-center>pID: {{ packagedItem.id }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>ppID: {{ packagedItem.parentPackageID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>GroupID: {{ packagedItem.packageGroupID }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>{{ packagedItem.packageID }}</ion-col>
        </ion-row>                           
      </ion-grid>
    </ion-card-content>    
  </ion-card>
</ion-content>
-->