<ion-content padding class="sample-modal">
    <ion-toolbar color="primary" class="modal-header">
        <ion-title>Add FPO</ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="goToRootPage()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-grid no-margin class="modal-content">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating> Name </ion-label>
                    <ion-input type="text" [(ngModel)]="fpo.name"> </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating> Locality </ion-label>
                    <ion-input type="text" [(ngModel)]="fpo.locality"> </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating> Phone number </ion-label>
                    <ion-input type="text" [(ngModel)]="fpo.phoneNumber"> </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <button ion-button full (click)="saveFpo()" style="border-radius: 5px;"> Add </button>
</ion-content>