page-project-summary {
    ion-grid.RAG_Green{
        height: 100%;
        width: 100%;
        background:rgb(24, 92, 24);
        text-align: center;
        color: white;
    }
    ion-grid.RAG_Red{
        height: 100%;
        width: 100%;
        background: rgb(255, 40, 40);
        text-align: center;
        color: white;
    }
    ion-grid.RAG_Amber{
        height: 100%;
        width: 100%;
        background: rgb(241, 197, 76);
        text-align: center;
        color: white;
    }
    ion-grid.RAG_Closed{
        height: 100%;
        width: 100%;
        background: rgb(78, 78, 76);
        text-align: center;
        color: white;
    }
}
