<!--
  Generated template for the ProjectSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Summary</ion-title>    
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-grid>
    <ion-card *ngFor="let milestone of milestoneList; let i=index">
      <ion-card-content no-padding>
      <ion-grid class="RAG_Amber" *ngIf="(milestone.RAG == 'AMBER') && (milestone.completionPercentage < 100)">
        <!--ion-row>
          <ion-col text-center> {{ milestone.id }} </ion-col>
        </ion-row>    
        <ion-row>
          <ion-col text-center>{{ milestone.description }}</ion-col>
        </ion-row-->
        <ion-row>
          <ion-col col-3 text-left>
            <ion-label stacked no-margin text-center>Planned</ion-label>
						<ion-label stacked no-margin text-center>({{milestone.targetClosureDate | date: 'dd-MM-yyyy'}})</ion-label>					
          </ion-col>
          <ion-col col-6 text-center>{{ milestone.description }}</ion-col>
          <ion-col col-3 text-right>
            <ion-label stacked no-margin text-center>ETC</ion-label>
						<ion-label stacked no-margin text-center>({{milestone.estimatedClosureDate | date: 'dd-MM-yyyy'}})</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoRiskSummary(milestone)"><ion-icon md="md-flag"></ion-icon></button>
          </ion-col>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoActionSummary(milestone)"><ion-icon md="md-list-box"></ion-icon></button>
          </ion-col>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoIssueSummary(milestone)"><ion-icon md="md-hand"></ion-icon></button>
          </ion-col>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoDependencySummary(milestone)"><ion-icon md="md-warning"></ion-icon></button>
          </ion-col>
        </ion-row>         
      </ion-grid>
      <ion-grid class="RAG_Green" *ngIf="(milestone.RAG == 'GREEN') && (milestone.completionPercentage < 100)">
        <ion-row>
          <ion-col col-3 text-left>
            <ion-label stacked no-margin text-center>Planned</ion-label>
						<ion-label stacked no-margin text-center>({{milestone.targetClosureDate | date: 'dd-MM-yyyy'}})</ion-label>					
          </ion-col>
          <ion-col col-6 text-center>{{ milestone.description }}</ion-col>
          <ion-col col-3 text-right>
            <ion-label stacked no-margin text-center>ETC</ion-label>
						<ion-label stacked no-margin text-center>({{milestone.estimatedClosureDate | date: 'dd-MM-yyyy'}})</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoRiskSummary(milestone)"><ion-icon md="md-flag"></ion-icon></button>
          </ion-col>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoActionSummary(milestone)"><ion-icon md="md-list-box"></ion-icon></button>
          </ion-col>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoIssueSummary(milestone)"><ion-icon md="md-hand"></ion-icon></button>
          </ion-col>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoDependencySummary(milestone)"><ion-icon md="md-warning"></ion-icon></button>
          </ion-col>
        </ion-row>        
      </ion-grid>      
      <ion-grid class="RAG_Red" *ngIf="(milestone.RAG == 'RED') && (milestone.completionPercentage < 100)">
        <ion-row>
          <ion-col col-3 text-left>
            <ion-label stacked no-margin text-center>Planned</ion-label>
						<ion-label stacked no-margin text-center>({{milestone.targetClosureDate | date: 'dd-MM-yyyy'}})</ion-label>					
          </ion-col>
          <ion-col col-6 text-center>{{ milestone.description }}</ion-col>
          <ion-col col-3 text-right>
            <ion-label stacked no-margin text-center>ETC</ion-label>
						<ion-label stacked no-margin text-center>({{milestone.estimatedClosureDate | date: 'dd-MM-yyyy'}})</ion-label>					
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoRiskSummary(milestone)"><ion-icon md="md-flag"></ion-icon></button>
          </ion-col>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoActionSummary(milestone)"><ion-icon md="md-list-box"></ion-icon></button>
          </ion-col>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoIssueSummary(milestone)"><ion-icon md="md-hand"></ion-icon></button>
          </ion-col>
          <ion-col col-3>
            <button ion-button style="color:white;background-color: transparent; width: 100% " full (click)="gotoDependencySummary(milestone)"><ion-icon md="md-warning"></ion-icon></button>
          </ion-col>
        </ion-row>         
      </ion-grid>
      <ion-grid class="RAG_Closed" *ngIf="milestone.completionPercentage >= 100">
        <ion-row>
          <ion-col text-center> {{ milestone.id }} </ion-col>
          <ion-col class="more" col-auto>
            <button ion-button clear icon-only (click)="addRAID($event,milestone)">    <!--"editOrDelete(trxSummary)"-->
              <ion-icon name="more"></ion-icon> 
            </button> 
          </ion-col>
        </ion-row>    
        <ion-row>
          <!--ion-col text-center>{{ milestone.description }}</ion-col-->
        </ion-row>
        <ion-row>
          <ion-col col-3 text-left>
            <ion-label stacked no-margin text-center>Planned</ion-label>
						<ion-label stacked no-margin text-center>({{milestone.targetClosureDate | date: 'dd-MM-yyyy'}})</ion-label>					
          </ion-col>
          <ion-col col-6 text-center>{{ milestone.description }}</ion-col>
          <ion-col col-3 text-right *ngIf="milestone.completionPercentage >= 100">
            <ion-label stacked no-margin text-center>Actual</ion-label>
						<ion-label stacked no-margin text-center>({{milestone.actualClosureDate | date: 'dd-MM-yyyy'}})</ion-label>					
          </ion-col>
        </ion-row>        
      </ion-grid>
      </ion-card-content>
    </ion-card>    
  </ion-grid>  
  <ion-fab bottom right>
    <button ion-fab (click)="addMilestone()"> + </button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="gotoRiskSummary()"><ion-icon md="md-flag"></ion-icon></button>
      </ion-col>
      <ion-col col-3>
        <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="gotoActionSummary()"><ion-icon md="md-list-box"></ion-icon></button>
      </ion-col>
      <ion-col col-3>
        <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="gotoIssueSummary()"><ion-icon md="md-hand"></ion-icon></button>
      </ion-col>
      <ion-col col-3>
        <button ion-button style="color:black;background-color: transparent; width: 100% " full (click)="gotoDependencySummary()"><ion-icon md="md-warning"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
