<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-4>
      <ion-item no-lines>
        <input type="text" [(ngModel)]="name" placeholder="Enter name" >
      </ion-item>
    </ion-col>
    <ion-col col-4>
      <ion-item no-lines>
        <input type="number" [(ngModel)]="num" placeholder="Enter number" >
      </ion-item>
    </ion-col>
    <ion-col col-4 >
      <ion-item no-lines>
        <button ion-button (click)="share()"> Share </button>
      </ion-item>
    </ion-col>

  </ion-row>  
</ion-content>
