<!--
  Generated template for the AddRaidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
<ion-header>

  <ion-navbar>
    <ion-title>addRAID</ion-title>
  </ion-navbar>

</ion-header>
-->


<ion-content padding>
  <ion-list>
    <ion-item (click)="addRisk()">
      + Risk
    </ion-item>
    <ion-item (click)="addAction()">
      + Action
    </ion-item>
    <ion-item (click)="addIssue()">
      + Issue
    </ion-item>
    <ion-item (click)="addDependency()">
      + Dependency
    </ion-item>
  </ion-list>
</ion-content>
