<ion-menu [content]="content">
  <ion-header >
    <ion-toolbar color="primary">
      <ion-title >Kavya export</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list no-lines>
      <button menuClose ion-item (click)="openPage('home')">
      	<ion-icon item-left name="home"></ion-icon>
      	Home
      </button>
    </ion-list>

    <ion-list no-lines>
      <button ion-item (click)="subMenu(1)" detail-none>
      	<ion-icon item-left name="ionic"></ion-icon>
      	Products
      	<ion-icon item-right name="arrow-down" *ngIf="!productOpen"></ion-icon>
      	<ion-icon item-right name="arrow-up" *ngIf="productOpen"></ion-icon>
      </button>
      <ion-list *ngIf="productOpen" no-lines padding-left>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Polish Diamonds
      	</button>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon item-left name="ionic"></ion-icon>	
      		Rough Diamonds
      	</button>
      </ion-list>
    </ion-list>

    <ion-list no-lines>
      <button ion-item (click)="subMenu(2)" detail-none >
      	<ion-icon item-left name="ionic"></ion-icon>
      	Services
      	<ion-icon item-right name="arrow-down" *ngIf="!serviceOpen"></ion-icon>
      	<ion-icon item-right name="arrow-up" *ngIf="serviceOpen"></ion-icon>
      </button>
      <ion-list *ngIf="serviceOpen" no-lines padding-left>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Manufacture Diamonds
      	</button>
      </ion-list>
    </ion-list>
    
    <ion-list no-lines>
      <button ion-item (click)="subMenu(3)" detail-none >
      	<ion-icon item-left name="contacts"></ion-icon>
      	Contacts
      	<ion-icon item-right name="arrow-down" *ngIf="!contactsOpen"></ion-icon>
      	<ion-icon item-right name="arrow-up" *ngIf="contactsOpen"></ion-icon>
      </button>
      <ion-list *ngIf="contactsOpen" no-lines padding-left>
      	<button menuClose ion-item detail-none (click)="openPage('traders')">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Traders
      	</button>
      	<button menuClose ion-item detail-none (click)="openPage('staff')">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Staff
      	</button>
      </ion-list>
    </ion-list>

    <ion-list no-lines>
      <button ion-item (click)="subMenu(4)" detail-none >
      	<ion-icon item-left name="cash"></ion-icon>
      	Finance
      	<ion-icon item-right name="arrow-down" *ngIf="!financeOpen"></ion-icon>
      	<ion-icon item-right name="arrow-up" *ngIf="financeOpen"></ion-icon>
      </button>
      <ion-list *ngIf="financeOpen" no-lines padding-left>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon  item-left name="ionic"></ion-icon>
      		Cash
      	</button>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Bank
      	</button>
      </ion-list>
    </ion-list>

    <ion-list no-lines>
      <button ion-item (click)="subMenu(5)" detail-none >
      	<ion-icon item-left name="ionic"></ion-icon>
      	Departments
      	<ion-icon item-right name="arrow-down" *ngIf="!departmentsOpen"></ion-icon>
      	<ion-icon item-right name="arrow-up" *ngIf="departmentsOpen"></ion-icon>
      </button>
      <ion-list *ngIf="departmentsOpen" no-lines padding-left>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Sarin
      	</button>
      	<button menuClose ion-item detail-none disabled="true" >
      		<ion-icon item-left name="ionic"></ion-icon>
      		Bruting
      	</button>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Mathada
      	</button>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon item-left name="ionic"></ion-icon>
      		8-pel
      	</button>
      </ion-list>
    </ion-list>

    <ion-list no-lines>
      <button ion-item (click)="subMenu(6)" detail-none >
      	<ion-icon item-left name="ionic"></ion-icon>
      	Transactions
      	<ion-icon item-right name="arrow-down" *ngIf="!transactionsOpen"></ion-icon>
      	<ion-icon item-right name="arrow-up" *ngIf="transactionsOpen"></ion-icon>
      </button>
      <ion-list *ngIf="transactionsOpen" no-lines padding-left>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Issued
      	</button>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Return
      	</button>
      	<button menuClose ion-item detail-none disabled="true">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Income
      	</button>
      	<button menuClose ion-item detail-none (click)="openPage('expense')">
      		<ion-icon item-left name="ionic"></ion-icon>
      		Expense
      	</button>
      </ion-list>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
