pageAddParty {

	.itemBackground{
        background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),     color-stop(100%,#BDBDBD)); 
        border:1px solid #E0E0E0;
    }
    .itemBorder{
        border: 1px solid #E0E0E0;
    }

    ion-grid{
        padding-left: 10px;
        padding-right: 10px;
        //background-color: #BDBDBD;
    }
    // ion-input{
    //     //border-radius: 10px;
    //     border-top:0px;
    // }

    ion-item{
        //border-radius: 10px;
        margin-bottom: 5px;
    }

    ion-label{
        border-radius: 10px;
    }

    .content-height{
    	padding-top: 5%;
    }

    .sample-modal{
    	background: rgba(0,0,0,0.5);
    }

    .scroll-content {
    	padding-top: 35%;
	}

    form{
        padding-top: 5px;
    	background-color: #ffffff;
    }

    .errorMsg{
        color: #D50000;
    }

    .item-md.item-block .item-inner {
       padding-right:0px !important;
        //border-bottom: 1px solid #dedede;
    }
    
}

