<!--
  Generated template for the HumanResourcePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding>
	<div>
	  <ion-toolbar color="primary">
	    <ion-title>Add Human Resource</ion-title>
	  </ion-toolbar>
	  <form [formGroup]="formGroup" (submit)="saveHumanResource();">
	    	<ion-item style="padding-bottom: 10px">
        		<ion-label stacked>Name</ion-label>
            	<ion-input type="text" [(ngModel)]="name" formControlName="inputName" class="itemBackground"></ion-input>
          	</ion-item>
          	<ion-item *ngIf="inputName.hasError('required') && inputName.touched" no-lines>
		    	<p class="errorMsg"> *Name required</p>
		    </ion-item>
          	<ion-item style="padding-bottom: 10px">
        		<ion-label stacked>Phone number</ion-label>
            	<ion-input type="number" [(ngModel)]="phone_1" formControlName="inputPhone_1" class="itemBackground"></ion-input>
          	</ion-item>
          	<ion-item *ngIf="(inputPhone_1.hasError('minLength')||inputPhone_1.hasError('required'))|| inputPhone_1.hasError('maxLength') && inputPhone_1.touched">
		    	<p class="errorMsg"> *Enter phone number exactly of 10 digits</p>
		    </ion-item>
          	<button  ion-button full [disabled]="!formGroup.valid"  >SAVE</button>
	   </form>
	</div>
</ion-content>
