page-home {
    ion-scroll{
        position: unset;
        padding: 0% !important;
    }

    ion-col{
        padding: 0% !important;
    }

    .table-header{
        background-color: red;
        border: 1px solid black;
        font-weight: bold;
        padding: 5px !important;
    }

    .sticky-col-odd{
        border: 1px solid black;
        padding: 5px !important;
        font-weight: bold;
        background-color: lightblue;
    }

    .sticky-col-even{
        border: 1px solid black;
        padding: 5px !important;
        font-weight: bold;
        background-color: lightgreen;
    }

    ion-grid{
        padding: 0% !important;
        // overflow: scroll;
    }

    .list-even{
        background-color: lightgreen;
    }

    .list-odd{
        background-color: lightblue;
    }

    .values-odd{
        border: 1px solid black !important;
        padding: 5px !important;
        background-color: lightblue;
    }

    .values-even{
        border: 1px solid black !important;
        padding: 5px !important;
        background-color: lightgreen;
    }

    ion-row{
        padding: 0% !important;
        background-color: transparent;
    }

}
