<ion-header>
  <ion-navbar>
    <ion-title>
      Table
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row >
      <ion-col col-auto>
        <ion-grid>
          <ion-row>
            <ion-col class="table-header">
              Purity
            </ion-col>
          </ion-row>
          <ion-row text-center nowrap >
            <ion-col [ngClass]="(1 % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" >
              IF
            </ion-col>
          </ion-row>
          <ion-row text-center nowrap >
            <ion-col [ngClass]="(2 % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" >
              FCOOL
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-scroll scrollX="true" scrollY="false" zoom="false">
          <ion-grid >
            <ion-row text-center nowrap >
              <ion-col class="table-header" col-3> Header 2</ion-col>
              <ion-col class="table-header" col-3> Header 3</ion-col>
              <ion-col class="table-header" col-3> Header 4</ion-col>
              <ion-col class="table-header" col-3> Header 5</ion-col>
              <ion-col class="table-header" col-3> Header 6</ion-col>
              <ion-col class="table-header" col-3> Header 7</ion-col>
            </ion-row>
            <ion-row text-center nowrap >
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 1</ion-col>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 1</ion-col>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 1</ion-col>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 1</ion-col>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 1</ion-col>
              <ion-col [ngClass]="(1 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 1</ion-col>
            </ion-row>
            <ion-row text-center nowrap >
              <ion-col [ngClass]="(2 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 2</ion-col>
              <ion-col [ngClass]="(2 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 2</ion-col>
              <ion-col [ngClass]="(2 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 2</ion-col>
              <ion-col [ngClass]="(2 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 2</ion-col>
              <ion-col [ngClass]="(2 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 2</ion-col>
              <ion-col [ngClass]="(2 % 2 == 0) ? 'values-even' : 'values-odd'" col-3> val 2</ion-col>
            </ion-row>
          </ion-grid>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-lines style="margin-top: 10%">
    <button ion-item *ngFor="let detail of dummyData;let i = index" detail-none [ngClass]="(i % 2 == 0) ? 'list-even' : 'list-odd'" (click)="expand(detail)" >
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col >
            {{detail.name}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="detail.expand" >
          <ion-col>
            {{detail.r_no}}
          </ion-col>
          <ion-col>
            {{detail.city}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon item-right name="arrow-down" *ngIf="!detail.expand"></ion-icon>
      <ion-icon item-right name="arrow-up" *ngIf="detail.expand"></ion-icon>
    </button>
  </ion-list>
</ion-content>
