<!--
  Generated template for the LockScreenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h6 ion-text text-center text-uppercase color="light">Touch Id or enter <br> passcode</h6>

  <div text-center margin-vertical>
      <ion-icon [name]="radioIcon1 ? 'radio-button-on' : 'radio-button-off'" color="light"></ion-icon>
      <ion-icon [name]="radioIcon2 ? 'radio-button-on' : 'radio-button-off'" color="light"></ion-icon>
      <ion-icon [name]="radioIcon3 ? 'radio-button-on' : 'radio-button-off'" color="light"></ion-icon>
      <ion-icon [name]="radioIcon4 ? 'radio-button-on' : 'radio-button-off'" color="light"></ion-icon>
  </div>

  <ion-grid text-center>
    <ion-row>
      <ion-col>
        <button ion-button round outline large color="light" (click)="onPinClick('1')">1</button>
      </ion-col>
      <ion-col>
        <button ion-button round outline large color="light" (click)="onPinClick('2')">2</button>
      </ion-col>
      <ion-col>
        <button ion-button round outline large color="light" (click)="onPinClick('3')">3</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button round outline large color="light" (click)="onPinClick('4')">4</button>
      </ion-col>
      <ion-col>
        <button ion-button round outline large color="light" (click)="onPinClick('5')">5</button>
      </ion-col>
      <ion-col>
        <button ion-button round outline large color="light" (click)="onPinClick('6')">6</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button round outline large color="light" (click)="onPinClick('7')">7</button>
      </ion-col>
      <ion-col>
        <button ion-button round outline large color="light" (click)="onPinClick('8')">8</button>
      </ion-col>
      <ion-col>
        <button ion-button round outline large color="light" (click)="onPinClick('9')">9</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <button ion-button round outline large color="light" (click)="onPinClick('0')">0</button>
      </ion-col>
      <ion-col>
        <button ion-button icon-only round outline large color="light" (click)="onClearClick()">
          <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-border text-center>
    <button ion-button clear color="light">Cancel</button>
</ion-footer>