<!--
  Generated template for the DrawerLayoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-content>
      <ion-list>
          <button ion-item detail-none block menuClose *ngFor="let p of pages" (click)="openPage(p.pageName)">
            <ion-icon item-start [name]="p.icon"></ion-icon>
            {{ p.title }}
          </button>
        </ion-list>
  </ion-content>
</ion-menu> -->

<ion-menu [content]="content">
  <ion-header class="MenuHeader">
      <p class="MenuText">Welcome, {{ user.firstName }}</p>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item ion-item *ngFor="let p of pages;  let i=index" (click)="openPage(p, i);">
        <ion-row>
          <!-- Parent Pages  -->
          <ion-col>
            <ion-row>
              <ion-col col-1>
                  <ion-icon [name]="p.icon" float-right></ion-icon>
              </ion-col>
              <ion-col col-auto>
                <span ion-text>
                  <!-- <ion-icon [name]="p.icon" *ngIf="!p.subPages" float-right></ion-icon> -->
                  {{p.title}}
                </span>
              </ion-col>
              <ion-col col-1>
                <ion-icon [name]="selectedMenu == i? 'arrow-dropup' : 'arrow-dropdown'" *ngIf="p.subPages" float-right></ion-icon>
              </ion-col>
            </ion-row>
            <!-- <span ion-text>
              <ion-icon [name]="p.icon" *ngIf="!p.subPages" float-right></ion-icon>
              {{p.title}}
            </span>
              <ion-icon [name]="selectedMenu == i? 'arrow-down' : 'arrow-forward'" *ngIf="p.subPages" float-right></ion-icon> -->
            <!-- Child Pages  -->
            <ion-list no-lines [hidden]="selectedMenu != i" *ngIf="p.subPages">
              <ion-item no-border *ngFor="let subPage of p.subPages;let i2=index" text-wrap (click)="openPage(subPage)">
                <ion-row>
                  <ion-col col-1>
                    <ion-icon [name]="subPage.icon" *ngIf="p.subPages" float-right></ion-icon>
                  </ion-col>
                  <ion-col col-auto>
                    <span ion-text>&nbsp;{{subPage.title}}</span>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
