page-drawer-layout {

    .MenuHeader{
        background-image: url('../assets/imgs/menuback.png'); 
        height: 30% ; 
        position: relative;
        background-size: contain;
    }
    
    .MenuHeader::after{
        content: "";
        display: inline-block;
        background: #000;
        height: 100%;
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .MenuText {
        z-index: 1;
        font-size: 20px;
        padding-left: 21%;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}
