<!--  HB27/1/2018  FULL FILE -->
<ion-content padding class="sample-modal"> 
  <div class="content-height">
  <ion-toolbar color="primary" *ngIf="editParty.id === ''; else EditParty">
    <ion-title>Add Party</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="goToRootPage()">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ng-template #EditParty>
    <ion-toolbar color="primary">
      <ion-title>Edit Party</ion-title>
      <ion-buttons start>
        <button ion-button icon-only (click)="goToRootPage()">
            <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ng-template>
  
  <form [formGroup]="formGroup" (ngSubmit)="savePartyProfile();">
    <ion-grid no-margin>
      <ion-row no-padding no-margin>
        <ion-col col-8>
          <ion-item no-padding>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" [(ngModel)]="editParty.fullName" formControlName="fullName" value="{{partyName}}" class="itemBackground"></ion-input> <!--RB13052018-->
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-item no-lines no-padding class="addItemsBtn">
            <button ion-button full icon-only (click)="initContacts()" *ngIf="(user.bWriteAccess)" type="button">
              <ion-icon name="contact"></ion-icon>
            </button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item *ngIf="(fullName.hasError('required')) && (fullName.touched)">
        <p class="errorMsg"> *Enter full name of party</p>
      </ion-item>
      <ion-row class="itemBorder" radio-group  *ngIf="editParty.id === ''; else edit" no-padding no-margin>
        <ion-label>Category</ion-label>
        <ion-select formControlName="category" [(ngModel)]="editParty.category">
          <ion-option value="Buyer">Buyer</ion-option>
          <ion-option value="Supplier">Supplier</ion-option>
          <ion-option value="Broker">Broker</ion-option>
        </ion-select>
        <!-- <ion-col col-6>
          <ion-item no-lines no-padding >
              <ion-label>Buyer</ion-label>
              <ion-radio  value="Buyer"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item no-lines no-padding >
            <ion-label>Supplier</ion-label>
            <ion-radio  value="Supplier"></ion-radio>
          </ion-item>
        </ion-col> -->
      </ion-row >
      <ng-template #edit>
        <ion-row no-padding no-margin class="itemBorder" radio-group>
        <ion-label>Category</ion-label>
        <ion-select formControlName="category" [(ngModel)]="editParty.category">
          <ion-option value="Buyer">Buyer</ion-option>
          <ion-option value="Supplier">Supplier</ion-option>
          <ion-option value="Broker">Broker</ion-option>
        </ion-select>
      </ion-row>
      </ng-template>
      <!-- </ion-grid> -->
      <ion-item no-padding  *ngIf="(category.hasError('required')) && (category.touched)">
        <p class="errorMsg"> *Choose relevant category</p>
      </ion-item>  
    <ion-row no-padding no-margin>
      <ion-col>
        <ion-item no-padding >
          <ion-label stacked>Phone number</ion-label>
          <ion-input type="tel" [(ngModel)]="editParty.phone_1" formControlName="phone1" value="{{phoneNumber}}" class="itemBackground"></ion-input> <!--RB13052018-->
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="( phone1.hasError('maxLength') || phone1.hasError('minLength') || phone1.hasError('required') )&& phone1.touched">
      <p class="errorMsg"> *Phone Number required and should be of exact 10 digits</p>
    </ion-item>
    <ion-row no-padding no-margin>
      <ion-col >
        <ion-item no-padding >
          <ion-label stacked>Email address</ion-label>
          <ion-input type="email" [(ngModel)]="editParty.email_1" formControlName="email1" class="itemBackground" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="(email1.hasError('email')) && (email1.touched)">
      <p class="errorMsg"> *Enter Email in format (partyname@domain.com)</p>
    </ion-item>
    <ion-row no-padding no-margin *ngIf="(editParty.category === 'Buyer') || (editParty.category === 'Supplier')">
      <ion-col>
        <ion-item no-padding >
          <ion-label stacked>ROI Per Month : For Early Payment</ion-label>
          <ion-input type="number" [(ngModel)]="editParty.ROIForEarlyPayment" formControlName="ROIForEarlyPayment" class="itemBackground" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="(ROIForEarlyPayment.hasError('min')) && (ROIForEarlyPayment.touched)">
      <p class="errorMsg"> *ROI >= 0)</p>
    </ion-item>
    <ion-row no-padding no-margin *ngIf="(editParty.category === 'Buyer') || (editParty.category === 'Supplier')">
      <ion-col>
        <ion-item no-padding >
          <ion-label stacked>ROI Per Month: For Late Payment</ion-label>
          <ion-input type="number" [(ngModel)]="editParty.ROIForLatePayment" formControlName="ROIForLatePayment" class="itemBackground" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="(ROIForLatePayment.hasError('min')) && (ROIForLatePayment.touched)">
      <p class="errorMsg"> *ROI >= 0 </p>
    </ion-item>
    <!-- <ion-row no-padding no-margin *ngIf="editParty.category === 'Broker'">
      <ion-col>
        <ion-item no-padding >
          <ion-label stacked>Brokerage</ion-label>
          <ion-input type="number" [(ngModel)]="editParty.Brokerage" formControlName="Brokerage" class="itemBackground" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="(Brokerage.hasError('min')) && (Brokerage.touched)">
      <p class="errorMsg"> *Brokerage >= 0 </p>
    </ion-item> -->
    <ion-row no-padding no-margin>
      <ion-col>
        <ion-item no-padding >
          <ion-label stacked>Address Line 1</ion-label>
          <ion-input type="text" [(ngModel)]="editParty.addressLine1" formControlName="addressLine1" class="itemBackground"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="(addressLine1.hasError('required')) && (addressLine1.touched)">
      <p class="errorMsg"> *Address Required</p>
    </ion-item>
    <ion-row no-padding no-margin>
      <ion-col>
        <ion-item no-padding >
          <ion-label stacked>Address Line 2</ion-label>
          <ion-input type="text" [(ngModel)]="editParty.addressLine2" formControlName="addressLine2" class="itemBackground"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="(addressLine2.hasError('required')) && (addressLine2.touched)">
      <p class="errorMsg"> *Address Required</p>
    </ion-item>
    <ion-row no-padding no-margin>
      <ion-col>
        <ion-item no-padding >
          <ion-label stacked>City</ion-label>
          <ion-input type="text" [(ngModel)]="editParty.city" formControlName="city" class="itemBackground"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="(city.hasError('required')) && (city.touched)">
      <p class="errorMsg"> *City Required</p>
    </ion-item>
    <ion-row no-padding no-margin>
      <ion-col>
        <ion-item no-padding >
          <ion-label stacked>Pincode</ion-label>
          <ion-input type="number" [(ngModel)]="editParty.pincode" formControlName="pincode" class="itemBackground"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="(pincode.hasError('required')) && (pincode.touched)">
      <p class="errorMsg"> *Pincode Required</p>
    </ion-item>
    <ion-row no-padding no-margin>
      <ion-col>
        <ion-item no-padding>
          <ion-label>State</ion-label>
          <ion-select [(ngModel)]="editParty.stateRegion" formControlName="stateRegion" >
            <ion-option *ngFor="let state of allStates" value="{{ state.name }} - ({{ state.TIN }})">{{ state.code }} - ({{ state.TIN }})</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="(stateRegion.hasError('required')) && (stateRegion.touched)">
      <p class="errorMsg"> *State Required</p>
    </ion-item>
    <ion-row no-padding no-margin>
      <ion-col>
        <ion-item no-padding >
        <ion-label stacked>GSTIN</ion-label>
        <ion-input type="text" [(ngModel)]="editParty.GSTIN" formControlName="GSTIN" class="itemBackground"></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="GSTIN.hasError('required') && GSTIN.touched">
      <p class="errorMsg"> *GSTIN Number Required</p>
    </ion-item>
    <ion-row no-padding no-margin>
      <ion-col>
        <ion-item no-padding >
        <ion-label stacked>PAN Number</ion-label>
        <ion-input type="text" [(ngModel)]="editParty.PAN" formControlName="PAN" class="itemBackground"></ion-input>        
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="(PAN.hasError('required')) && (PAN.touched)">
      <p class="errorMsg"> *PAN Number Required</p>
    </ion-item>
    <button ion-button full [disabled]="!formGroup.valid">SAVE</button>
    </ion-grid>
  </form>
</div>
</ion-content>
