<!--
  Generated template for the SummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title (click)="onTitleClick()" *ngIf="confidentialityLevel === 1">
      {{ pSummary.profile.fullName }}
    </ion-title>
    <ion-title (click)="onTitleClick()" *ngIf="confidentialityLevel === 2">
      {{ pSummary.profile.fullName }}*
    </ion-title>  
    <ion-buttons end *ngIf="(user.ID != '')">
      <button ion-button icon-only (click)="gotoPartyTransaction()">
        <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="ContentBackground">
 
  <ion-card>
  <ion-grid>
    <ion-row class="TrxCurrency" [(ngModel)]="trxCurrency" radio-group no-padding no-margin > 
      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-avatar item-start>
            <img src="assets/imgs/rupees.png">
          </ion-avatar>
          <ion-label>INR</ion-label>
          <ion-radio value="INR"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6 >
        <ion-item no-lines no-padding>
          <ion-avatar item-start>
            <img src="assets/imgs/dollars.png">
          </ion-avatar>
          <ion-label>USD</ion-label>
          <ion-radio value="USD"></ion-radio> <!--disabled="true"-->
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
  <!-- Summary Card -->
  <ion-card *ngIf="trxCurrency === 'INR';else bizSummaryinUSD">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 text-center>Total : {{ pSummary.businessSummary.businessAmtTotalinLocal | INR }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>  
  <ion-grid> 
    <ion-row>
      <ion-col class="ReceivedOrPaid">
          <p text-center class="summaryRecvPaidFont"><b>{{ pSummary.businessSummary.amtReceviedOrPaidinLocal | INR }}</b></p>  <!--RB2101-->
          <p text-center *ngIf="pSummary.profile.category==='Buyer'"><i> Received </i></p>
          <p text-center *ngIf="pSummary.profile.category==='Supplier'"><i> Paid </i></p>
      </ion-col>
      <ion-col class="AmtPending"> 
        <p text-center class="summaryPendingFont"><b>{{ pSummary.businessSummary.amtPendinginLocal | INR }}</b></p> <!--RB2101-->
        <p text-center *ngIf="pSummary.profile.category==='Buyer'"><i> Remaining </i></p>
        <p text-center *ngIf="pSummary.profile.category==='Supplier'"><i> Pending </i></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="InterestRealized">
          <p text-center class="summaryFont"><b>{{ pSummary.businessSummary.interestRealizedinLocal | INR }}</b></p>  <!--RB2101-->
          <p text-center *ngIf="pSummary.profile.category==='Buyer'"><i> Interest on Received </i></p>
          <p text-center *ngIf="pSummary.profile.category==='Supplier'"><i> Interest on Paid </i></p>
      </ion-col>
      <ion-col>
          <p text-center class="summaryFont"><b>{{ pSummary.businessSummary.interestUnRealizedinLocal | INR }}</b></p>  <!--RB2101-->
          <p text-center><i> Interest on Remaining </i></p>
      </ion-col>
    </ion-row>
  </ion-grid>   
  </ion-card>

  <ng-template #bizSummaryinUSD>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 text-center>Total : {{ pSummary.businessSummary.businessAmtTotalinForiegn | currency:'USD' }}</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>  
      <ion-grid> 
        <ion-row>
          <ion-col class="ReceivedOrPaid">
              <p text-center class="summaryRecvPaidFont"><b>{{ pSummary.businessSummary.amtReceviedOrPaidinForiegn | currency:'USD' }}</b></p>  
              <p text-center *ngIf="pSummary.profile.category==='Buyer'"><i> Received </i></p>
              <p text-center *ngIf="pSummary.profile.category==='Supplier'"><i> Paid </i></p>
          </ion-col>
            <ion-col class="AmtPending"> 
                <p text-center class="summaryPendingFont"><b>{{ pSummary.businessSummary.amtPendinginForiegn | currency:'USD' }}</b></p> 
                <p text-center *ngIf="pSummary.profile.category==='Buyer'"><i> Remaining </i></p>
                <p text-center *ngIf="pSummary.profile.category==='Supplier'"><i> Pending </i></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="InterestRealized">
              <p text-center class="summaryFont"><b>{{ pSummary.businessSummary.interestRealizedinForiegn | currency:'USD' }}</b></p>  
              <p text-center *ngIf="pSummary.profile.category==='Buyer'"><i> Interest on Received </i></p>
              <p text-center *ngIf="pSummary.profile.category==='Supplier'"><i> Interest on Paid </i></p>
          </ion-col>
          <ion-col>
              <p text-center class="summaryFont"><b>{{ pSummary.businessSummary.interestUnRealizedinForiegn | currency:'USD' }}</b></p>
              <p text-center><i> Interest on Remaining </i></p>
          </ion-col>
        </ion-row>
      </ion-grid>   
    </ion-card>    
  </ng-template>

  <ion-card *ngFor="let trxSummary of (pSummary.businessSummary.bizTrxSummary); let i=index">
    <ion-card-header no-padding no-margin>
      <ion-grid>
        <ion-row class="BusinessTrxHeader" *ngIf="(trxSummary.diffDays>0) && (trxSummary.amtPendinginLocal>0);else inrTrxClosed">
          <ion-col class="bizInvoiceDetails">
            INV NO. {{ trxSummary.businessTransaction.trxInvoiceID }}
          </ion-col>
        </ion-row>
        <ng-template #inrTrxClosed>
          <ion-row class="BusinessTrxHeaderClose">
            <ion-col class="bizInvoiceDetails">
              INV NO. {{ trxSummary.businessTransaction.trxInvoiceID }}
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-grid>
    </ion-card-header>
    <ion-card-content no-padding no-margin  (click)="gotoBusinessTrxSummaryPage(trxSummary)"> <!--.businessTransaction,pSummary,i-->
      <ion-grid>
        <ion-row>
          <ion-col col-4 class="BusinessTrxDetailsBorder">
          {{ trxSummary.businessTransaction.trxDate  | date: 'dd-MM-yyyy' }}
          </ion-col>
          <ion-col col-4 class="BusinessTrxDetailsBorder" *ngIf="trxSummary.diffDays > 0; else duedaysrem">
            Overdue : {{  trxSummary.diffDays }} Days
          </ion-col>
          <ng-template #duedaysrem>
            <ion-col col-4 class="BusinessTrxDetailsBorder">
              Due By {{ trxSummary.diffDays }} Days
            </ion-col>
          </ng-template>
          <ion-col col-4 class="BusinessTrxDetailsBorder" >
            {{ trxSummary.businessTransaction.trxDueDate | date: 'dd-MM-yyyy' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="BusinessTrxQtyBorder"><b>WEIGHT</b></ion-col>
          <ion-col col-4 class="BusinessTrxRateBorder"><b>RATE</b></ion-col>
          <ion-col col-4 class="BusinessTrxAmountBorder"><b>AMOUNT</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="BusinessTrxQtyValueBorder">{{ trxSummary.businessTransaction.trxWeight }}</ion-col>
          
          <ion-col col-4 class="BusinessTrxRateValueBorder" *ngIf="((trxSummary.businessTransaction.trxCurrency === 'INR'))">{{ trxSummary.businessTransaction.trxRate | INR}}</ion-col>
          <ion-col col-4 class="BusinessTrxRateValueBorder" *ngIf="((trxSummary.businessTransaction.trxCurrency === 'USD'))">{{ trxSummary.businessTransaction.trxRate | currency:'USD'}}</ion-col> 
          
          <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="((trxSummary.businessTransaction.trxCurrency === 'INR'))">{{ trxSummary.businessTransaction.trxValue | INR}}</ion-col>
          <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="((trxSummary.businessTransaction.trxCurrency === 'USD'))">{{ trxSummary.businessTransaction.trxValue | currency : 'USD'}}</ion-col>  
          
        </ion-row>
        <ion-row>
          <ion-col col-4 class="BusinessTrxTermsBorder"><b>TERMS</b></ion-col>
          <ion-col col-4 class="BusinessTrxLessBorder"><b>Brokerage</b></ion-col>
          <ion-col col-4 class="BusinessTrxTaxBorder"><b>TAX</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="BusinessTrxTermsValueBorder">{{ trxSummary.businessTransaction.trxDueDays }} Days</ion-col>
          <ion-col col-4 class="BusinessTrxLessValueBorder">{{ trxSummary.businessTransaction.trxBrokerageRate }}%</ion-col>
          
          <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="((trxSummary.businessTransaction.trxCurrency === 'INR'))">{{ trxSummary.businessTransaction.trxTaxAmount.totalAmount | INR}}</ion-col>
          <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="((trxSummary.businessTransaction.trxCurrency === 'USD'))">{{ trxSummary.businessTransaction.trxTaxAmount.totalAmount | currency : 'USD'}}</ion-col>            
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="trxSummary.amtPendinginLocal>0; else trxClose">
        <ion-row class="BusinessTrxFooterBackground">
          <ion-col col-4 class="BusinessTrxGrandTotalBorder"><b>GRAND TOTAL</b></ion-col>
          <ion-col col-4 class="BusinessTrxReceivedBorder" *ngIf="pSummary.profile.category==='Buyer';else paymentPaid"><b>Received</b></ion-col>
          <ng-template #paymentPaid>
            <ion-col col-4 class="BusinessTrxReceivedBorder"><b>Paid</b></ion-col>
          </ng-template>
          <ion-col col-4 class="BusinessTrxPendingBorder"><b>Pending</b></ion-col>
        </ion-row>
        <ion-row  class="BusinessTrxFooterBackground" *ngIf="(trxCurrency === 'INR')">
          <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
            <p><b> {{ trxSummary.trxLocalAmount | INR}}</b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxReceivedValueBorder">
              <p class="AmtRecvTextColor"><b>{{ trxSummary.amtReceviedOrPaidinLocal | INR }}</b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxPendingValueBorder">
              <p class="AmtPendingTextColor"><b>{{ trxSummary.amtPendinginLocal | INR}}</b></p>
          </ion-col>
        </ion-row>
      
        <ion-row  class="BusinessTrxFooterBackground" *ngIf="(trxCurrency === 'USD')">
          <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
              <p><b>{{ trxSummary.trxForiegnAmount | currency: 'USD' }}</b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxReceivedValueBorder">
              <p class="AmtRecvTextColor"><b>{{ trxSummary.amtReceviedOrPaidinForiegn | currency: 'USD' }}</b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxPendingValueBorder">
              <p class="AmtPendingTextColor"><b>{{ trxSummary.amtPendinginForiegn | currency: 'USD' }}</b></p>
          </ion-col>
        </ion-row>

        <ion-row class="BusinessTrxFooterBackground" *ngIf="(trxCurrency === 'INR')">
          <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><b><i>INTEREST==></i></b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><i>({{ trxSummary.interestRealizedinLocal | INR}})</i></p>  
            </ion-col>
          <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><i>({{ trxSummary.interestUnRealizedinLocal | INR}})</i></p>
          </ion-col>          
        </ion-row>
        
        
        <ion-row class="BusinessTrxFooterBackground" *ngIf="(trxCurrency === 'USD')">
          <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><b><i>INTEREST==></i></b></p>
          </ion-col>
          <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><i>( {{ trxSummary.interestRealizedinForiegn | currency: 'USD' }})</i></p>  
            </ion-col>
          <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><i>( {{ trxSummary.interestUnRealizedinForiegn | currency: 'USD' }})</i></p>
          </ion-col>          
        </ion-row>
        
      </ion-grid>
      <ng-template #trxClose>
        <ion-grid>
          <ion-row class="BusinessTrxFooterBackgroundClose">
            <ion-col col-4 class="BusinessTrxGrandTotalBorder"><b>GRAND TOTAL</b></ion-col>
            <ion-col col-4 class="BusinessTrxReceivedBorder" *ngIf="pSummary.profile.category==='Buyer';else paymentPaid"><b>Received</b></ion-col>
            <ng-template #paymentPaid>
              <ion-col col-4 class="BusinessTrxReceivedBorder"><b>Paid</b></ion-col>
            </ng-template>
            <ion-col col-4 class="BusinessTrxPendingBorder"><b>Pending</b></ion-col>
          </ion-row>
          <ion-row  class="BusinessTrxFooterBackgroundClose" *ngIf="(trxCurrency === 'INR')">
            <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
              <p><b> {{ trxSummary.trxLocalAmount | INR}}</b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxReceivedValueBorder">
                <p class="AmtRecvTextColor"><b>{{ trxSummary.amtReceviedOrPaidinLocal | INR}}</b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxPendingValueBorder">
                <p class="AmtPendingTextColor"><b>{{ trxSummary.amtPendinginLocal | INR}}</b></p>
            </ion-col>
          </ion-row>      
          <ion-row  class="BusinessTrxFooterBackgroundClose" *ngIf="(trxCurrency === 'USD')">
            <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
              <p><b>{{ trxSummary.trxForiegnAmount | currency : 'USD' }}</b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxReceivedValueBorder">
                <p class="AmtRecvTextColor"><b>{{ trxSummary.amtReceviedOrPaidinForiegn | currency : 'USD' }}</b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxPendingValueBorder">
                <p class="AmtPendingTextColor"><b>{{ trxSummary.amtPendinginForiegn | currency : 'USD' }}</b></p>
            </ion-col>
          </ion-row>

          <ion-row class="BusinessTrxFooterBackgroundClose" *ngIf="(trxCurrency === 'INR')">
            <ion-col col-4 class="BusinessTrxFooterBorder">
            <p><b><i>INTEREST==></i></b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxFooterBorder">
              <p><i>({{ trxSummary.interestRealizedinLocal | INR}})</i></p>  
              </ion-col>
            <ion-col col-4 class="BusinessTrxFooterBorder">
              <p><i>({{ trxSummary.interestUnRealizedinLocal | INR}})</i></p>
            </ion-col>          
          </ion-row>
          
          <ion-row class="BusinessTrxFooterBackgroundClose" *ngIf="(trxCurrency === 'USD')">
            <ion-col col-4 class="BusinessTrxFooterBorder">
              <p><b><i>INTEREST==></i></b></p>
            </ion-col>
            <ion-col col-4 class="BusinessTrxFooterBorder">
              <p><i>({{ trxSummary.interestRealizedinForiegn | currency : 'USD' }})</i></p>  
              </ion-col>
            <ion-col col-4 class="BusinessTrxFooterBorder">
              <p><i>({{ trxSummary.interestUnRealizedinForiegn | currency : 'USD' }})</i></p>
            </ion-col>          
          </ion-row>
        </ion-grid>
      </ng-template>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-grid class="footer">
    <ion-row class="footer">

      <ion-col class="footer">
        <ion-item class="iconAlign" no-lines (click)="addBusinessTransaction()" *ngIf="(user.bWriteAccess)">
            <img src="assets/imgs/diamond.png">
        </ion-item>
      </ion-col>

      <ion-col class="footer">
        <ion-item class="iconAlign" no-lines (click)="addFinanceTransaction()" *ngIf="(user.bWriteAccess)">
          <img src="assets/imgs/money.png">
        </ion-item>
      </ion-col>

      <ion-col class="footer">
        <ion-item class="iconAlign" no-lines (click)="downloadPdf()">
          <img src="assets/imgs/pdf.png">
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>