<!--
  Generated template for the MyInventoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!bInvalidUser">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      my Inventory
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchInput" (ionInput)="onSearch($event)" placeholder="Enter Weight">
  </ion-searchbar> 
  <ion-list *ngIf="searchInput">
    <ion-item *ngFor="let search of searchList" (click)="inputSelected(search)">
      <h2 text-capitalize>{{search}}</h2>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content padding>
  <!--button  ion-button block  color="primary"  (click)="gotoPackageRules()">Package Rules</button>
  <button  ion-button block  color="primary"  (click)="addItem()">BUY ROUGH</button -->
  <div *ngIf="(taskSummaryList) && (taskSummaryList.length > 0)">
    <ion-card *ngFor="let taskSummary of taskSummaryList; let i=index" type="button" >
      <ion-card-header no-padding>
        <ion-grid style="padding: 0 ;" >
          <ion-row>
            <ion-col text-center >
                {{ taskSummary.taskCode }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content no-padding (click)="gotoTaskSummary(taskSummary.taskCode)">
        <ion-grid *ngIf="taskSummary.taskCode === 'PURCHASE'">
          <ion-row>
            <ion-col col-6 text-center> Purchased :</ion-col>
            <ion-col col-6 text-center> Received :</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 text-center>{{ taskSummary.Input.totalWeight }} cts </ion-col>
            <ion-col col-6 text-center>{{ taskSummary.Output.totalWeight }} cts</ion-col>
            <!-- <ion-col col-4>{{ taskSummary.Input.taskCost + taskSummary.Input.accumulatedTaskCost }} INR</ion-col>
            <ion-col col-4>{{ taskSummary.Output.taskCost + taskSummary.Output.accumulatedTaskCost }} INR</ion-col> -->
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="taskSummary.taskCode === 'PLANNING'">
          <ion-row>
            <ion-col col-4 text-center> For Planning :</ion-col>
            <ion-col col-4 text-center> In Planning :</ion-col>
            <ion-col col-4 text-center> Completed :</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 text-center>{{ taskSummary.Pending.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ taskSummary.InProgress.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ taskSummary.Completed.totalWeight }} cts</ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col col-4>{{ taskSummary.Pending.taskCost + taskSummary.Pending.accumulatedTaskCost }} INR</ion-col>
            <ion-col col-4>{{ taskSummary.InProgress.taskCost + taskSummary.InProgress.accumulatedTaskCost }} INR</ion-col>
            <ion-col col-4>{{ taskSummary.Completed.taskCost + taskSummary.Completed.accumulatedTaskCost}} INR</ion-col>
          </ion-row> -->
        </ion-grid>
        <ion-grid *ngIf="taskSummary.taskCode === 'MFG_ISSUE'">
          <ion-row>
            <ion-col col-4 text-center> For Mfg :</ion-col>
            <ion-col col-4 text-center> In Issue :</ion-col>
            <ion-col col-4 text-center> Mfg Issued  :</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 text-center>{{ taskSummary.Pending.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ taskSummary.InProgress.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ taskSummary.Output.totalWeight }} cts</ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col col-4>{{ taskSummary.Pending.taskCost + taskSummary.Pending.accumulatedTaskCost }} INR</ion-col>
            <ion-col col-4>{{ taskSummary.Output.taskCost + taskSummary.Output.accumulatedTaskCost}} INR</ion-col>
            <ion-col col-4>{{ taskSummary.InProgress.taskCost + taskSummary.InProgress.accumulatedTaskCost }} INR</ion-col>
          </ion-row> -->
        </ion-grid>
        <ion-grid *ngIf="taskSummary.taskCode === 'MFG_RETURN'">
          <ion-row>
            <ion-col col-4 text-center> Issued :</ion-col>
            <ion-col col-4 text-center> Returned :</ion-col>
            <ion-col col-4 text-center> Pol Return :</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 text-center>{{ taskSummary.Input.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ taskSummary.Completed.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ taskSummary.Output.totalWeight }} cts</ion-col>
          </ion-row> 
          <!-- <ion-row>
            <ion-col col-4>{{ taskSummary.Input.taskCost + taskSummary.Input.accumulatedTaskCost }} INR</ion-col>
            <ion-col col-4>{{ taskSummary.Completed.taskCost + taskSummary.Completed.accumulatedTaskCost }} INR</ion-col>
            <ion-col col-4>{{ taskSummary.Output.taskCost + taskSummary.Output.accumulatedTaskCost }} INR</ion-col>
          </ion-row> -->
        </ion-grid> 
        <ion-grid *ngIf="taskSummary.taskCode === 'ASSORTMENT'">
          <ion-row>
            <ion-col col-4 text-center> For Assortment :</ion-col>
            <ion-col col-4 text-center> In Assortment :</ion-col>
            <ion-col col-4 text-center> For Sales :</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 text-center>{{ taskSummary.Pending.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ taskSummary.InProgress.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ taskSummary.Output.totalWeight }} cts</ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col col-4>{{ taskSummary.Pending.taskCost + taskSummary.Pending.accumulatedTaskCost }} INR</ion-col>
            <ion-col col-4>{{ taskSummary.InProgress.taskCost + taskSummary.InProgress.accumulatedTaskCost }} INR</ion-col>
            <ion-col col-4>{{ taskSummary.Output.taskCost + taskSummary.Output.accumulatedTaskCost}} INR</ion-col>
          </ion-row> -->
        </ion-grid>                 
        <ion-grid *ngIf="taskSummary.taskCode === 'SALES'">
          <ion-row text-center no-wrap>
            <ion-col text-center> For Sales :</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col text-center>{{ taskSummary.Input.totalWeight }} cts</ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col col-4>{{ taskSummary.Pending.taskCost + taskSummary.Pending.accumulatedTaskCost }} INR</ion-col>
            <ion-col col-4>{{ taskSummary.InProgress.taskCost + taskSummary.InProgress.accumulatedTaskCost }} INR</ion-col>
            <ion-col col-4>{{ taskSummary.Output.taskCost + taskSummary.Output.accumulatedTaskCost}} INR</ion-col>
          </ion-row> -->
        </ion-grid>                 
      </ion-card-content>    
    </ion-card>  
  </div>
</ion-content>
