<!--
  Generated template for the PartyListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle *ngIf="(user.ID !=='')">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Party List</ion-title>
    <ion-buttons end *ngIf="(((user.organisationID !=='') && (user.ID !=='') && (user.ID !=='M')) && authProvider.getAuthenticated())">
      <button ion-button icon-only (click)="addParty()" *ngIf="(user.bWriteAccess)">
        <ion-icon name="person-add"></ion-icon>
      </button>
      <!-- <button ion-button clear icon-only (click)="filterButtonClick()">    
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid *ngIf="(((user.organisationID !=='') && (user.ID !=='') && (user.ID !=='M')) && authProvider.getAuthenticated())">
    <ion-card *ngFor="let p of filteredPartyProfiles; let i=index" type="button" >
        <ion-card-header>
          <ion-grid class="card-header">                                                              
            <ion-row class="card-header">
              <ion-col class="card-header">
                <ion-item class="card-header">
                  <ion-avatar item-start *ngIf="p.category === 'Buyer'">
                      <img src="assets/imgs/customer.png">
                    </ion-avatar>
                    <ion-avatar item-start *ngIf="p.category === 'Supplier'">
                      <img src="assets/imgs/supplier.png">
                    </ion-avatar>
                    <ion-avatar item-start *ngIf="p.category === 'Broker'">
                      <img src="assets/imgs/broker.png">
                    </ion-avatar>
                  {{ p.fullName }}
                </ion-item>
              </ion-col>
              <ion-col col-auto class="call" >
                <button class="call" ion-button small outline round icon-only (click)="callNumber(p.phone_1)"> 
                  <ion-item class="call" >
                    <ion-icon name="call"></ion-icon> 
                  </ion-item>
                </button>
              </ion-col>
              <ion-col col-auto>
                <button class="more" ion-button clear icon-only (click)="editOrDeletePartyProfile(p)"> 
                  <ion-icon name="more"></ion-icon> 
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
    
        <ion-card-content (click)="goToSummaryPage(p)">
          <div style="display: block">
             <ion-grid>
               <ion-row>
                 <ion-col col-4>Address:</ion-col>
                 <ion-col col-8>{{ p.addressLine1}}</ion-col>
               </ion-row>
               <ion-row>
                <ion-col col-4></ion-col>
                <ion-col col-8>{{ p.addressLine2}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>City:</ion-col>
                <ion-col col-8>{{ p.city}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>Pincode:</ion-col>
                <ion-col col-8>{{ p.pincode}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>PAN No.:</ion-col>
                <ion-col col-8>{{ p.PAN}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>GST No.:</ion-col>
                <ion-col col-8>{{ p.GSTIN}}</ion-col>
              </ion-row>
            </ion-grid>        
          </div>
        </ion-card-content>
        <ion-grid class="card-footer">
          <ion-row class="card-footer" >
            <ion-col class="card-footer">
              {{ p.email_1 }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  </ion-grid>
</ion-content>
