<ion-header >
  <ion-navbar color="primary">
    <ion-title>
      Rough Cost Calculator
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="primary" class="segment-class" >
    <ion-segment [(ngModel)]="tab" color="primary">
      <ion-segment-button value="purity" (click)="selectedTab(0)" >
        Purity
      </ion-segment-button>
      <ion-segment-button value="size" (click)="selectedTab(1)">
        Size
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-slides #slider (ionSlideDidChange)="updateSegment()">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <ion-item>
                    <ion-label floating>Purity 1</ion-label>
                    <ion-input type="number" ></ion-input>
                  </ion-item>
                  </ion-col>
                <ion-col col-6>
                  <ion-label class="purity-percentage" >
                    20%
                  </ion-label>  
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-item>
                    <ion-label floating>Purity 2</ion-label>
                    <ion-input type="number" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col class="purity-percentage" col-6>
                  20%
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-item>
                    <ion-label floating>Purity 3</ion-label>
                    <ion-input type="number" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-6 class="purity-percentage">
                  20%
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-item>
                    <ion-label floating>Purity 4</ion-label>
                    <ion-input type="number" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-6 class="purity-percentage">
                  20%
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col col-6>
              <ion-grid>
                <ion-row>
                  <ion-col col-6>
                    <ion-item>
                      <ion-label floating>Purity 5</ion-label>
                      <ion-input type="number" ></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-6 class="purity-percentage">
                    20%
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>
                    <ion-item>
                      <ion-label floating>Col 1</ion-label>
                      <ion-input type="number" ></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-6 class="purity-percentage">
                    20%
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>
                    <ion-item>
                      <ion-label floating>Col 2</ion-label>
                      <ion-input type="number" ></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-6 class="purity-percentage">
                    20%
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>
                    <ion-item>
                      <ion-label floating>Rejection</ion-label>
                      <ion-input type="number" ></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-6 class="purity-percentage">
                    20%
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-grid>
        <ion-row>
          <ion-col col-6>
              <ion-item>
                <ion-label>Limit</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label>Purity 1</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-item>
                  <ion-label>col 1</ion-label>
                  <ion-input type="number"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label>Purity 2</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label>col 2</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label>Purity 3</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label>MILKY</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label>Purity 4</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
      </ion-grid> -->
    </ion-slide>
    
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>(-)11</ion-label>
              <ion-input type="number" (ionFocus)="selectedTab(1)" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>(1/5)</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-item >
              <ion-label floating>(+)11</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>      
          </ion-col>
          <ion-col col-6>
            <ion-item >
              <ion-label floating>(1/4)</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col col-6>
            <ion-item>
              <ion-label floating>(+)14</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3 text-start style="padding-left: 20px !important">
            Total
          </ion-col>
          <ion-col col-3 text-start>
            {{total}}
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-grid class="after-slides">
    <ion-row >
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Less</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Labour</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Yield</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3 text-start style="padding-left: 20px !important">
        USD rate 
      </ion-col>
      <ion-col col-3 text-start>
        {{usdRate}}
      </ion-col>
    </ion-row>
    <ion-row class="result">
      <ion-col col-6 >
        <ion-item>
          <ion-label floating>Asking</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col text-center style="font-weight: bold ; font-size: 2.5rem ; align-self: center;">
        100$
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid class="footer">
    <ion-row class="footer" justify-content-center>
      <ion-col  col-4 >
        <button ion-button > Clear </button>
      </ion-col>
      <ion-col  col-4 >
        <button ion-button > Save </button>
      </ion-col>
      <ion-col col-4>
          <button ion-button > Calculate </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
