page-home {
    .header-md::after {
    	display: none;
    }

    .footer-md::before{
        display: none;
    }
    
    ion-segment{
        border: 3px solid black;
        border-bottom: 0;
    }

    .segment-class{
        padding: 0;
    }

    .toolbar-md{
        border-bottom: 0;
    }

    .button-md{
        width: 96%;
        margin-left: 2%;
    }

    ion-footer{
        background-color: map-get($map: $colors, $key:light );
    }

    .scroll-content{
        padding-top:0; 
        background-color: map-get($map: $colors, $key:light );
    }

    ion-item{
        background-color: transparent !important;
    }

    .toolbar-content-md{
        margin-top: 16px;
    }

    ion-slides{
        height: fit-content;
        background-color: map-get($map: $colors, $key:light );
        border: 3px solid black; 
        border-top: 0;
    }

    ion-grid{
        padding: 0 !important;
        
    }

    ion-col{
        padding: 0 !important;
        align-self: flex-end;
    }

    ion-row{
        padding: 0 !important;
    }

    .result{
        border-top: 3px solid black;
        height: 13vh;
        vertical-align: middle !important ;
        align-items: center !important
    }

    .segment-button{
        color:map-get($map: $colors, $key:dark) !important;
    }

    .segment-button.segment-activated {
        background-color: map-get($map: $colors, $key:light );
        color: map-get($map: $colors, $key:primary ) !important;
        border-color: map-get($map: $colors, $key:light ) !important;
    }

    .purity-percentage{
        margin-bottom: 9px ;
        font-size: 1.5rem;
    }

    .after-slides{
        background-color: map-get($map: $colors, $key:light );
        border: 3px solid black;
    }

    ion-grid.footer{
        padding: 0;
    }
    ion-row.footer{
        padding: 0;
    }
    ion-col.footer{
        width: 100%;
    }

}
