page-party-transactions {
    
    ion-scroll{
        position: unset;
        padding: 0% !important;
    }

    ion-col{
        padding: 0% !important;
    }

    .table-header{
        background-color: #263238;
        border: 1px solid black;
        font-weight: bold;
        padding: 5px !important;
        color: white;
    }

    .sticky-col-odd{
        border: 1px solid black;
        padding: 5px !important;
        font-weight: bold;
        background-color: #F5F5F5;
    }

    .sticky-col-even{
        border: 1px solid black;
        padding: 5px !important;
        font-weight: bold;
    }

    ion-grid{
        padding: 0% !important;
        // overflow: scroll;
    }
    .values-odd{
        border: 1px solid black !important;
        padding: 5px !important;
        background-color: #F5F5F5;
    }

    .values-even{
        border: 1px solid black !important;
        padding: 5px !important;
    }

    ion-row{
        padding: 0% !important;
        background-color: transparent;
    }

    .TrxCurrency{
        border: 1px solid #E0E0E0;
    }
}
