<!--
  Generated template for the FinanceTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="contentPage">
  <div class="divHeight">
  <ion-toolbar color="primary">  <!--RB2101-->
    <ion-title> Received / Paid : {{ pBusinessContact.fullName }} </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="goToSummaryPage()">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
<form class="formBackground" [formGroup]="formGroup" (submit)="saveTransaction();">
  <ion-grid no-margin>
    <ion-row *ngIf="pBusinessContact.category === 'Supplier'; else Buyer" class="itemBorder" formControlName="trxnType" radio-group no-padding no-margin>  <!--RB2101-->
      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-label stacked>Paid</ion-label>
          <ion-radio value="Out_Debit"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-label stacked>Received</ion-label>
          <ion-radio value="In_Credit"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
      <ion-row *ngIf="pBusinessContact.category === 'Buyer'" class="itemBorder" formControlName="trxnType" radio-group no-padding no-margin>
      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-label stacked>Received</ion-label>
          <ion-radio value="In_Credit"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines no-padding>
          <ion-label stacked>Paid</ion-label>
          <ion-radio value="Out_Debit"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  <!-- </ion-grid> -->
  <ion-item *ngIf="trxnType.hasError('required') && trxnType.touched">
    <p class="errorMsg"> *Type is required</p>
  </ion-item>
  <ion-row no-padding no-margin>
    <ion-col>
      <ion-item no-padding>
          <ion-label stacked>Date</ion-label>  <!--RB2101-->
          <ion-datetime class="itemBackground" formControlName="trxnDate" displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item *ngIf="trxnDate.hasError('required') && trxnDate.touched">
      <p class="errorMsg"> *Date is required</p>
  </ion-item>
  <!-- <ion-grid>  RB2101 -->
    <ion-row class="itemBorder" formControlName="currType" radio-group no-padding no-margin (ionChange)="isTrxChanged()"> 
      <ion-col col-6>
        <ion-item class="trxCurrAlign" no-lines no-padding>
          <ion-avatar item-start>
            <img src="assets/imgs/rupees.png">
          </ion-avatar>
          <ion-label>INR</ion-label>
          <ion-radio value="INR"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6 >
        <ion-item class="trxCurrAlign" no-lines no-padding>
          <ion-avatar item-start>
            <img src="assets/imgs/dollars.png">
          </ion-avatar>
          <ion-label>USD</ion-label>
          <ion-radio value="USD"></ion-radio> <!-- disabled="true"-->
        </ion-item>
      </ion-col>
    </ion-row>
  <!-- </ion-grid> -->
    <ion-item *ngIf="currType.hasError('required') && currType.touched">
      *Please select suitable Currency
    </ion-item>
    <ion-row no-padding no-margin>
      <ion-col  *ngIf="currType.value === 'INR'; else usdCurrency">
        <ion-item no-padding>
          <ion-label stacked>Exchange Rate</ion-label>
          <ion-input class="itemBackground" formControlName="trxCurrencyRate" type="number" value="{{exchangeRate}}" [disabled]="true"></ion-input> <!--RB2101  disabled="true"-->
        </ion-item>
      </ion-col>
      <ng-template #usdCurrency>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Exchange Rate</ion-label>
            <ion-input class="itemBackground" formControlName="trxCurrencyRate" type="number" value="{{exchangeRate}}" ></ion-input> <!--RB2101  disabled="true"-->
          </ion-item>
        </ion-col>
      </ng-template>
    </ion-row>
  <ion-item *ngIf="trxCurrencyRate.hasError('min') || (trxCurrencyRate.hasError('required') && trxCurrencyRate.touched)">
    <p class="errorMsg"> *Currency Rate should be greater than 0</p>
  </ion-item> 
  <ion-row no-padding no-margin>
    <ion-col>
      <ion-item no-padding>
        <ion-label stacked>Amount</ion-label>
        <ion-input class="itemBackground" type="number" formControlName="amount"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item *ngIf="amount.hasError('min') || (amount.hasError('required') && amount.touched)">
    <p class="errorMsg"> *Amount should be greater than 0</p>
  </ion-item>
  <ion-row class="itemBorder" formControlName="paymentMethod" radio-group no-padding no-margin>  
    <ion-col col-4>
      <ion-item no-lines no-padding>
        <ion-label stacked>Cheq</ion-label>
        <ion-radio value="cheq"></ion-radio>
      </ion-item>
     </ion-col>
    <ion-col col-4>
      <ion-item no-lines no-padding>
        <ion-label stacked>Cash</ion-label>
        <ion-radio value="cash"></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col col-4>
      <ion-item no-lines no-padding>
        <ion-label stacked>Cour</ion-label>
        <ion-radio value="cour"></ion-radio>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row no-padding no-margin>
    <ion-col>
      <ion-item no-padding>
        <ion-label stacked>Remarks</ion-label>
        <ion-input class="itemBackground" type="text" formControlName="remarks" maxlength="15"></ion-input>
      </ion-item>
    </ion-col>
    </ion-row>
    <button ion-button full [disabled]="!formGroup.valid">SAVE</button>
  </ion-grid>
</form>
</div>
</ion-content>
