
<ion-content>
  <ion-list>
    <ion-item (click)="generateInvoice()">
      Generate Invoice
    </ion-item>
    <ion-item (click)="deleteBusinessTransaction()">
      Delete
    </ion-item>
  </ion-list>

</ion-content>
