Ppage-add-expense {

	.content-height{
    	padding-top: 5%;
    }

    .itemBackground{
        background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),color-stop(100%,#FFD54F)); 
        border:1px solid #E0E0E0;
    }

    .sample-modal{
    	background: rgba(0,0,0,0.5);
    }

    .errorMsg{
        color: #D50000;
    }

    .scroll-content {
    	padding-top: 35%;
	}

    button.wages{
        background-color: map-get($colors,light);
        color:black;
        border-radius: 10px;
        margin: 0;
        justify-content: flex-start;
        width: 100%;
    }
}
