<ion-content padding class="sample-modal">
	<div class="content-height">
		<ion-toolbar color="primary">
	    	<ion-title>Add Expense</ion-title>
	    	 
	    </ion-toolbar>
	    <form [formGroup]="formGroup" (submit)="saveExpense();">
	    	<ion-item no-lines>
		      <ion-label no-lines >Type of expense</ion-label>
		      <ion-select  [(ngModel)]="type" formControlName="inputType"  >
		        <ion-option value="bill">Bill payment</ion-option>
		        <ion-option value="machinery">Machinary</ion-option>
		      </ion-select>
		    </ion-item>
		    <ion-item *ngIf="inputType.hasError('required') && inputType.touched" no-lines>
		    	<p class="errorMsg"> *Select type of expense</p>
		    </ion-item>
		    <ion-grid style="background-color: white ">
		    	<ion-row no-margin>
		    		<button padding no-margin text-left class="wages" (click)="addWages()" > Wages</button>
		    	</ion-row>
			</ion-grid>

	      	<ion-item style="padding-bottom: 10px">
        		<ion-label stacked>Amount</ion-label>
            	<ion-input type="number" [(ngModel)]="amount" formControlName="inputAmount" class="itemBackground"></ion-input>
          	</ion-item>
          	<ion-item *ngIf="(inputAmount.hasError('min')||inputAmount.hasError('required')) && inputAmount.touched">
		    	<p class="errorMsg"> *Enter amount greater then 0</p>
		    </ion-item>
          	<button  ion-button full [disabled]="!formGroup.valid" >SAVE</button>
	    </form>
	</div>
</ion-content>
