page-sales-items {

    ion-footer.footer{
        height: 7% ; 
        background-color: map-get($map: $colors, $key: primary) ; 
        color: white ;
    }

    ion-row.footer{
        height: 100%;
        align-items: center; 
        vertical-align: middle;
    }

    .scroll-content{
        background-color: map-get($map: $colors, $key:light );
    }

    .img{
        width: 100%; 
        height: 100%; 
        max-height: 100px !important; 
        max-width: 100px !important;
        min-height: 100px !important;
        max-height: 100px !important;
    }

    .card{
        border-radius: 5px;
    }
}
