<ion-header>
    <ion-navbar color="primary">
        <ion-title>Home</ion-title>
        <ion-buttons end>
            <button ion-button icon-only clear (click)="goToSalesOrderPage()" *ngIf=" this.user.isAdmin === true " > 
                <ion-icon name="list-box"></ion-icon>
            </button>
            <button ion-button icon-only clear (click)="addItem()" *ngIf=" this.user.isAdmin === true ">
                <ion-icon name="add"></ion-icon>
            </button>
            <button ion-button clear (click)="login()" *ngIf=" this.user.ID === '' " >
                LOGIN
            </button>
            <button ion-button clear (click)="logout()" *ngIf=" this.user.ID !== '' " >
                LOGOUT
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-searchbar [(ngModel)]="searchInput" (ionInput)="onSearch($event)" placeholder="Search crop"></ion-searchbar>

    <ion-grid no-padding>
        <ion-row *ngFor="let item of searchedItemList ; let i = index" no-padding>
            <ion-col col-6 *ngIf="i%2 == 0" no-padding>
                <ion-card no-padding>
                    <ion-card-content no-padding >
                        <ion-grid no-padding>
                            <ion-row no-padding style="align-items: center; vertical-align: middle;">
                                <ion-col  no-padding text-center style="font-weight: bold">
                                    {{searchedItemList[i].itemName}}
                                </ion-col>
                                <ion-col col-3 text-center *ngIf=" this.user.isAdmin === true " >
                                    <button ion-button clear icon-only (click)="editItem(searchedItemList[i])" >
                                        <ion-icon name="create"></ion-icon>
                                    </button>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding style="align-items: center; vertical-align: middle;" (click)="openInfoPage(searchedItemList[i])">
                                <ion-col col-7 no-padding >
                                    <img class="img" [src]="searchedItemList[i].imageURL" />
                                </ion-col>
                                <ion-col col-5 no-padding>
                                    <ion-grid no-padding>
                                        <ion-row no-padding>
                                            <ion-col no-padding text-center>
                                                {{searchedItemList[i].itemPrice}} / {{searchedItemList[i].itemUOM}}
                                            </ion-col>
                                        </ion-row>
                                        <ion-row no-padding>
                                            <ion-col no-padding text-center>
                                                ({{searchedItemList[i].itemQuantity - searchedItemList[i].reservedQuantity}}
                                                left)
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                    <ion-row no-padding *ngIf=" this.user.isAdmin === false ">
                        <ion-col no-padding text-center>
                            <button ion-button clear (click)="addToCart(searchedItemList[i])" no-padding> Add
                                to cart </button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
            <ion-col col-6 *ngIf="( i%2 == 0 ) && ( searchedItemList.length > i+1 )" no-padding>
                <ion-card no-padding>
                    <ion-card-content no-padding >
                        <ion-grid no-padding>
                            <ion-row no-padding style="align-items: center; vertical-align: middle;">
                                <ion-col no-padding text-center style="font-weight: bold">
                                    {{searchedItemList[i+1].itemName}}
                                </ion-col>
                                <ion-col col-3 text-center *ngIf=" this.user.isAdmin === true ">
                                    <button ion-button clear icon-only (click)="editItem(searchedItemList[i+1])">
                                        <ion-icon name="create"></ion-icon>
                                    </button>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding style="align-items: center; vertical-align: middle;" (click)="openInfoPage(searchedItemList[i+1])">
                                <ion-col col-7 no-padding >
                                    <img class="img" [src]="searchedItemList[i+1].imageURL" />
                                </ion-col>
                                <ion-col col-5 no-padding>
                                    <ion-grid no-padding>
                                        <ion-row no-padding>
                                            <ion-col no-padding text-center>
                                                {{searchedItemList[i+1].itemPrice}} / {{searchedItemList[i+1].itemUOM}}
                                            </ion-col>
                                        </ion-row>
                                        <ion-row no-padding>
                                            <ion-col no-padding text-center>
                                                ({{searchedItemList[i+1].itemQuantity - searchedItemList[i+1].reservedQuantity}}
                                                left)
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                    <ion-row no-padding *ngIf=" this.user.isAdmin === false ">
                        <ion-col no-padding text-center>
                            <button ion-button clear (click)="addToCart(searchedItemList[i+1])" no-padding> Add
                                to cart </button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="footer" *ngIf="orderProvider.salesOrder.salesItems.length !== 0 ">
    <ion-grid style="height: 100%">
        <ion-row class="footer" (click)="goToCheckOutPage()">
            <ion-col col-4 text-center style="font-weight: bold">
                {{orderProvider.salesOrder.grandTotal}}
            </ion-col>
            <ion-col text-center col-4 style="font-weight: bold">
                CHECKOUT
            </ion-col>
            <ion-col col-2 text-center style="font-weight: bold">
                {{orderProvider.salesOrder.salesItems.length}}
            </ion-col>
            <ion-col col-2 text-center style="font-size: 2rem">
                <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
