page-samaj {
	ion-content.hn3{
		background-color: #FAD7A0;
	}

	ion-card-header {
		font-size: 18px;
		margin: 0;
		padding: 0;
		margin-bottom: 1.0rem;
		text-align: center;
		text-transform: capitalize;
		background-color: #E67E22;
	}
	.header-md::after {
    	display: none;
	}

	.radio{
		vertical-align: middle;
		align-items: center;
		padding-left: 5px;
		padding-right: 5px;
	}


	.card-header-md {
 		font-size: 1.6rem;
  		color: #222;
  		padding: 7px;
  		padding-top: 13px;
}
	ion-row{
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.grid{
		padding: 0;
	}

	.col{
		margin: 0;
		padding: 0;
		display: inline-flex;
		vertical-align: middle;
		align-items: center;
	}

	.footer{
		margin: 0;
		padding: 0;
		width: 100%;
		display: inline-flex;
		vertical-align: middle;
		align-items: center;
	}

	.card-content-md {
    	padding: 10px 12px;
    	font-size: 1.4rem;
    	line-height: 1.5;
	}

	.call{
		margin: 0;
		margin-right: 10px;
		color: green;
		border-color: green;
		background-color: #E67E22 ;
	}

	.address-info{
		margin: 0;
		padding: 0;
	}

	.name{
		font-weight: bold;
		text-align: center;
	}
	
 	ion-title {
 		font-weight: bold;
 		font-size: 20px;
 	}
 	ion-buttons {
 		border-radius: 5px;
 		width: 60%
 	}
 	ion-card.card {
 		width: 100%;
 		margin: 0;
 		margin-bottom: 0.8rem
 	}
 	.city-list{
 		padding: 0;
 	}


}
