
<!--
  Generated template for the SamajPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-toolbar color = "primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start *ngIf="language === 'english' "> SAMAAJ </ion-title>
    <ion-title start *ngIf="language === 'gujarati' "> સમાજ </ion-title>
    <ion-buttons end>
      <ion-searchbar [(ngModel)]="SearchInput" [formControl]="SearchControl" (ionInput)="onSearch($event)" placeholder="Search city"></ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
    <ion-list *ngIf="SearchInput" class = "city-list">
      <ion-item *ngFor="let city of cities" (click)="InputSelected($event,city)">
        <h2 text-capitalize>{{city}}</h2>
      </ion-item>
    </ion-list>
</ion-header>


<ion-content padding class="hn3" >
  <!-- <ion-searchbar [(ngModel)]="SearchInput" [formControl]="SearchControl" (ionInput)="onSearch($event)"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="SearchInput">
    <ion-item *ngFor="let city of cities" (click)="InputSelected($event,city)" >
      <h2>{{city}}</h2>
    </ion-item>

  </ion-list> -->
  <ion-grid style="width: fit-content">
    <ion-row style="border: 1px solid black; margin-bottom: 3px ; border-radius: 20px" radio-group justify-content-center >
      <ion-col col-auto>
        <ion-item   style="background-color: transparent;">
          <ion-label>English</ion-label>
          <ion-radio (ionSelect)="languageSelected('english')"  checked="true" value="English"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-auto>
        <ion-item style="background-color: transparent;">
          <ion-label>ગુજરાતી</ion-label>
          <ion-radio (ionSelect)="languageSelected('gujarati')"  value="Gujarati"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>




	<ion-card  *ngFor="let one_samaj of samaj" class="card">
  		<ion-card-header >
          <h2 style="color: white"><b>{{one_samaj.city}} | {{one_samaj.state}}</b></h2>
      </ion-card-header>
      <ion-card-content>
        <div>
          <div class="name">
              <h2><b>{{one_samaj.name}}</b></h2>
          </div>
          <div class = "address-info">
            {{one_samaj.address}},
            <br>
            {{one_samaj.city}},<br>
            {{one_samaj.state}} - {{one_samaj.pincode}}.
            <br>
          </div>
        </div>
        <hr>
        <div *ngIf="one_samaj.phone1 != '' && one_samaj.phone2 != '' ; else elseBlock1 " class="footer" >
          <ion-grid>
            <ion-row justify-content-between>
              <ion-col start class="col" col-auto>
                <button class="call" ion-button small outline round icon-start (click)="callNumber(one_samaj.phone1)"> 
                  <ion-icon name="call"></ion-icon>
                </button> <span style="font-weight: bold ; font-size: 16px" >{{one_samaj.phone1}} </span> 
              </ion-col>
              <ion-col end class="col" col-auto>
                <button class="call" ion-button small outline round icon-start (click)="callNumber(one_samaj.phone2)"> 
                  <ion-icon name="call"></ion-icon> 
                </button><span style="font-weight: bold; font-size: 16px"> {{one_samaj.phone2}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <ng-template #elseBlock1>
          <div  class="footer" *ngIf="one_samaj.phone1" >
            <ion-grid>
              <ion-row>
                <ion-col class="col">
                  <button class="call" ion-button small outline round icon-start (click)="callNumber(one_samaj.phone1)"> 
                    <ion-icon name="call"></ion-icon> 
                  </button><span style="font-weight: bold; font-size: 16px"> {{one_samaj.phone1}}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div  class="footer" *ngIf="one_samaj.phone2" >
            <ion-grid>
              <ion-row >
                <ion-col class="col">
                  <button class="call" ion-button small outline round icon-start (click)="callNumber(one_samaj.phone2)"> 
                    <ion-icon name="call"></ion-icon> 
                  </button><span style="font-weight: bold; font-size: 16px">{{one_samaj.phone2}}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div> 
        </ng-template>
        <!-- <div *ngIf="one_samaj.email != '' && one_samaj.website != '' ; else elseBlock2 ">
          {{one_samaj.email}}/{{one_samaj.website}}
        </div>
        <ng-template #elseBlock2>
          <div *ngIf="one_samaj.email" >
            {{one_samaj.email}}
          </div>
          <div *ngIf="one_samaj.website" >
            {{one_samaj.website}}
          </div> 
        </ng-template>
        <br> -->
        
      </ion-card-content>
	</ion-card>
</ion-content>
