page-home {

	.card-img {
		width: 100%;
		height: 35vh;
	}

	.card-img img {
		height: 100%
	}

	.card{
		padding-top: 1px;
		padding-bottom: 1px;
		box-shadow: 0 0px 0px rgba(0, 0, 0, 1);
	}

}

*{
	font-family: 'Montserrat', sans-serif;
}
