<ion-header>
  <ion-navbar color="header">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Event management
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
<!-- 		<ion-card-header>
		</ion-card-header> -->
		<div class="card-img">
			<img src="../assets/imgs/menuback.png"/>
		</div>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col col-7>
						Dhruva (27) 
					</ion-col>
					<ion-col>
						19 march 2018
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	<ion-card>
<!-- 		<ion-card-header>
		</ion-card-header> -->
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col col-7>
						Tesla
					</ion-col>
					<ion-col>
						15 april 2018
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
</ion-content>
