<!--
  Generated template for the BusinessTransactionItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Items</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-list class="qty-split-list" no-lines>
    <ion-item-sliding *ngFor="let bizItem of bizItems; let i=index; trackBy: TrackBy"  #item  >
      <ion-item> 
        <ion-grid class="qty-split-list" item-content>
          <ion-row> 
            <ion-col col-4>
              <ion-item>
                <ion-label stacked >Weight</ion-label>
                <ion-input type="number" [(ngModel)]="bizItems[i].itemWeight"></ion-input>
              </ion-item>
              <ion-item *ngIf="!bizItems[i].itemWeight">
                <p class="errorMsg"> *Enter weight > 0</p>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item>
                <ion-label stacked >Rate</ion-label>
                <ion-input type="number" [(ngModel)]="bizItems[i].itemRate"></ion-input>
              </ion-item>
              <ion-item *ngIf="!bizItems[i].itemRate">
                <p class="errorMsg"> *Enter Rate > 0</p>
              </ion-item>
            </ion-col>
            <ion-col col-4>
                <ion-item>
                  <ion-label stacked>Remark</ion-label>
                  <ion-input type="text" [(ngModel)]="bizItems[i].itemRemark" ></ion-input>
                </ion-item>
              </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label >Remark</ion-label>
                <ion-input type="text" [(ngModel)]="bizItems[i].itemRemark"  ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </ion-item>
      <ion-item-options side="right" (ionSwipe)="deleteBusinessitem(item)" >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="addBusinessItem()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <button ion-button full (click)="saveItems()">SAVE</button> 
</ion-content>
