page-business-transaction-items {
	// .item-inner, ion-item {
    //     border-bottom-color: transparent !important;
    //     box-shadow: none !important;
    //   }
  
      .errorMsg{
          color: #D50000;
          font-size: 10px;
      }
  
    //   .card{
    //       border-radius: 5px;
    //   }
  
    //   ion-list.qty-split-list{
    //       //@at-rootmargin: 10px;
    //       border-radius: 5px;
    //   }
  
    // //   ion-grid.qty-split-list{
    // //       padding: 0px;
    // //       background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),     color-stop(100%,#BDBDBD)); 
    // //     //background:#FFEE58; 
    // //     // border:1px solid #E0E0E0;
    // //       border-radius: 5px;
    // //       border-right: 1px solid #E0E0E0;
    // //       border-bottom: 3px solid #E0E0E0;
    // //   }
  
    // //   ion-input{
    // //     background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),     color-stop(100%,#BDBDBD)); 
    // //     //background:#FFEE58; 
    // //     border:1px solid #E0E0E0;
    // //   }

    //   .item-md.item-block .item-inner {
    //     padding-right: 0px;
    // }
  
}
