<!--
  Generated template for the SalesTransactionItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title (click)="onTitleClick()" *ngIf="confidentialityLevel === 1">      
      Quotation
    </ion-title>
    <ion-title (click)="onTitleClick()" *ngIf="confidentialityLevel === 2">      
      Quotation*
    </ion-title>   
  </ion-navbar>
  <ion-toolbar color="primary" class="segment-class" >
    <ion-segment [(ngModel)]="selectedTab" color="primary">
      <ion-segment-button value="SALES_SUMMARY" (click)="gotoTab(0)" >
        SUMMARY
      </ion-segment-button>
      <ion-segment-button value="SALES_COST_VS_PRICE" (click)="gotoTab(1)" >
        Cost Vs Price
      </ion-segment-button>
      <ion-segment-button value="SALES_ITEM" (click)="gotoTab(2)">
        Items
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slider (ionSlideDidChange)="updateSegment()">
    <!-- SALES_SUMMARY-->  
    <ion-slide>
      <ion-card>
        <ion-row class="TrxCurrency" [(ngModel)]="trxCurrency" radio-group no-padding no-margin (ionChange)="changeInCurrency()"> 
            <ion-col col-6>
              <ion-item no-lines no-padding>
                <ion-avatar item-start>
                  <img src="assets/imgs/rupees.png">
                </ion-avatar>
                <ion-label>INR</ion-label>
                <ion-radio value="INR"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col col-6 >
              <ion-item no-lines no-padding>
                <ion-avatar item-start>
                  <img src="assets/imgs/dollars.png">
                </ion-avatar>
                <ion-label>USD</ion-label>
                <ion-radio value="USD"></ion-radio> <!--disabled="true"-->
              </ion-item>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row no-padding no-margin>
          <ion-col col-5 text-left> Date </ion-col>
          <ion-col col-6 text-right> {{ trxDate | date: 'dd-MM-yyyy'}}</ion-col>
          <ion-col col-1 text-center (click)="changeTrxDate()">
            <ion-icon name="create"></ion-icon>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row no-padding no-margin>
          <ion-col col-5 text-left> Valid For</ion-col>
          <ion-col col-6 text-right> {{ trxValidityDays }} days</ion-col>
          <ion-col col-1 text-center (click)="changeValidityDays()">
            <ion-icon name="create"></ion-icon>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Exchange Rate:</ion-col>
          <ion-col col-6 text-right>{{currencyExchangeRate}}</ion-col>
          <ion-col col-1 text-center (click)="changeExchangeRate()">
            <ion-icon name="create"></ion-icon>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Customer:</ion-col>
          <ion-col col-6 text-right>{{bizTransaction.trxPartyName}}</ion-col>
          <ion-col col-1 text-center (click)="selectCustomer()">
            <ion-icon name="create"></ion-icon>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Broker:</ion-col>
          <ion-col col-6 text-right>{{bizTransaction.trxBrokerName}}</ion-col>
          <ion-col col-1 text-center (click)="selectBroker()">
            <ion-icon name="create"></ion-icon>
          </ion-col>
        </ion-row>  
      </ion-card>
      <ion-card>
        <ion-row text-center no-wrap no-padding>
          <ion-col col-5 text-left> Weight :</ion-col>
          <ion-col col-6 text-right>{{ totalSalesSummary.totalSaleableWeight }} ct</ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
        <hr> 
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Avg Sale Price :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.avgSalePrice | INR }}</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.avgSalePrice | currency:'USD' }}</ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row text-center no-wrap>
            <ion-col>TOTAL SALE</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-5 text-left> Sale Value :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.totalSaleValue | INR}} </ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.totalSaleValue | currency:'USD'}} </ion-col>            
            <ion-col col-1></ion-col>
          </ion-row>
          <hr>
          <ion-row text-center no-wrap>
            <ion-col col-5 text-left> Tax :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.totalSalesTax.totalAmount | INR}} </ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.totalSalesTax.totalAmount | currency:'USD'}} </ion-col>
            <ion-col col-1></ion-col>
          </ion-row>
          <hr>
          <ion-row text-center no-wrap>
            <ion-col col-5 text-left> Gross Value :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.totalGrossValue | INR}} </ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.totalGrossValue | currency:'USD'}} </ion-col>
            <ion-col col-1></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-row text-center no-wrap>
          <ion-col>TOTAL PROFIT</ion-col>
        </ion-row>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Brokerage :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.totalSalesBrokerage | INR}} </ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.totalSalesBrokerage | currency:'USD'}} </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
        <hr>        
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Net Value :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.totalNetValue | INR}} </ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.totalNetValue | currency:'USD'}} </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Cost@Due Term :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.totalGrossCostAtDueTerm | INR }} </ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.totalGrossCostAtDueTerm | currency:'USD' }} </ion-col>
          <ion-col col-1></ion-col>
        </ion-row> 
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Profit :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.totalProfit | INR }} </ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.totalProfit | currency:'USD' }} </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
        <hr>  
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Profit %:</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.totalProfitMargin | number:'1.2-2'}}% </ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.totalProfitMargin | number:'1.2-2'}}% </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>            
      </ion-card>
    </ion-slide>    
    <!-- SALES_COST_VS_PRICE-->        
    <ion-slide>
      <ion-card>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Due Days:</ion-col>
          <ion-col col-6 text-right>{{bizTransaction.trxDueDays}}</ion-col>
          <ion-col col-1 text-center (click)="changeDueDays()">
            <ion-icon name="create"></ion-icon>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Tax:</ion-col>
          <ion-col col-6 text-right>{{applicableTaxRate}}</ion-col>
          <ion-col col-1 text-center (click)="changeTaxRate()">
            <ion-icon name="create"></ion-icon>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Brokerage:</ion-col>
          <ion-col col-6 text-right>{{brokerageRate}}</ion-col>
          <ion-col col-1 text-center (click)="changeBrokerageRate()">
            <ion-icon name="create"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-row text-center no-wrap>
          <ion-col>WEIGHT</ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap no-padding>
          <ion-col col-5 text-left> Polished :</ion-col>
          <ion-col col-6 text-right>{{ totalSalesSummary.totalSaleablePolishedWeight }} ct</ion-col>
          <ion-col col-1></ion-col>
        </ion-row> 
        <hr>
        <ion-row text-center no-wrap no-padding>
          <ion-col col-5 text-left> Tops :</ion-col>
          <ion-col col-6 text-right>{{ totalSalesSummary.totalSaleableTopsWeight }} ct</ion-col>
          <ion-col col-1></ion-col>
        </ion-row> 
        <hr>
        <ion-row text-center no-wrap no-padding>
          <ion-col col-5 text-left> Rough :</ion-col>
          <ion-col col-6 text-right>{{ totalSalesSummary.totalSaleableRoughWeight }} ct</ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-row text-center no-wrap>
          <ion-col>AVERAGE PRICE</ion-col>
        </ion-row>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Sale Price :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.avgSalePrice | INR }}</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.avgSalePrice | currency:'USD' }}</ion-col>
          <ion-col col-1 text-center (click)="changeAvgSalePrice()" *ngIf="totalSalesSummary.totalSaleableWeight > 0">
            <ion-icon name="create"></ion-icon>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Tax :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.avgSalesTax.totalAmount | INR }}</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.avgSalesTax.totalAmount | currency:'USD' }}</ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Gross Price :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.avgGrossPrice | INR }}</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.avgGrossPrice | currency:'USD' }}</ion-col>
          <ion-col col-1></ion-col>
        </ion-row>          
      </ion-card>
      <ion-card>
        <ion-row text-center no-wrap>
          <ion-col>AVERAGE PROFIT</ion-col>
        </ion-row>        
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Brokerage :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.avgSalesBrokerage | INR }}</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.avgSalesBrokerage | currency:'USD' }}</ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Net Price :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.avgNetPrice | INR }}</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.avgNetPrice | currency:'USD' }}</ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Cost@today :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.avgGrossCost | INR }}</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.avgGrossCost | currency:'USD' }}</ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Cost@Due Term :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.avgGrossCostAtDueTerm | INR }}</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.avgGrossCostAtDueTerm | currency:'USD' }}</ion-col>
          <ion-col col-1></ion-col>
        </ion-row> 
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Profit :</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.avgProfit | INR }}</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.avgProfit | currency:'USD' }}</ion-col>
          <ion-col col-1 text-center (click)="changeAvgProfit()" *ngIf="totalSalesSummary.totalSaleableWeight > 0">
            <ion-icon name="locate"></ion-icon>
          </ion-col>
        </ion-row> 
        <hr>
        <ion-row text-center no-wrap>
          <ion-col col-5 text-left> Profit %:</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ totalSalesSummary.avgProfitMargin | number:'1.2-2'}}%</ion-col>
          <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ totalSalesSummary.avgProfitMargin | number:'1.2-2'}}%</ion-col>
          <ion-col col-1 text-center (click)="changeAvgProfitMargin()" *ngIf="totalSalesSummary.totalSaleableWeight > 0">
            <ion-icon name="locate"></ion-icon>
          </ion-col>
        </ion-row>       
      </ion-card>
    </ion-slide>
    <!-- SALES_ITEM -->
    <ion-slide>
      <ion-card *ngFor="let salesSummaryByTSS of (salesSummaryByTSSList); let i=index">
        <ion-grid>
          <ion-row text-center no-wrap>
            <ion-col col-11 text-left> {{ salesSummaryByTSS.itemType.name }} : {{ salesSummaryByTSS.itemShape.name }} : +{{ salesSummaryByTSSList[i].itemSieveMin.name }}  -{{ salesSummaryByTSSList[i].itemSieveMax.name }}</ion-col>
            <ion-col col-1 text-right (click)="removeFromSalesSummaryBySSList(salesSummaryByTSS)"><ion-icon name="trash"></ion-icon></ion-col>
          </ion-row>
          <hr>
          <ion-row text-center no-wrap>
            <ion-col col-2 text-left>Weight:</ion-col>
            <ion-col col-9 text-right>{{ salesSummaryByTSS.totalSaleableWeight }} cts</ion-col>
            <ion-col col-1 text-right (click)="addSalesItems(salesSummaryByTSS)"><ion-icon ios="ios-list" md="md-list"></ion-icon></ion-col>
          </ion-row>          
          <hr>
          <ion-row text-center no-wrap>
            <ion-col>AVERAGE</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Avg Price Rate:</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.avgPriceRate | INR }}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.avgPriceRate | currency:'USD' }}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Avg Sale Price :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.avgSalePrice | INR }}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.avgSalePrice | currency:'USD' }}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Avg Gross Price :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.avgGrossPrice | INR }}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.avgGrossPrice | currency:'USD' }}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Avg Cost@today :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.avgGrossCost | INR }}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.avgGrossCost | currency:'USD' }}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Avg Cost@Due Term :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.avgGrossCostAtDueTerm | INR }}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.avgGrossCostAtDueTerm | currency:'USD' }}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Avg Net Price :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.avgNetPrice | INR }}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.avgNetPrice | currency:'USD' }}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Avg Profit :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.avgProfit | INR }}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.avgProfit | currency:'USD' }}</ion-col>
          </ion-row> 
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Avg Profit %:</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.avgProfitMargin | number:'1.2-2'}}%</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.avgProfitMargin | number:'1.2-2'}}%</ion-col>
          </ion-row>       
          <hr>
          <ion-row text-center no-wrap>
            <ion-col>TOTAL</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Total Sale Value :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.totalSaleValue | INR}}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.totalSaleValue | currency:'USD'}}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Total Gross Value :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.totalGrossValue | INR}}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.totalGrossValue | currency:'USD'}}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Total Tax :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.totalSalesTax.totalAmount | INR}}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.totalSalesTax.totalAmount | currency:'USD'}}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Total Brokerage :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.totalSalesBrokerage | INR}}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.totalSalesBrokerage | currency:'USD'}}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Total Net Value :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.totalNetValue | INR}}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.totalNetValue | currency:'USD'}}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Total Cost@today :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.totalGrossCost | INR }}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.totalGrossCost | currency:'USD' }}</ion-col>
          </ion-row>
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Total Cost@Due Term :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.totalGrossCostAtDueTerm | INR }}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.totalGrossCostAtDueTerm | currency:'USD' }}</ion-col>
          </ion-row> 
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Total Profit :</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.totalProfit | INR }}</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.totalProfit | currency:'USD' }}</ion-col>
          </ion-row>  
          <ion-row text-center no-wrap>
            <ion-col col-6 text-left>Total Profit %:</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'INR'">{{ salesSummaryByTSS.totalProfitMargin | number:'1.2-2'}}%</ion-col>
            <ion-col col-6 text-right *ngIf="trxCurrency === 'USD'">{{ salesSummaryByTSS.totalProfitMargin | number:'1.2-2'}}%</ion-col>
          </ion-row>            
        </ion-grid>
      </ion-card>      
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <div *ngIf="activeTabIndex===0">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button full (click)="onSubmit()" [disabled]="(salesSummaryByTSSList.length === 0) || (itemTypeList.length === 0) || (totalSalesSummary.totalSaleableWeight === 0) || (bizTransaction.trxPartyName === '') || (!bEdited) || (checkIfExpired()) || ((platform.is('ios') || platform.is('android')) && (network.type === 'none'))">SAVE</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full (click)="onCancel()">CANCEL</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="activeTabIndex===1">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button full (click)="gotoTab(0)" [disabled]="(totalSaleableWeight === 0)"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full (click)="gotoTab(2)" [disabled]="(totalSaleableWeight === 0)"><ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="activeTabIndex===2">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <button ion-button full (click)="addToSalesSummaryByTSSList('POLISHED')" [disabled]="(!itemTypeList.length)">+P</button>
        </ion-col>
        <ion-col col-4>
          <button ion-button full (click)="addToSalesSummaryByTSSList('ROUGH')" [disabled]="(!itemTypeList.length)">+R</button>
        </ion-col>
        <ion-col col-4>
          <button ion-button full (click)="addToSalesSummaryByTSSList('TOPS')" [disabled]="(!itemTypeList.length)">+T</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>