<!--
  Generated template for the SalesStockSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle *ngIf="!bInvalidUser">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Polished Stock Summary</ion-title>
    <ion-buttons end *ngIf="(user.ID != '')">
      <button ion-button icon-only (click)="gotoSalesStockList()">
        <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchInput" [formControl]="searchControl" (ionInput)="onSearch()" placeholder="Series Weight">
  </ion-searchbar> 
  <ion-list *ngIf="searchInput">
    <ion-item *ngFor="let search of searchList" (click)="inputSelected(search)">
      <h2 text-capitalize>{{search}}</h2>
    </ion-item>
  </ion-list>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> Type </ion-label>
      <ion-select [(ngModel)] = "iType" (ionChange)="onItemTypeChange()">
        <ion-option *ngFor="let itemType of itemTypeList" [value]="itemType">{{itemType.name}}</ion-option> 
      </ion-select>
    </ion-item>    
    <ion-item>
      <ion-label> Shape </ion-label>
      <ion-select [(ngModel)] = "iShape" (ionChange)="filterPackagedItem()">
        <ion-option *ngFor="let itemShape of itemShapeList" [value]="itemShape">{{itemShape.name}}</ion-option> 
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)] = "iSieveMin" (ionChange)="filterPackagedItem()">
        <div *ngFor="let itemSieve of itemFilteredSieveList;let i=index">
          <ion-option *ngIf="i<itemFilteredSieveList.length-1" [value]="itemSieve">+{{itemSieve.name}}</ion-option> 
        </div> 
      </ion-select>  
      <ion-label> Sieve </ion-label>
      <ion-select [(ngModel)] = "iSieveMax" (ionChange)="filterPackagedItem()">
        <div *ngFor="let itemSieve of itemFilteredSieveList;let i=index">
          <ion-option *ngIf="i>0" [value]="itemSieve">-{{itemSieve.name}}</ion-option> 
        </div> 
      </ion-select>
    </ion-item>
    <ion-item *ngIf="iType.id === 'POLISHED'">
      <ion-label> Rank </ion-label>
      <ion-select [(ngModel)] = "iQualityLevelMin" (ionChange)="filterPackagedItem()">
        <ion-option *ngFor="let itemQualityLevel of itemFilteredQualityLevelList" [value]="itemQualityLevel">{{itemQualityLevel.name}}</ion-option> 
      </ion-select>  
      <ion-select [(ngModel)] = "iQualityLevelMax" (ionChange)="filterPackagedItem()">
        <ion-option *ngFor="let itemQualityLevel of itemFilteredQualityLevelList" [value]="itemQualityLevel">{{itemQualityLevel.name}}</ion-option> 
      </ion-select>
    </ion-item>
    <ion-item *ngIf="(iType.id === 'ROUGH') || (iType.id === 'TOPS')">
      <ion-label> Category </ion-label>
      <ion-select [(ngModel)] = "iQualityLevelMin" (ionChange)="filterPackagedItem()">
        <ion-option *ngFor="let itemQualityLevel of itemFilteredQualityLevelList" [value]="itemQualityLevel">{{itemQualityLevel.name}}</ion-option> 
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-grid>
      <ion-row text-center no-wrap>
        <ion-col col-4> {{ totalSalesSummary.totalSaleableWeight }} cts </ion-col>
        <ion-col col-4> P2S : {{ inventoryParams.avgP2SGain }} % </ion-col>   
        <ion-col col-4 *ngIf="(iType.id === 'POLISHED') || (iType.id === 'TOPS')"> Gain : {{ inventoryParams.avgMfgGain }} % </ion-col>        
        <ion-col col-4 *ngIf="(iType.id === 'ROUGH')"> Gain : 100 % </ion-col>        
      </ion-row>
      <ion-row text-center no-wrap>
        <ion-col text-left col-6> Market Rate </ion-col>
        <ion-col text-right col-6> {{ totalSalesSummary.avgPriceRate | INR }}</ion-col>
      </ion-row>
      <ion-row text-center no-wrap>
        <ion-col text-left col-6> Purchase Rate</ion-col>
        <ion-col text-right col-6> {{ totalSalesSummary.avgPurchaseCost | INR}}</ion-col>
      </ion-row>
      <ion-row text-center no-wrap>
        <ion-col text-left col-6> Interest(per ct) </ion-col>
        <ion-col text-right col-6> {{ totalSalesSummary.avgInterestCost | INR }}</ion-col>
      </ion-row>
      <ion-row text-center no-wrap>
        <ion-col text-left col-6> Labour(per ct) </ion-col>
        <ion-col text-right col-6> {{ totalSalesSummary.avgMfgCost | INR }}</ion-col>
      </ion-row> 
      <ion-row text-center no-wrap>
        <ion-col text-left col-6> Break-Even Rate </ion-col>
        <ion-col text-right col-6> {{ totalSalesSummary.avgGrossCost | INR }}</ion-col>
      </ion-row>      
    </ion-grid>
  </ion-card>
  <ion-grid>
    <ion-row *ngFor="let salesSummaryByTSS of salesSummaryByTSSList; let i=index">
      <ion-col col-6 class="SalesTableCol">
        <div *ngIf="(salesSummaryByTSS.itemShape.id===iShape.id) && (salesSummaryByTSS.itemSieveMin.rank>=iSieveMin.rank) && (salesSummaryByTSS.itemSieveMax.rank<=iSieveMax.rank)">
          <ion-grid class="SalesTable">
            <ion-row text-center nowrap>
              <ion-col class="table-header" col-6>
                SIEVE
              </ion-col>
              <ion-col class="table-header" col-6>
                RANK
              </ion-col>
            </ion-row>          
            <div *ngFor="let salesSummaryByTSSQ of salesSummaryByTSSQList; let j=index" (click)="onPackageClicked()">
              <ion-row text-center nowrap *ngIf="(salesSummaryByTSSQ.itemShape.id===salesSummaryByTSS.itemShape.id) && (salesSummaryByTSSQ.itemSieve.id===salesSummaryByTSS.itemSieveMin.id)">            
                <ion-col [ngClass]="(j % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
                  +{{salesSummaryByTSSList[i].itemSieveMin.name}} -{{salesSummaryByTSSList[i].itemSieveMax.name}}
                </ion-col>
                <ion-col [ngClass]="(j % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
                  {{salesSummaryByTSSQ.itemQualityLevel.name}}
                </ion-col>
              </ion-row>
            </div>
          <ion-row text-center nowrap>
            <ion-col class="table-header" col-12>
              TOTAL
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col> </ion-col>
          </ion-row>            
          </ion-grid>
        </div>
      </ion-col>
      <ion-col class="SalesTableCol">
        <div *ngIf="(salesSummaryByTSS.itemShape.id===iShape.id) && (salesSummaryByTSS.itemSieveMin.rank>=iSieveMin.rank) && (salesSummaryByTSS.itemSieveMax.rank<=iSieveMax.rank)">
          <ion-scroll scrollX="true" scrollY="false" zoom="false">
            <ion-grid class="SalesTable">
              <ion-row text-center nowrap >
                <ion-col class="table-header" col-6> Cts </ion-col>
                <ion-col class="table-header" col-8> Market Rate </ion-col>
                <ion-col class="table-header" col-8> Market Value </ion-col>
                <ion-col class="table-header" col-12> Avg Purchase Cost </ion-col>
                <ion-col class="table-header" col-12> Avg Interest Cost </ion-col>
                <ion-col class="table-header" col-12> Avg Mfg Cost </ion-col>
                <ion-col class="table-header" col-12> Avg Cost </ion-col>
                <ion-col class="table-header" col-12> Total Purchase Cost </ion-col>
                <ion-col class="table-header" col-12> Total Interest Cost </ion-col>
                <ion-col class="table-header" col-12> Total Mfg Cost </ion-col>
                <ion-col class="table-header" col-12> Total Cost </ion-col>
                <ion-col class="table-header" col-12> Profit </ion-col>
                <ion-col class="table-header" col-8> Profit % </ion-col>
                <ion-col class="table-header" col-10> Value Factor </ion-col>
              </ion-row>
              <div *ngFor="let salesSummaryByTSSQ of salesSummaryByTSSQList; let k=index"> 
                <ion-row text-center nowrap *ngIf="(salesSummaryByTSSQ.itemShape.id===salesSummaryByTSS.itemShape.id) && (salesSummaryByTSSQ.itemSieve.id===salesSummaryByTSS.itemSieveMin.id)">            
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-6 > <b>{{ salesSummaryByTSSQ.totalSaleableWeight }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ salesSummaryByTSSQ.avgPriceRate | INR }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ salesSummaryByTSSQ.totalPriceValue | INR }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSSQ.avgPurchaseCost | INR }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSSQ.avgInterestCost | INR }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSSQ.avgMfgCost | INR }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSSQ.avgGrossCost | INR }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSSQ.totalPurchaseCost | INR }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSSQ.totalInterestCost | INR }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSSQ.totalMfgCost | INR }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSSQ.totalGrossCost | INR }}</b></ion-col>
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSSQ.totalProfit | INR }}</b></ion-col>                
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ salesSummaryByTSSQ.totalProfitMargin | number:'1.2-2'}} %</b></ion-col>                
                  <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-10 > <b>{{ salesSummaryByTSSQ.avgValueFactor | number:'1.2-10' }}</b></ion-col>                
                </ion-row>
              </div>
              <ion-row text-center nowrap>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6 > <b>{{ salesSummaryByTSS.totalSaleableWeight }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ salesSummaryByTSS.avgPriceRate | INR }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ salesSummaryByTSS.totalPriceValue | INR }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSS.avgPurchaseCost | INR }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSS.avgInterestCost | INR }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSS.avgMfgCost | INR }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSS.avgGrossCost | INR }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSS.totalPurchaseCost | INR }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSS.totalInterestCost | INR }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSS.totalMfgCost | INR }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSS.totalGrossCost | INR }}</b></ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-12 > <b>{{ salesSummaryByTSS.totalProfit | INR }}</b></ion-col>                
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 > <b>{{ salesSummaryByTSS.totalProfitMargin | number:'1.2-2'}} %</b></ion-col>
                <ion-col [ngClass]="(k % 2 == 0) ? 'values-even' : 'values-odd'" col-10 > <b>{{ salesSummaryByTSS.avgValueFactor | number:'1.2-10' }}</b></ion-col>    
              </ion-row>
              <ion-row>
                <ion-col> </ion-col>
              </ion-row>                        
            </ion-grid>
          </ion-scroll>
        </div>
      </ion-col> 
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button ion-fab (click)="addPolishToSales()"><ion-icon name="add"></ion-icon></button>
    <button ion-fab (click)="gotoSalesTransactionItems()"> Q </button>
  </ion-fab>
</ion-content>
  