<!--
  Generated template for the QuotationListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title (click)="onTitleClick()" *ngIf="confidentialityLevel === 1">
      Quotation List
    </ion-title>
    <ion-title (click)="onTitleClick()" *ngIf="confidentialityLevel === 2">
      Quotation List*
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-row text-center no-wrap>
      <ion-col col-6 text-right>
        TOTAL : {{ totalWeight }} cts
      </ion-col>
      <ion-col col-6 text-left>
          {{ totalAmount | INR }}
        </ion-col>
    </ion-row>
  </ion-card>
  <ion-card *ngFor="let quotation of filteredQuotationList;let i=index" (click)="openQuotation(quotation)">
    <ion-grid>
      <ion-row text-center no-wrap>
        <ion-col col-6 text-left> {{ quotation.trxPartyName }}</ion-col>
        <ion-col col-6 text-right> {{ quotation.trxDate | date: 'dd-MM-yyyy' }}</ion-col>
      </ion-row>
      <ion-row text-center no-wrap>
        <ion-col col-6 text-left> {{ quotation.trxWeight }} cts</ion-col>
        <ion-col col-6 text-right> {{ quotation.trxGrossAmount | INR }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab (click)="addQuotation()"> Q </button>
  </ion-fab>
</ion-content>
