page-home {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          // background: #7F00FF;  /* fallback for old browsers */
          // background: -webkit-linear-gradient(to bottom, #FFB75E, #ED8F03);  /* Chrome 10-25, Safari 5.1-6 */
          // background: linear-gradient(to bottom, #FFB75E, #ED8F03); 
          background: -webkit-linear-gradient(to bottom, #FFF, #FAFAFA);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to bottom, #fff, #FAFAFA); 
        }
      
        .card-title {
          position: relative;
          top: 36%;
          font-size: 1.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
          ///background: #FFB75E;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to bottom, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to bottom, #859398, #283048);
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #ED8F03;
        }

        ion-card img{
          width: 50%;
          margin-left: auto;
          margin-right: auto;
        }
      
      }

      .scroll-content{
        padding: 0px !important;
      }
     
}
