<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Staff</ion-title>
    <ion-buttons end>
	  	<button style="color:white;background-color: transparent; width: 100% " padding (click)="addHumanResource()">
	        <ion-icon name='person-add'></ion-icon>
	    </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   	<ion-searchbar   placeholder="Search staff member"></ion-searchbar>
	<ion-card *ngFor="let dWS of dailyWorkSummaryList" margin-bottom no-padding >
		<ion-card-header no-padding>
			<ion-grid style="padding: 0 ;" >
				<ion-row>
					<ion-col style="color:white;font-weight: bold" col-8 text-center >
						{{dWS.Executor.Name}}
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-header>
		<ion-card-content no-padding>
			<ion-grid style="padding: 0">
				<ion-row>
					<ion-col col-4  no-padding>					
						<ion-avatar>
					      <img src="assets/imgs/dollars.png">
					    </ion-avatar>
					</ion-col>
					<ion-col col-4 text-center no-padding>
						<ion-label stacked no-margin>Billed work</ion-label>
						<ion-label stacked no-margin>{{dWS.BilledQty}}</ion-label>
						<ion-label stacked no-margin>({{dWS.LastBilledDate | date: 'dd-MM-yyyy'}})</ion-label>
					</ion-col  >
					<ion-col col-4 text-center no-padding>
						<ion-label stacked no-margin>Unbilled work</ion-label>
						<ion-label stacked no-margin>{{dWS.UnBilledQty}}</ion-label>
						<ion-label stacked no-margin>({{dWS.LastUnBilledDate | date: 'dd-MM-yyyy'}})</ion-label>
					</ion-col>
				</ion-row>
				<hr>
				<ion-row>
					<ion-col col-4 text-center no-padding>
						<ion-label stacked no-margin>Total</ion-label>
						<ion-label stacked no-margin>{{dWS.BilledAmount}}</ion-label>
						<ion-label stacked no-margin>({{dWS.LastBilledDate | date: 'dd-MM-yyyy'}})</ion-label>
					</ion-col>
					<ion-col col-4 text-center no-padding>
						<ion-label stacked no-margin>Paid</ion-label>
						<ion-label stacked no-margin>{{dWS.amtReceviedOrPaid}}</ion-label>
						<ion-label stacked no-margin>({{dWS.LastPaymentDate | date: 'dd-MM-yyyy'}})</ion-label>
					</ion-col>
					<ion-col col-4 text-center no-padding>
						<ion-label stacked no-margin>Pending</ion-label>
						<ion-label stacked no-margin>{{dWS.amtPending}}</ion-label>
						<ion-label stacked no-margin>(today)</ion-label>
					</ion-col>
				</ion-row>
				<hr>
				<ion-row>
					<ion-col col-4 text-center no-padding>
						<button class="footer">Payment(+/-)</button>
					</ion-col>
					<ion-col col-4 text-center no-padding>
						<button class="footer">Calculate</button>
					</ion-col>
					<ion-col col-4 text-center no-padding>
						<button class="footer">Work(+/-)</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-footer>
		<ion-grid no-padding class="footer">
			<ion-row>
				<ion-col col-4 text-center no-padding >
					<button  class="wages" (click)="addWork()" >Work</button>
				</ion-col>
				<ion-col col-4 text-center no-padding >
					<button  class="wages" (click)="calculateWages()" >Calculate</button>
				</ion-col>
				<ion-col col-4 text-center no-padding >
					<button  class="wages" (click)="downloadPDF()" >Pdf</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-footer>
</ion-content>
