page-staff {
	.scroll-content{
		background-color: map-get($colors,contentBackground);
	}
	
	.card{
		border-radius: 10px;
	}

	img{
		height: auto ;
		width: auto ;
		margin: auto;
		text-align: center;
	}
	button.footer{
		height:100%;
		width: 100%;
		line-height: 2;
		text-transform: capitalize;
		background-color: map-get($colors,contentBackground);
		font-weight: bold;
	}

	ion-card-header{
		background-color: map-get($colors,primary);
		color: white;
	}

	.badge{
		background-color: map-get($colors,contentBackground);
		color:black;
		border-radius: 10px;
	}

	button.wages{
        height:100%;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 2;
		text-transform: capitalize;
		background-color: map-get($colors,light);
		font-weight: bold;
    }

}
