<ion-header>
	<ion-navbar color="primary">
		<ion-title>{{fpo.name}}</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>

	<ion-card >
		<ion-card-header text-center class="header">
			<ion-row>
				<ion-col text-center col-10>
					{{fpo.name}}					
				</ion-col>
				<ion-col text-right>
					<ion-badge item-end>{{numberOfFarmers}} </ion-badge>
				</ion-col>
			</ion-row>
		</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col text-center>
						{{fpo.locality}}
					</ion-col>
					<ion-col text-center>
						{{fpo.phoneNumber}}
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	<ion-card >
		<ion-card-header text-center class="header">
			Farmers
		</ion-card-header>
		<ion-card-content style="margin-top: 3%;">
			<ion-list>
				<ion-item [@fadeInOut] *ngFor="let farmer of fpo.farmers" class="farmer-list">
					<ion-grid>
						<!-- <ion-row>
							<ion-col col-6>
								Name 
							</ion-col>
							<ion-col col-6>
								Phone Number
							</ion-col>
						</ion-row> -->
						<ion-row>
							<ion-col col-6 style="font-weight: bold">
								{{farmer.name}}
							</ion-col>
							<ion-col col-6 text-left>
								<label style="font-weight: bold"> Land Size : </label>
								{{farmer.landSize}}
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>


	<ion-fab right bottom>
		<button ion-fab (click)="addFarmer()" class="fab-button">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>