page-fpo {

    .scroll-content{
        background-color: map-get($map: $colors, $key:light ) 
    }

    .card{
        border-radius: 5px;
        background-color: #FFFAFA;
    }

    .farmer-list{
        margin-bottom: 1%;
        border-radius: 5px;
        border: 1px solid lightcoral !important;
    }

    ion-item{
        background-color: transparent !important;
    }

    ion-card-header.header{
        font-size: 2.2rem;
        font-weight: bold;
        border-bottom: 2px map-get($map: $colors, $key: primary ) solid;
    }

    .badge{
        padding: 10px;
        width: 100%;
    }
}
