<!--
  Generated template for the DependencySummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dependencies</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
Currently this is not supported. Please wait for future version!
</ion-content>
