page-home {
	/*.SwipedTabs-indicatorSegment
    {
      -webkit-transition: 0.1s all;
      -moz-transition:  0.1s all;
      -o-transition:  0.1s all;
      transition:  0.1s all;
      transform-origin: top 0 left 0;
      height: 10px;
      z-index: 999;
      position: relative;
      top: -1px;
      background-color: white !important;
    }
*/
    .scroll-content{
    background-color: map-get($colors,contentBackground);
  }

    .SwipedTabs-tabs ion-segment-button
    {
      border:none !important;
      color:white!important;
      background-color:map-get($colors,primary)!important;
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

     .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
    {
        color: black !important;
        background-color: map-get($colors,contentBackground) !important;
        opacity: 1;
        z-index: 999;
        top:0px;
        border-radius: 3px;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }

    .SwipedTabs-tabs
    {
      background-color: map-get($colors,primary) !important;
      width: fit-content !important;
      min-width: 100%;
      text-align: center;
    }

     .toolbar *
    {
        margin: 0 !important;
    }

    .tabsContent .scroll-content
    {
        overflow-x: scroll !important;
        height: 42px !important;
        background-color:map-get($colors,primary);
    }

    .tabsContent
    {
        height: 42px !important;
    }

    .segment-button
    {
        max-width: initial !important;
        flex: auto !important;
        width: initial !important;
    }

    .header-md::after {
      display: none;
    }
}
