page-task-output {
	.item-inner, ion-item {
	  border-bottom-color: transparent !important;
	  box-shadow: none !important;
	}

	.errorMsg{
        color: #D50000;
        font-size: 10px;
    }

	.card{
		border-radius: 5px;
	}

	ion-list.weight-split-list{
		margin: 10px;
		border-radius: 5px;
	}

	ion-grid.weight-split-list{
		padding: 0px;
		border-radius: 5px;
		border-right: 1px solid #999999;
		border-bottom: 3px solid #999999;
	}

	ion-input{
		border-radius: 5px;
		background-color: yellow;
	}

}
