<!--
  Generated template for the SelectBusinessTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>select BusinessTransaction </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModel()" >
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let bizTrx of bizTrxList" (click)="select(bizTrx)">
      <ion-label> {{ bizTrx.trxPartyName }} </ion-label>
      <ion-label> {{ bizTrx.trxDate }} </ion-label>
      <ion-label> {{ bizTrx.trxQty }}x{{ bizTrx.trxRate}}{{bizTrx.trxCurrency}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
