<!--
  Generated template for the SelectSalesStockPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SELECT </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label> Shape </ion-label>
      <ion-select [(ngModel)] = "iShape" (ionChange)="changeInFilterCriteria()">
        <ion-option *ngFor="let itemShape of polishShapeList" [value]="itemShape">{{itemShape.id}}</ion-option> 
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label> Sieve (Min) </ion-label>
      <ion-select [(ngModel)] = "iSieveMin" (ionChange)="changeInFilterCriteria()">
        <ion-option *ngFor="let itemSieve of polishSieveList" [value]="itemSieve">{{itemSieve.id}}</ion-option> 
      </ion-select>          
    </ion-item>
    <ion-item>
      <ion-label> Sieve (Max) </ion-label>
      <ion-select [(ngModel)] = "iSieveMax" (ionChange)="changeInFilterCriteria()">
        <ion-option *ngFor="let itemSieve of polishSieveList" [value]="itemSieve">{{itemSieve.id}}</ion-option> 
      </ion-select>          
    </ion-item>
    <ion-item>
      <ion-label> Quality Level (Min) </ion-label>
      <ion-select [(ngModel)] = "iQualityLevelMin" (ionChange)="changeInFilterCriteria()">
        <ion-option *ngFor="let itemQualityLevel of polishQualityLevelList" [value]="itemQualityLevel">{{itemQualityLevel.id}}</ion-option> 
      </ion-select>          
    </ion-item>
    <ion-item>
      <ion-label> Quality Level (Max) </ion-label>
      <ion-select [(ngModel)] = "iQualityLevelMax" (ionChange)="changeInFilterCriteria()">
        <ion-option *ngFor="let itemQualityLevel of polishQualityLevelList" [value]="itemQualityLevel">{{itemQualityLevel.id}}</ion-option> 
      </ion-select>          
    </ion-item>
    <!--ion-item>
      <ion-label> Sieve </ion-label>
      <ion-range dualKnobs="true" [(ngModel)]="iSieveRange" [min]=rangeSieveMin [max]=rangeSieveMax pin="true" step="1" snaps="true" (ionChange)="onSieveChange(iSieveRange)"></ion-range>
    </ion-item-->
  </ion-list>  
  <button ion-button full (click)="applyFilter()" type="button"> APPLY </button>
</ion-content>
