pageAppSettings {

	.sample-modal{
    	background: rgba(0,0,0,0.5);
    }

    .itemBackground{
        background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),     color-stop(100%,#BDBDBD)); 
        border:1px solid #E0E0E0;
    }

    .body{
        background: rgb(255,255,255);
    }

    .content-height{
    	padding-top: 5%;
    }

    .item-md.item-block .item-inner {
        padding-right:0px !important;
    }

    ion-grid{
        padding-left: 10px;
        padding-right: 10px;
        //background-color: #BDBDBD;
    }

}
