<!--
  Generated template for the SummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ pSummary.party.fullName }}</ion-title>  <!--RB2101-->
  </ion-navbar>

</ion-header>

<ion-content class="ContentBackground">
 
  <ion-card>
  <ion-grid>
    <ion-row class="TrxCurrency" [(ngModel)]="trxCurrency" radio-group no-padding no-margin > 
      <ion-col col-6>
        <ion-item class="trxCurrAlign" no-lines no-padding>
          <ion-avatar item-start>
            <img src="assets/imgs/rupees.png">
          </ion-avatar>
          <ion-label>INR</ion-label>
          <ion-radio value="INR"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6 >
        <ion-item class="trxCurrAlign" no-lines no-padding>
          <ion-avatar item-start>
            <img src="assets/imgs/dollars.png">
          </ion-avatar>
          <ion-label>USD</ion-label>
          <ion-radio value="USD"></ion-radio> <!--disabled="true"-->
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
  <!-- Summary Card -->
  <ion-card *ngIf="trxCurrency === 'INR';else bizSummaryinUSD">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 text-center>Total : {{ pSummary.businessAmtTotalinLocal | INR }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>  
  <ion-grid> 
    <ion-row>
      <ion-col class="ReceivedOrPaid">
          <p text-center class="summaryRecvPaidFont"><b>{{ pSummary.amtReceviedOrPaidinLocal | INR }}</b></p>  <!--RB2101-->
          <p text-center *ngIf="pSummary.party.category==='Buyer'"><i> Received </i></p>
          <p text-center *ngIf="pSummary.party.category==='Supplier'"><i> Paid </i></p>
      </ion-col>
      <ion-col class="AmtPending"> 
        <p text-center class="summaryPendingFont"><b>{{ pSummary.amtPendinginLocal | INR }}</b></p> <!--RB2101-->
        <p text-center *ngIf="pSummary.party.category==='Buyer'"><i> Remaining </i></p>
        <p text-center *ngIf="pSummary.party.category==='Supplier'"><i> Pending </i></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="InterestRealized">
          <p text-center class="summaryFont"><b>{{ pSummary.interestRealizedinLocal | INR }}</b></p>  <!--RB2101-->
          <p text-center *ngIf="pSummary.party.category==='Buyer'"><i> Interest on Received </i></p>
          <p text-center *ngIf="pSummary.party.category==='Supplier'"><i> Interest on Paid </i></p>
      </ion-col>
      <ion-col>
          <p text-center class="summaryFont"><b>{{ pSummary.interestUnRealizedinLocal | INR }}</b></p>  <!--RB2101-->
          <p text-center><i> Interest on Remaining </i></p>
      </ion-col>
    </ion-row>
  </ion-grid>   
  </ion-card>

  <ng-template #bizSummaryinUSD>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 text-center>Total : {{ pSummary.businessAmtTotalinForiegn | currency:'USD' }}</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>  
      <ion-grid> 
        <ion-row>
          <ion-col class="ReceivedOrPaid">
              <p text-center class="summaryRecvPaidFont"><b>{{ pSummary.amtReceviedOrPaidinForiegn | currency:'USD' }}</b></p>  
              <p text-center *ngIf="pSummary.party.category==='Buyer'"><i> Received </i></p>
              <p text-center *ngIf="pSummary.party.category==='Supplier'"><i> Paid </i></p>
          </ion-col>
            <ion-col class="AmtPending"> 
                <p text-center class="summaryPendingFont"><b>{{ pSummary.amtPendinginLocal/appSettings.asConversionRate | currency:'USD' }}</b></p> 
                <p text-center *ngIf="pSummary.party.category==='Buyer'"><i> Remaining </i></p>
                <p text-center *ngIf="pSummary.party.category==='Supplier'"><i> Pending </i></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="InterestRealized">
              <p text-center class="summaryFont"><b>{{ pSummary.interestRealizedinLocal/appSettings.asConversionRate | currency:'USD' }}</b></p>  
              <p text-center *ngIf="pSummary.party.category==='Buyer'"><i> Interest on Received </i></p>
              <p text-center *ngIf="pSummary.party.category==='Supplier'"><i> Interest on Paid </i></p>
          </ion-col>
          <ion-col>
              <p text-center class="summaryFont"><b>{{ pSummary.interestUnRealizedinLocal/appSettings.asConversionRate | currency:'USD' }}</b></p>
              <p text-center><i> Interest on Remaining </i></p>
          </ion-col>
        </ion-row>
      </ion-grid>   
    </ion-card>    
  </ng-template>

  <ion-card *ngFor="let trxSummary of pSummary.bizTrxSummary"> <!--.finTrxs-->
    <ion-card-header no-padding no-margin>
      <ion-grid>
        <ion-row class="BusinessTrxHeader" *ngIf="(trxSummary.diffDays>0) && (trxSummary.amtPendinginLocal>0);else inrTrxClosed">
          <ion-col class="bizInvoiceDetails">
            INV NO. {{ trxSummary.bizTransaction.trxInvoiceID }}
          </ion-col>
          <ion-col class="more" col-auto>
            <button ion-button clear icon-only (click)="openPopOver($event,trxSummary)">    
              <ion-icon name="more"></ion-icon> 
            </button> 
          </ion-col>
        </ion-row>
        <ng-template #inrTrxClosed>
          <ion-row class="BusinessTrxHeaderClose">
            <ion-col class="bizInvoiceDetails">
              INV NO. {{ trxSummary.bizTransaction.trxInvoiceID }}
            </ion-col>
            <ion-col class="more" col-auto>
              <button ion-button clear icon-only (click)="openPopOver($event,trxSummary)">
                <ion-icon name="more"></ion-icon> 
              </button> 
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-grid>
    </ion-card-header>

  <ion-card-content no-padding no-margin  (click)="gotoFinanceTrxList(trxSummary.bizTransaction,pSummary)"><!--pass biztrxn instead of only id-->
    <ion-grid>
      <ion-row>
        <ion-col col-4 class="BusinessTrxDetailsBorder">
        {{ trxSummary.bizTransaction.trxDate  | date: 'dd-MM-yyyy' }}
        </ion-col>
        <ion-col col-4 class="BusinessTrxDetailsBorder" *ngIf="trxSummary.diffDays > 0; else duedaysrem">
          Overdue : {{trxSummary.diffDays}} Days
        </ion-col>
        <ng-template #duedaysrem>
          <ion-col col-4 class="BusinessTrxDetailsBorder">
            Due in {{trxSummary.diffDays}} Days
          </ion-col>
        </ng-template>
        <ion-col col-4 class="BusinessTrxDetailsBorder" >
          {{ trxSummary.bizTransaction.trxDueDate | date: 'dd-MM-yyyy' }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class="BusinessTrxQtyBorder"><b>QTY</b></ion-col>
        <ion-col col-4 class="BusinessTrxRateBorder"><b>RATE</b></ion-col>
        <ion-col col-4 class="BusinessTrxAmountBorder"><b>AMOUNT</b></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class="BusinessTrxQtyValueBorder">{{ trxSummary.bizTransaction.trxQty }}</ion-col>

<!--Rate -->
        <ion-col col-4 class="BusinessTrxRateValueBorder" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'INR'">{{ trxSummary.bizTransaction.trxRate | INR}}</ion-col>
        
        <ion-col col-4 class="BusinessTrxRateValueBorder" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'USD'">{{ trxSummary.bizTransaction.trxRate*trxSummary.bizTransaction.trxCurrencyRate | INR}}</ion-col> 
      
        <ion-col col-4 class="BusinessTrxRateValueBorder" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'INR'">$ {{ trxSummary.bizTransaction.trxRate/appSettings.asConversionRate | number : '1.2-2' }}</ion-col> 
      
        <ion-col col-4 class="BusinessTrxRateValueBorder" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'USD'">{{ trxSummary.bizTransaction.trxRate | currency:'USD'}}</ion-col> 
<!--Amount -->
        <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'INR'">{{ trxSummary.bizTransaction.trxValue | INR}}</ion-col>
      
        <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'USD'">₹{{ trxSummary.bizTransaction.trxValue*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2'}}</ion-col>  
      
        <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'INR'">$ {{ trxSummary.bizTransaction.trxValue/appSettings.asConversionRate | number : '1.2-2'}}</ion-col>  
      
        <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'USD'">{{ trxSummary.bizTransaction.trxValue | currency : 'USD'}}</ion-col>  
      </ion-row>

      <ion-row>
        <ion-col col-4 class="BusinessTrxTermsBorder"><b>TERMS</b></ion-col>
        <ion-col col-4 class="BusinessTrxLessBorder"><b>Less</b></ion-col>
        <ion-col col-4 class="BusinessTrxTaxBorder"><b>TAX</b></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="BusinessTrxTermsValueBorder">{{ trxSummary.bizTransaction.trxDueDays }} Days</ion-col>
        <ion-col col-4 class="BusinessTrxLessValueBorder">{{ trxSummary.bizTransaction.trxDiscount }}%</ion-col>

        <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'INR'">{{ trxSummary.bizTransaction.trxTax | INR}}</ion-col>
      
        <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'USD'">{{ trxSummary.bizTransaction.trxTax*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2' | INR}}</ion-col>  
        
        <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'INR'">$ {{ trxSummary.bizTransaction.trxTax/appSettings.asConversionRate | number : '1.2-2'}}</ion-col>  
      
        <ion-col col-4 class="BusinessTrxAmountValueBorder" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'USD'">{{ trxSummary.bizTransaction.trxTax | currency : 'USD'}}</ion-col>  
      
      </ion-row>
    </ion-grid>
  
    <ion-grid *ngIf="trxSummary.amtPendinginForiegn>0; else trxClose">
      <ion-row class="BusinessTrxFooterBackground">
        <ion-col col-4 class="BusinessTrxGrandTotalBorder"><b>GRAND TOTAL</b></ion-col>
        <ion-col col-4 class="BusinessTrxReceivedBorder" *ngIf="pSummary.party.category==='Buyer';else paymentPaid"><b>Received</b></ion-col>
        <ng-template #paymentPaid>
          <ion-col col-4 class="BusinessTrxReceivedBorder"><b>Paid</b></ion-col>
        </ng-template>
        <ion-col col-4 class="BusinessTrxPendingBorder"><b>Pending</b></ion-col>
      </ion-row>
      <ion-row  class="BusinessTrxFooterBackground" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'INR'"> <!-- *ngIf="trxCurrency === 'INR'; else trxSummaryinUSD"-->
        <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
          <p><b>₹ {{ trxSummary.trxLocalAmount | INR}}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxReceivedValueBorder">
            <p class="AmtRecvTextColor"><b>{{ trxSummary.amtReceviedOrPaidinLocal | INR }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxPendingValueBorder">
            <p class="AmtPendingTextColor"><b>{{ trxSummary.amtPendinginLocal | INR}}</b></p>
        </ion-col>
      </ion-row>
    
      <ion-row  class="BusinessTrxFooterBackground" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'USD'">
        <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
          <p><b>₹ {{ trxSummary.trxForiegnAmount*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2' }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxReceivedValueBorder">
            <p class="AmtRecvTextColor"><b>₹ {{ trxSummary.amtReceviedOrPaidinForiegn*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2'}}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxPendingValueBorder">
            <p class="AmtPendingTextColor"><b>₹ {{ trxSummary.amtPendinginForiegn*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2' }}</b></p>
        </ion-col>
      </ion-row>
  
      <ion-row  class="BusinessTrxFooterBackground" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'INR'">
        <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
          <p><b>$ {{ trxSummary.trxLocalAmount/appSettings.asConversionRate | number : '1.2-2' }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxReceivedValueBorder">
            <p class="AmtRecvTextColor"><b>$ {{ trxSummary.amtReceviedOrPaidinLocal/appSettings.asConversionRate | number : '1.2-2' }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxPendingValueBorder">
            <p class="AmtPendingTextColor"><b>$ {{ trxSummary.amtPendinginLocal/appSettings.asConversionRate | number : '1.2-2' }}</b></p>
        </ion-col>
      </ion-row>
    
      <ion-row  class="BusinessTrxFooterBackground" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'USD'">
        <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
            <p><b>{{ trxSummary.trxForiegnAmount | currency: 'USD' }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxReceivedValueBorder">
            <p class="AmtRecvTextColor"><b>{{ trxSummary.amtReceviedOrPaidinForiegn | currency: 'USD' }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxPendingValueBorder">
            <p class="AmtPendingTextColor"><b>{{ trxSummary.amtPendinginForiegn | currency: 'USD' }}</b></p>
        </ion-col>
      </ion-row>

      <ion-row class="BusinessTrxFooterBackground" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'INR'"> <!--*ngIf="trxCurrency === 'INR'; else trxInterestSummaryinUSD"-->
        <ion-col col-4 class="BusinessTrxFooterBorder">
        <p><b><i>INTEREST==></i></b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>({{ trxSummary.interestRealizedinLocal | INR}})</i></p>  
          </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>({{ trxSummary.interestUnRealizedinLocal | INR}})</i></p>
        </ion-col>          
      </ion-row>
    
      <ion-row class="BusinessTrxFooterBackground" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'USD'">
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><b><i>INTEREST==></i></b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>({{ trxSummary.interestRealizedinForiegn*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2' | INR}})</i></p>  
          </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>({{ trxSummary.interestUnRealizedinForiegn*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2' | INR }})</i></p>
        </ion-col>          
      </ion-row>
      
      <ion-row class="BusinessTrxFooterBackground" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'INR'">
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><b><i>INTEREST==></i></b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>($ {{ trxSummary.interestRealizedinForiegn/appSettings.asConversionRate | number : '1.2-2' }})</i></p>  
          </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>($ {{ trxSummary.interestUnRealizedinForiegn/appSettings.asConversionRate | number : '1.2-2' }})</i></p>
        </ion-col>          
      </ion-row>
      
      <ion-row class="BusinessTrxFooterBackground" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'USD';">
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><b><i>INTEREST==></i></b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>({{ trxSummary.interestRealizedinForiegn | currency: 'USD'}})</i></p>  
          </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>({{ trxSummary.interestUnRealizedinForiegn | currency: 'USD'}})</i></p>
        </ion-col>          
      </ion-row>
      </ion-grid>

      <ng-template #trxClose>
        <ion-grid>
          <ion-row class="BusinessTrxFooterBackgroundClose">
            <ion-col col-4 class="BusinessTrxGrandTotalBorder"><b>GRAND TOTAL</b></ion-col>
            <ion-col col-4 class="BusinessTrxReceivedBorder" *ngIf="pSummary.party.category==='Buyer';else paymentPaid"><b>Received</b></ion-col>
            <ng-template #paymentPaid>
              <ion-col col-4 class="BusinessTrxReceivedBorder"><b>Paid</b></ion-col>
            </ng-template>
            <ion-col col-4 class="BusinessTrxPendingBorder"><b>Pending</b></ion-col>
          </ion-row>
          <ion-row  class="BusinessTrxFooterBackgroundClose" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'INR'"> <!-- *ngIf="trxCurrency === 'INR'; else trxSummaryinUSD"-->
         <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
          <p><b>₹ {{ trxSummary.trxLocalAmount | INR}}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxReceivedValueBorder">
            <p class="AmtRecvTextColor"><b>{{ trxSummary.amtReceviedOrPaidinLocal | INR}}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxPendingValueBorder">
            <p class="AmtPendingTextColor"><b>{{ trxSummary.amtPendinginLocal | INR}}</b></p>
        </ion-col>
      </ion-row>
      
      <ion-row  class="BusinessTrxFooterBackgroundClose" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'USD'">
        <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
          <p><b>₹ {{ trxSummary.trxForiegnAmount*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2' }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxReceivedValueBorder">
            <p class="AmtRecvTextColor"><b>₹ {{ trxSummary.amtReceviedOrPaidinForiegn*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2' }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxPendingValueBorder">
            <p class="AmtPendingTextColor"><b>₹ {{ trxSummary.amtPendinginForiegn*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2' }}</b></p>
        </ion-col>
      </ion-row>
      
      <ion-row  class="BusinessTrxFooterBackgroundClose" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'INR'">
        <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
          <p><b>$ {{ trxSummary.trxLocalAmount/appSettings.asConversionRate | number : '1.2-2' }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxReceivedValueBorder">
            <p class="AmtRecvTextColor"><b>$ {{ trxSummary.amtReceviedOrPaidinLocal/appSettings.asConversionRate | number : '1.2-2' }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxPendingValueBorder">
            <p class="AmtPendingTextColor"><b>$ {{ trxSummary.amtPendinginLocal/appSettings.asConversionRate | number : '1.2-2' }}</b></p>
        </ion-col>
      </ion-row>
      
      <ion-row  class="BusinessTrxFooterBackgroundClose" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'USD'">
        <ion-col col-4 class="BusinessTrxGrandTotalValueBorder">
          <p><b>{{ trxSummary.trxForiegnAmount | currency: 'USD' }}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxReceivedValueBorder">
            <p class="AmtRecvTextColor"><b>{{ trxSummary.amtReceviedOrPaidinForiegn | currency: 'USD'}}</b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxPendingValueBorder">
            <p class="AmtPendingTextColor"><b>{{ trxSummary.amtPendinginForiegn | currency: 'USD'}}</b></p>
        </ion-col>
      </ion-row>
      
      <ion-row class="BusinessTrxFooterBackgroundClose" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'INR'"> <!--*ngIf="trxCurrency === 'INR'; else trxInterestSummaryinUSD"-->
        <ion-col col-4 class="BusinessTrxFooterBorder">
        <p><b><i>INTEREST==></i></b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>({{ trxSummary.interestRealizedinLocal | INR}})</i></p>  
          </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>({{ trxSummary.interestUnRealizedinLocal | INR}})</i></p>
        </ion-col>          
      </ion-row>
      
      <ion-row class="BusinessTrxFooterBackgroundClose" *ngIf="trxCurrency === 'INR' && trxSummary.bizTransaction.trxCurrency === 'USD'">
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><b><i>INTEREST==></i></b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>({{ trxSummary.interestRealizedinForiegn*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2' | INR}})</i></p>  
          </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>({{ trxSummary.interestUnRealizedinForiegn*trxSummary.bizTransaction.trxCurrencyRate | number : '1.2-2' | INR}})</i></p>
        </ion-col>          
      </ion-row>
      
      <ion-row class="BusinessTrxFooterBackgroundClose" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'INR'">
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><b><i>INTEREST==></i></b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>($ {{ trxSummary.interestRealizedinForiegn/appSettings.asConversionRate | number : '1.2-2' }})</i></p>  
          </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>($ {{ trxSummary.interestUnRealizedinForiegn/appSettings.asConversionRate | number : '1.2-2' }})</i></p>
        </ion-col>          
      </ion-row>
      
      <ion-row class="BusinessTrxFooterBackgroundClose" *ngIf="trxCurrency === 'USD' && trxSummary.bizTransaction.trxCurrency === 'USD';">
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><b><i>INTEREST==></i></b></p>
        </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>($ {{ trxSummary.interestRealizedinForiegn}})</i></p>  
          </ion-col>
        <ion-col col-4 class="BusinessTrxFooterBorder">
          <p><i>($ {{ trxSummary.interestUnRealizedinForiegn}})</i></p>
        </ion-col>          
      </ion-row>
      
    </ion-grid>
  </ng-template>
  </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer>
  <ion-grid class="footer">
    <ion-row class="footer">

      <ion-col class="footer">
        <ion-item class="iconAlign" no-lines (click)="addBusinessTransaction()">
            <img src="assets/imgs/diamond.png">
        </ion-item>
      </ion-col>

      <ion-col class="footer">
        <ion-item class="iconAlign" no-lines (click)="addFinanceTransaction()">
          <img src="assets/imgs/money.png">
        </ion-item>
      </ion-col>

      <ion-col class="footer">
        <ion-item class="iconAlign" no-lines (click)="downloadPdf()">
          <img src="assets/imgs/pdf.png">
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>