pagePartySummary {

    .ContentBackground{
        background: #E0E0E0;
        margin-bottom: 50px;
    }
    
    .AmtPending{
        border-bottom: 1px solid #E0E0E0;
    }
    .ReceivedOrPaid
    {
        border-right: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
    } 

    .InterestRealized{
        border-right: 1px solid #E0E0E0;
    }

    ion-row.BusinessTrxHeader{
        height: 100%;
        width: 100%;
        background: #F44336;
        text-align: center;
        color: white;
    }

    ion-row.BusinessTrxHeaderClose{
        height: 100%;
        width: 100%;
        background: #4CAF50;
        text-align: center;
        color: white;
    }

    

    ion-row.BusinessTrxFooterBackground{
        background: #FF8A80;
        text-align: center;
    }

    ion-row.BusinessTrxDetailsBackground{
        background: #E0E0E0;
        text-align: center;
    }

    ion-row.BusinessTrxFooterBackgroundClose{
        background: #B9F6CA;
        text-align: center;
    }
    

    ion-col.BusinessTrxDetailsBorder{
        border: 1px solid #E0E0E0;
        text-align: center;  
    }
    ion-col.BusinessTrxQtyBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        text-align: center;
    }
    ion-col.BusinessTrxRateBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        text-align: center;
    }
    ion-col.BusinessTrxAmountBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        text-align: center;
    }

    ion-col.BusinessTrxQtyValueBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0; 
        text-align: center;
    }
    ion-col.BusinessTrxRateValueBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0; 
        text-align: center;
    }
    ion-col.BusinessTrxAmountValueBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0; 
        text-align: center;
    }

    ion-col.BusinessTrxTermsBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        text-align: center;
    }
    ion-col.BusinessTrxLessBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        text-align: center;
    }
    ion-col.BusinessTrxTaxBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        text-align: center;
    }

    ion-col.BusinessTrxTermsValueBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0; 
        text-align: center;
    }
    ion-col.BusinessTrxLessValueBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0; 
        text-align: center;
    }
    ion-col.BusinessTrxTaxValueBorder{
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0; 
        text-align: center;
    }

    ion-col.BusinessTrxGrandTotalBorder{
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        text-align: center;
    }
    ion-col.BusinessTrxReceivedBorder{
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        text-align: center;
    }
    ion-col.BusinessTrxPendingBorder{
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        text-align: center;
    }

    ion-col.BusinessTrxGrandTotalValueBorder{
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff; 
        text-align: center;
    }
    ion-col.BusinessTrxReceivedValueBorder{
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        text-align: center;
    }
    ion-col.BusinessTrxPendingValueBorder{
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        text-align: center;
    }

    ion-col.BusinessTrxFooterBorder{
        border: 1px solid #ffffff;
        text-align: center;
    }

    ion-col.TrxSummaryBorder{
        border: 1px solid #E0E0E0;
        background: white;
        text-align: center;
    }

    ion-grid.footer {
        padding: 0px;
        padding-top: 6px;
        padding-bottom:6px;
        background:map-get($map: $colors, $key: primary);
    }

    ion-row.footer{
        vertical-align: middle;
        align-items: center;
    }

    ion-col.footer{
        padding: 0px;
    }
    .iconAlign{
        padding: 0px;
        text-align: center;
        background:map-get($map: $colors, $key: primary);
    }
    
    .more{					//RB1002
		margin: 0;
		color:white;
    }
    ion-col.bizInvoiceDetails{
        margin:8px;
        color: white;
        text-align: center;
    }

    .button{
        margin: 0rem;
        color: white;
    }

    .AmtRecvTextColor{
        color: #1B5E20;
    }

    .AmtPendingTextColor{
        color: #D50000;
    }
    .TrxCurrency{
        border: 1px solid #E0E0E0;
    }

    .label-md{
        margin: 0 0 0 0;
    }

    .summaryFont{
        font-size:20px;
    }

    .summaryRecvPaidFont{
        color:#1B5E20;
        font-size:20px;
    }

    .summaryPendingFont{
        color:#D50000;
        font-size:20px;
    }

    
}

