<!--
  Generated template for the AddRiskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New / Edit Risk</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label stacked>Description</ion-label>
            <ion-input type="text" [(ngModel)]="risk.description"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label stacked>Impact</ion-label>
            <ion-input type="text" [(ngModel)]="risk.impact"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label stacked>Mitigation</ion-label>
            <ion-input type="text" [(ngModel)]="risk.mitigation"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label stacked>Owner</ion-label>
            <ion-input type="text" [(ngModel)]="risk.owner"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>   
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label stacked>Target Closure Date</ion-label>  
            <ion-datetime [(ngModel)]="risk.estimatedClosureDate" displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY"></ion-datetime>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row radio-group [(ngModel)]="risk.RAG">
      <ion-col col-4>
          <ion-item no-lines>
              <ion-label style="color:white;background-color: rgb(255, 40, 40); width: 100% " text-center>R</ion-label>
              <ion-radio value="RED" ></ion-radio>
          </ion-item>
      </ion-col>
      <ion-col col-4>
          <ion-item no-lines>
              <ion-label style="color:black;background-color: rgb(241, 197, 76); width: 100% " text-center>A</ion-label>
              <ion-radio value="AMBER" ></ion-radio>
          </ion-item>
      </ion-col>
      <ion-col col-4>
          <ion-item no-lines>
              <ion-label style="color:black;background-color: rgb(24, 92, 24); width: 100% " text-center>G</ion-label>
              <ion-radio value="GREEN" ></ion-radio>
          </ion-item>
      </ion-col>
    </ion-row>       
    <ion-row>
      <ion-col>
        <button ion-button full (click)="saveRisk()"> SAVE </button>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
