<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			FPO
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="addFpo()">
				<ion-icon name="person-add"></ion-icon>
			</button>
			<button ion-button clear (click)="logout()" *ngIf=" this.user.ID !== '' " >
                LOGOUT
            </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list no-lines>
		<ion-item *ngFor=" let fpo of fpoList " (click)="openFpo(fpo)" class="fpo-list">
			<ion-grid>
				<ion-row>
					<ion-col text-left class="header">
						{{fpo.name}}
					</ion-col>
					<ion-col col-5>
						{{fpo.phoneNumber}}
					</ion-col>
				</ion-row>
			</ion-grid>
			<ion-row no-padding>
				<ion-col col-auto *ngFor=" let crop of fpo.crops ; let i=index ">
					<ion-item no-padding *ngIf=" i < 3 ">
						{{i+1}}. {{crop.name}}({{crop.quantity}}) 
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-item>
	</ion-list>
</ion-content>