page-package-trace {
	ion-scroll{
        position: unset;
        padding: 0% !important;
	}
	ion-col.table{
        padding: 0% !important;
    }
    
	.scroll-content {
        padding: 0% !important;
    }

    .table-header{
        background-color: red;
        border: 1px solid black;
        font-weight: bold;
        padding: 5px !important;
    }

    .sticky-col-odd{
        border: 1px solid black;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-weight: bold;
        background-color: rgb(152, 179, 230);
    }

    .sticky-col-even{
        border: 1px solid black;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-weight: bold;
        background-color: rgb(255,255,255);
    }

    ion-grid{
        padding: 0% !important;
        // overflow: scroll;
    }
    .values-odd{
        border: 1px solid black !important;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        background-color: rgb(152, 179, 230);

    }

    .values-even{
        border: 1px solid black !important;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        background-color: rgb(255,255,255);
    }

    ion-row{
        padding: 0% !important;
        background-color: transparent;
    }
}
