<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add Daily Work</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list *ngFor="let worker of staffList ; let i=index " class="worker">
		<ion-item  class="worker">
			<ion-item item-content class="content" >
				<ion-label> {{worker.Name}}</ion-label>
			</ion-item>
			<ion-item item-content class="content" >
				<ion-input [(ngModel)]="unBilledWorkQty[i]" type="number"></ion-input>
			</ion-item>
		</ion-item>
	</ion-list>

	<ion-footer>
		<button ion-button full clear (click)="saveWork()">Save</button>>
	</ion-footer>
</ion-content>
