page-daily-work {

    .scroll-content{
    	background-color: map-get($colors,contentBackground);
  	}

  	ion-list.worker{
  		margin-bottom: 10px;
  	}
  	
  	ion-item.worker{
  		border-radius: 10px;
  	}

    ion-input{
      text-align: center; 
    }

    ion-item.content{
      border-radius: 10px;  
    }

    button.worker{
      padding: 3px 8px 3px 8px;
      border-radius: 10px;
      width: 100%;
    }

}
