page-merge {
    .item-inner{
        padding: 0 !important;
    }

    .list-header-md{
        margin-bottom: 0px ;
        border-top: 0px;
    }

    .group-list{
        height: 1.5rem ;
    }

    .radio{
        vertical-align: middle;
        align-items: center;
    }
    
    ion-row{
        vertical-align: middle;
        align-items: center;

    }
}
