<!--
  Generated template for the MergePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Merge</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModel()" >
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list  radio-group [(ngModel)]="selectedGroup" no-lines>
    <ion-list-header no-padding>
      <ion-grid >
        <ion-row>
          <ion-col text-center col-5>
            Group ID
          </ion-col>
          <ion-col text-center col-3>
            Expected
          </ion-col>
          <ion-col text-center col-3>
            Actual
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>
    <ion-item class="group-list" *ngFor="let group of (pItemGroups);let i = index" no-padding>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col text-center col-5>
              {{ pItemGroups[i].groupID }}
            </ion-col >
            <ion-col text-center col-3>
              {{ pItemGroups[i].expectedNumberOfPackage }}
            </ion-col>
            <ion-col text-center col-3>
              {{ pItemGroups[i].actualNumberOfPackage }}
            </ion-col>
            <ion-col text-center col-1>
              <ion-radio [value]="pItemGroups[i]" [disabled]="pItemGroups[i].disabled" ></ion-radio>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <!-- <ion-radio [value]="pItemGroups[i]" [disabled]="pItemGroups[i].disabled" ></ion-radio> -->
    </ion-item>


    <!-- <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col text-left>group ID: {{ pItemGroups[i].groupID }}</ion-col>
          </ion-row>
          <ion-row >
            <ion-col>
              <ion-list *ngFor="let item of (pItems)">
                <ion-item *ngIf="item.packageGroupID===pItemGroups[i].groupID">
                  packageID = {{item.packageID}}
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-checkbox [(ngModel)]="pItemGroups[i].bSelected" [disabled]="pItemGroups[i].disabled" >
      </ion-checkbox>
    </ion-item> -->
  </ion-list>
  <button ion-button full (click)="mergePackages()" [disabled]="!selectedGroup" >Merge</button>

</ion-content>
