<ion-menu [content]="content" >
  <ion-header >
    <ion-toolbar color="primary">
      <ion-title >Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <button menuClose ion-item (click)="RateUs()" >
       Rate us
      </button>
    </ion-list>

    <ion-list>
      <button menuClose ion-item (click)="Share()" >
       Share
      </button>
    </ion-list>

    <ion-list>
      <button menuClose ion-item (click)="openInfo()" >
       About us.
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
