<!--
  Generated template for the FinanceTransactionSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ bizTrx.trxInvoiceID }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="TrxCurrency" [(ngModel)]="trxCurrency" radio-group no-padding no-margin > 
      <ion-col col-6>
        <ion-item class="trxCurrAlign" no-lines no-padding>
          <ion-avatar item-start>
            <img src="assets/imgs/rupees.png">
          </ion-avatar>
          <ion-label>INR</ion-label>
          <ion-radio value="INR"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6 >
        <ion-item class="trxCurrAlign" no-lines no-padding>
          <ion-avatar item-start>
            <img src="assets/imgs/dollars.png">
          </ion-avatar>
          <ion-label>USD</ion-label>
          <ion-radio value="USD"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngFor="let finTrx of finTrxs; let i=index" no-padding>
    <ion-card-header text-center no-padding no-margin>
      <ion-grid>
        <ion-row>
          <ion-col no-padding no-margin text-center col-2 *ngIf="finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'">
              Due
            </ion-col>

            <ion-col no-padding no-margin col-2 class="amtArrow" text-center *ngIf="finTrx.trxType === 'In_Credit' && pSummary.party.category === 'Buyer'">
              <img src="assets/imgs/arrowin.png">
            </ion-col>
            
            <ion-col no-padding no-margin col-2  class="amtArrow"  text-center *ngIf="finTrx.trxType === 'In_Credit' && pSummary.party.category === 'Supplier'">
              <img src="assets/imgs/arrowin.png">
            </ion-col>
            
            <ion-col no-padding no-margin col-2  class="amtArrow" text-center *ngIf="finTrx.trxType === 'Out_Debit' && pSummary.party.category === 'Buyer'">
              <img src="assets/imgs/arrowout.png">
            </ion-col>
            
            <ion-col no-padding no-margin col-2  class="amtArrow" text-center *ngIf="finTrx.trxType === 'Out_Debit' && pSummary.party.category === 'Supplier'">
              <img src="assets/imgs/arrowout.png">
            </ion-col>

            <ion-col text-right col-10>
                {{finTrx.trxDate   | date: 'dd-MM-yyyy'}}
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <hr>
    <ion-card-content no-padding no-margin>
      <ion-grid>
        <ion-row *ngIf="finTrx.trxType === 'In_Credit' || finTrx.trxType === 'Out_Debit';else DueClickDisabled" (click)="deleteFinanceTransaction(i)">
          <ion-col col-8>
            <ion-grid>
              <ion-row>
                <ion-col text-left *ngIf="finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit' ; else showLateDays ">
                  Total Amount :
                </ion-col>
                <ng-template #showLateDays>
                  <ion-col text-left>Diff Days : {{ finTrx.trxDiffDays }}</ion-col>
                </ng-template>
              </ion-row>
              <ion-row>
                <ion-col text-left *ngIf="finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit' ; else showPaymentMethod "></ion-col>
                <ng-template #showPaymentMethod>
                  <ion-col text-left>
                    Payment Method : {{ finTrx.trxPaymentMethod }}
                  </ion-col>
                </ng-template>  
              </ion-row>
            </ion-grid>
          </ion-col>
          
          <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'INR') && (finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'))">
            <b>{{ finTrx.trxLocalValue | INR }}</b>
          </ion-col>

          <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'USD') && (finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'))">
            <b>{{ finTrx.trxForiegnValue*finTrx.trxCurrencyRate | INR }}</b>
          </ion-col>
          
          <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'INR') && (finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'))">
            <b>{{ finTrx.trxLocalValue/appSettings.asConversionRate | currency:'USD' }}</b>
          </ion-col>
          
          <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'USD') && (finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'))">
            <b>{{ finTrx.trxForiegnValue | currency:'USD' }}</b>
          </ion-col>
          
          <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'INR') && finTrx.trxType === 'In_Credit')">
            <b>+ {{ finTrx.trxLocalValue | INR }}</b>
          </ion-col>
      
          <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'USD') && finTrx.trxType === 'In_Credit')">
            <b>+ {{ finTrx.trxForiegnValue*finTrx.trxCurrencyRate | INR }}</b>
          </ion-col>

          <ion-col text-center col-auto class="amountIn" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'INR') && finTrx.trxType === 'In_Credit')">
            <b>+ {{ finTrx.trxLocalValue/appSettings.asConversionRate | currency:'USD' }}</b>
          </ion-col>
          
          <ion-col text-center col-auto class="amountIn" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'USD') && finTrx.trxType === 'In_Credit')">
            <b>+ {{ finTrx.trxForiegnValue | currency:'USD' }}</b>
          </ion-col>
          
          <ion-col text-center col-auto  class="amountOut" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'INR') && finTrx.trxType === 'Out_Debit')">
            <b>- {{ finTrx.trxLocalValue | INR }}</b>
          </ion-col>
          
          <ion-col text-center col-auto  class="amountOut" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'USD') && finTrx.trxType === 'Out_Debit')">
            <b>- {{ finTrx.trxForiegnValue*finTrx.trxCurrencyRate | INR }}</b>
          </ion-col>
          
          <ion-col text-center col-auto class="amountOut" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'INR') && finTrx.trxType === 'Out_Debit')">
            <b>- {{ finTrx.trxLocalValue/appSettings.asConversionRate | currency:'USD' }}</b>
          </ion-col>

          <ion-col text-center col-auto class="amountOut" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'USD') && finTrx.trxType === 'Out_Debit');">
            <b>- {{ finTrx.trxForiegnValue | currency:'USD' }}</b>
          </ion-col>
        </ion-row>

        <ng-template #DueClickDisabled>
          <ion-row>
            <ion-col col-8>
              <ion-grid>
                <ion-row>
                  <ion-col text-left *ngIf="finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit' ; else showLateDays ">
                    Total Amount :
                  </ion-col>
                  <ng-template #showLateDays>
                    <ion-col text-left>Diff Days : {{ finTrx.trxDiffDays }}</ion-col>
                  </ng-template>
                </ion-row>
                <ion-row>
                  <ion-col text-left *ngIf="finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit' ; else showPaymentMethod "></ion-col>
                  <ng-template #showPaymentMethod>
                    <ion-col text-left>
                      Payment Method : {{ finTrx.trxPaymentMethod }}
                    </ion-col>
                  </ng-template>  
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'INR') && (finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'))">
              <b>{{ finTrx.trxLocalValue | INR }}</b>
            </ion-col>
  
            <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'USD') && (finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'))">
              <b>{{ finTrx.trxForiegnValue*finTrx.trxCurrencyRate | INR }}</b>
            </ion-col>

            <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'INR') && (finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'))">
              <b>{{ finTrx.trxLocalValue/appSettings.asConversionRate | currency:'USD' }}</b>
            </ion-col>
            
            <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'USD') && (finTrx.trxType === 'Due_Credit' || finTrx.trxType === 'Due_Debit'))">
              <b>{{ finTrx.trxForiegnValue | currency:'USD' }}</b>
            </ion-col>
        
            <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'INR') && finTrx.trxType === 'In_Credit')">
              <b>+ {{ finTrx.trxLocalValue | INR }}</b>
            </ion-col>
            
            <ion-col text-center col-auto  class="amountIn" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'USD') && finTrx.trxType === 'In_Credit')">
              <b>+ {{ finTrx.trxForiegnValue*finTrx.trxCurrencyRate | INR }}</b>
            </ion-col>
            
            <ion-col text-center col-auto class="amountIn" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'INR') && finTrx.trxType === 'In_Credit')">
              <b>+ {{ finTrx.trxLocalValue/appSettings.asConversionRate | currency:'USD' }}</b>
            </ion-col>
            
            <ion-col text-center col-auto class="amountIn" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'USD') && finTrx.trxType === 'In_Credit')">
              <b>+ {{ finTrx.trxForiegnValue | currency:'USD' }}</b>
            </ion-col>
          
            <ion-col text-center col-auto  class="amountOut" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'INR') && finTrx.trxType === 'Out_Debit')">
              <b>- {{ finTrx.trxLocalValue | INR }}</b>
            </ion-col>
          
            <ion-col text-center col-auto  class="amountOut" *ngIf="((trxCurrency === 'INR' && finTrx.trxCurrency === 'USD') && finTrx.trxType === 'Out_Debit')">
              <b>- {{ finTrx.trxForiegnValue*finTrx.trxCurrencyRate | INR }}</b>
            </ion-col>
            
            <ion-col text-center col-auto class="amountOut" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'INR') && finTrx.trxType === 'Out_Debit')">
              <b>- {{ finTrx.trxLocalValue/appSettings.asConversionRate | currency:'USD' }}</b>
            </ion-col>

            <ion-col text-center col-auto class="amountOut" *ngIf="((trxCurrency === 'USD' && finTrx.trxCurrency === 'USD') && finTrx.trxType === 'Out_Debit');">
              <b>- {{ finTrx.trxForiegnValue | currency:'USD' }}</b>
            </ion-col>

          </ion-row>
        </ng-template>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>