pagefinanceTransactionList {

    ion-row{
        align-items: center;
        vertical-align: middle;
    }
    ion-col.amountIn{
        color: green;
    }

    ion-col.amountOut{
        color: red;
    }

    ion-col.amtArrow{
        height: fit-content;
    }
}
