<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{item.itemName}}</ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="goToRootPage()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- <ion-grid>
        <ion-row>
            <ion-col col-6>
                <img class="img" [src]="item.imageURL" />
            </ion-col>
            <ion-col>
                <ion-grid>
                    <ion-row>
                        <ion-col text-center style="font-weight: bold">
                            {{item.itemName}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-center style="font-size: 2rem ; font-weight: bold">
                            {{item.itemPrice}} / {{item.itemUOM}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-center>
                            ({{item.itemQuantity - item.reservedQuantity}})
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col >
                <button ion-button outline > Change photo </button>
            </ion-col>
        </ion-row>
    </ion-grid> -->
    <ion-grid>
        <ion-row text-center>
            <img text-center class="img" [src]="item.imageURL" />
        </ion-row>
        <ion-row *ngIf=" this.user.isAdmin === true ">
            <ion-col text-center>
                <button ion-button outline (click)="editImage()"> Change photo </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col text-center style="font-size: 2rem ; font-weight: bold">
                        {{item.itemPrice}} / {{item.itemUOM}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center>
                        ({{item.itemQuantity - item.reservedQuantity}})
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col >
                        <ion-label > Description </ion-label>
                        {{item.itemDescription}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>