<ion-content padding class="sample-modal">
	<ion-toolbar color="primary">
		<ion-title *ngIf="passedFrom === 'addItem'">Add a product</ion-title>
		<ion-title *ngIf="passedFrom === 'editItem'">Edit {{item.itemName}}</ion-title>
		<ion-buttons start>
			<button ion-button icon-only (click)="goToRootPage()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
	<ion-grid no-margin class="modal-content">
		<ion-row *ngIf="passedFrom === 'addItem'" style="align-items: center; vertical-align: middle;">
			<ion-col col-9 *ngIf=" item.imageURL == '' ">
				<ion-item no-lines text-center>
					<img src="assets/imgs/addCrop.png"
						style="width: 100% ; height: 100%; max-width: 150px;max-height: 150px" />
				</ion-item>
			</ion-col>
			<ion-col col-9 *ngIf=" item.imageURL != '' ">
				<ion-item no-lines text-center>
					<img [src]="previewImageURL" style="width: 100% ; height: 100%; max-width: 150px;max-height: 150px">
				</ion-item>
			</ion-col>
			<ion-col col-3>
				<button ion-button outline (click)="selectImage()">Open</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating> Item name </ion-label>
					<ion-input type="text" [(ngModel)]="item.itemName"> </ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating> Item Type </ion-label>
					<ion-input type="text" [(ngModel)]="item.itemType"> </ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating> Price </ion-label>
					<ion-input type="number" [(ngModel)]="item.itemPrice"> </ion-input>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-label floating> Unit of measurement </ion-label>
					<ion-input type="text" [(ngModel)]="item.itemUOM"> </ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating> CGST </ion-label>
					<ion-input type="number" [(ngModel)]="item.taxRate.rateCGST"> </ion-input>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-label floating> SGST </ion-label>
					<ion-input type="number" [(ngModel)]="item.taxRate.rateSGST"> </ion-input>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-label floating> IGST </ion-label>
					<ion-input type="number" [(ngModel)]="item.taxRate.rateIGST"> </ion-input>
				</ion-item>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating> Quantity </ion-label>
					<ion-input type="number" [(ngModel)]="item.itemQuantity"> </ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row style="height: 20vh">
			<ion-col>
				<ion-item style="height: 19vh ; border-radius: 6px">
					<ion-label floating> Description </ion-label>
					<ion-input type="text" [(ngModel)]="item.itemDescription"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
	<button ion-button *ngIf="passedFrom === 'addItem'" full (click)="saveItem()" style="border-radius: 5px;"> Add
	</button>
	<button ion-button *ngIf="passedFrom === 'editItem'" full (click)="saveItem()" style="border-radius: 5px;"> Save
	</button>

</ion-content>