<!--
  Generated template for the AddPolishToSalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="totalInputWeight > 0">Add Polish To Sales : {{ totalInputWeight }} </ion-title>
    <ion-title *ngIf="totalInputWeight === 0">Add Polish To Sales </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card (click)="selectBusinessTransaction()">
    <ion-grid text-center no-wrap no-padding>
      <ion-row *ngIf="(!businessTransaction)">
        <ion-col>SELECT PURCHASE TRX</ion-col>
      </ion-row>
      <ion-row *ngIf="(businessTransaction)">
        <ion-col>{{ businessTransaction.trxPartyName }}</ion-col>
      </ion-row>
      <ion-row *ngIf="(businessTransaction)">
        <ion-col>{{ businessTransaction.trxDate | date: 'dd-MM-yyyy' }}</ion-col>
      </ion-row>
      <ion-row *ngIf="(businessTransaction)">
        <ion-col>{{ businessTransaction.trxQty }} cts X {{ businessTransaction.trxRate }} {{ businessTransaction.trxCurrency }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-list>
    <ion-item text-center no-wrap>
      <ion-label floating > Enter Rough Weight </ion-label>
      <ion-input type="number" [(ngModel)] = "roughWeight" (ionChange)="changeInRoughWeight()"> </ion-input>
    </ion-item>  
    <ion-item text-center no-wrap>
      <ion-label floating > Enter Labour Rate </ion-label>
      <ion-input type="number" [(ngModel)] = "labourRate" (ionChange)="changeInAvgMfgCost()"> </ion-input>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row text-center no-wrap no-padding>
      <ion-col>For Sale</ion-col>
    </ion-row> 
    <ion-row text-center no-wrap no-padding>
      <ion-col col-4 text-left>Polished :</ion-col>
      <ion-col col-4 text-right>{{ totalSalesSummary.totalSaleablePolishedWeight }} ct</ion-col>
      <ion-col col-4 text-right>{{ inventoryParams.avgMfgGain }} %</ion-col>
    </ion-row> 
    <ion-row text-center no-wrap no-padding>
      <ion-col col-4 text-left>Tops :</ion-col>
      <ion-col col-4 text-right>{{ totalSalesSummary.totalSaleableTopsWeight }} ct</ion-col>
      <ion-col col-4 text-right>{{ inventoryParams.avgMfgGain }} %</ion-col>
    </ion-row> 
    <ion-row text-center no-wrap no-padding>
      <ion-col col-4 text-left>Rough :</ion-col>
      <ion-col col-4 text-right>{{ totalSalesSummary.totalSaleableRoughWeight }} ct</ion-col>
      <ion-col col-4 text-right *ngIf="totalSalesSummary.totalSaleableRoughWeight > 0">100 %</ion-col>
      <ion-col col-4 text-right *ngIf="totalSalesSummary.totalSaleableRoughWeight === 0">0 %</ion-col>
    </ion-row> 
    <ion-row text-center no-wrap no-padding>
      <ion-col col-4 text-left>Total :</ion-col>
      <ion-col col-4 text-right>{{ totalSalesSummary.totalSaleableWeight }} ct</ion-col>
      <ion-col col-4 text-right>{{ inventoryParams.avgP2SGain }} %</ion-col>
    </ion-row> 
    <ion-row text-center no-wrap no-padding>
      <ion-col col-4 text-left>Avg Cost :</ion-col>
      <ion-col col-8 text-right>{{ totalSalesSummary.avgGrossCost | INR }}</ion-col>
    </ion-row> 
    <ion-row text-center no-wrap no-padding>
      <ion-col col-4 text-left>Avg Market Rate :</ion-col>
      <ion-col col-8 text-right>{{ totalSalesSummary.avgPriceRate | INR }}</ion-col>
    </ion-row>
    <ion-row text-center no-wrap no-padding>
      <ion-col col-4 text-left>Total Cost :</ion-col>
      <ion-col col-8 text-right>{{ totalSalesSummary.totalGrossCost | INR }}</ion-col>
    </ion-row>
    <ion-row text-center no-wrap no-padding>
      <ion-col col-4 text-left>Total Price :</ion-col>
      <ion-col col-8 text-right>{{ totalSalesSummary.totalPriceValue | INR }}</ion-col>
    </ion-row>    
  </ion-grid>  
  <ion-card *ngFor="let salesSummaryByTSS of (salesSummaryByTSSList); let i=index">
    <ion-grid>
      <ion-row text-center no-wrap>
        <ion-col col-4> {{ salesSummaryByTSS.itemType.name }} </ion-col>
        <ion-col col-4>{{ salesSummaryByTSS.itemShape.name }}</ion-col>
        <ion-col col-4>+{{ salesSummaryByTSSList[i].itemSieveMin.name }}  -{{ salesSummaryByTSSList[i].itemSieveMax.name }}</ion-col>
      </ion-row>
      <ion-row text-center no-wrap>
        <ion-col col-2 text-left (click)="removeFromSalesSummaryBySSList(salesSummaryByTSS)"><ion-icon name="trash"></ion-icon></ion-col>
        <ion-col col-8 text-right>{{ salesSummaryByTSS.totalSaleableWeight }} cts</ion-col>
        <ion-col col-2 text-left (click)="addSalesItems(salesSummaryByTSS)"><ion-icon ios="ios-list" md="md-list"></ion-icon></ion-col>
      </ion-row>
      <ion-row text-center no-wrap>
        <ion-col col-4 text-left>Avg Cost :</ion-col>
        <ion-col col-8 text-right>{{ salesSummaryByTSS.avgGrossCost | INR }}</ion-col>
      </ion-row>
      <ion-row text-center no-wrap>
        <ion-col col-4 text-left>Avg Price :</ion-col>
        <ion-col col-8 text-right>{{ salesSummaryByTSS.avgPriceRate | INR }}</ion-col>
      </ion-row>
      <ion-row text-center no-wrap>
        <ion-col col-4 text-left>Total Cost :</ion-col>
        <ion-col col-8 text-right>{{ salesSummaryByTSS.totalGrossCost | INR }}</ion-col>
      </ion-row>
      <ion-row text-center no-wrap>
        <ion-col col-4 text-left>Total Price :</ion-col>
        <ion-col col-8 text-right>{{ salesSummaryByTSS.totalPriceValue | INR }}</ion-col>
      </ion-row>     
    </ion-grid>
  </ion-card>  
  <ion-fab right bottom>
    <button ion-fab (click)="addToSalesSummaryBySSList('POLISHED')" [disabled]="(!businessTransaction) || (roughWeight <= 0) || (labourRate <= 0)">+P</button>
    <button ion-fab (click)="addToSalesSummaryBySSList('ROUGH')" [disabled]="(!businessTransaction) || (roughWeight <= 0)">+R</button>
    <button ion-fab (click)="addToSalesSummaryBySSList('TOPS')" [disabled]="(!businessTransaction) || (roughWeight <= 0)">+T</button>
  </ion-fab>
</ion-content>
<ion-footer>
  <button ion-button full (click)="submit()" [disabled]="(totalInputWeight < roughWeight) || (roughWeight < totalSalesSummary.totalSaleableWeight) || (!totalSalesSummary.totalSaleableWeight) || (!roughWeight)"> SUBMIT  ({{ totalSalesSummary.totalSaleableWeight }} cts)</button>
</ion-footer>