<ion-content padding class="sample-modal">
    <ion-toolbar color="primary" class="modal-header">
        <ion-title>Add farmer</ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="goToRootPage()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-grid no-margin class="modal-content">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating> Name </ion-label>
                    <ion-input type="text" [(ngModel)]="farmer.name"> </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating> City </ion-label>
                    <ion-input type="text" [(ngModel)]="farmer.city"> </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating> State </ion-label>
                    <ion-input type="text" [(ngModel)]="farmer.state"> </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let crop of farmer.crops ; let i=index">
            <ion-col col-5>
                <ion-item>
                    <ion-label floating> Crop {{i+1}} </ion-label>
                    <ion-input type="text" [(ngModel)]="farmer.crops[i].name"> </ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <ion-item>
                    <ion-label floating> Quantity </ion-label>
                    <ion-input type="number" [(ngModel)]="farmer.crops[i].quantity"> </ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-3 *ngIf="i === 0">
                <button class="add-button" ion-button full clear (click)="addCrop()">
                    <ion-icon class="add-button" name="add-circle"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-3 *ngIf="i !== 0">
                <button class="add-button" ion-button full clear (click)="removeCrop()">
                    <ion-icon class="add-button" name="remove"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>Phone number </ion-label>
                    <ion-input type="number" [(ngModel)]="farmer.phoneNumber"> </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating> Land size ( in acres ) </ion-label>
                    <ion-input type="number" [(ngModel)]="farmer.landSize"> </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <button ion-button full (click)="saveFarmer()" style="border-radius: 5px;"> Add </button>

</ion-content>