page-task-summary {
	ion-scroll{
        position: unset;
        padding: 0% !important;
	}
	ion-col.table{
        padding: 0% !important;
    }
    packagedItem-footer-button {
		height:100%;
		width: 100%;
		line-height: 2;
		text-transform: capitalize;
		background-color: map-get($colors,contentBackground);
		font-weight: bold;
	}

	.scroll-content {
        padding: 0% !important;
    }

    .table-header{
        background-color: #263238;
        border: 1px solid black;
        font-weight: bold;
        padding: 5px !important;
        color: white;
    }

    .sticky-col-odd{
        border: 1px solid black;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-weight: bold;
        background-color: #F5F5F5;
    }

    .sticky-col-even{
        border: 1px solid black;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-weight: bold;
    }

    ion-grid{
        padding: 0% !important;
        // overflow: scroll;
    }

    .gridContent{
        margin-top: 55px;
    }
    .values-odd{
        border: 1px solid black !important;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        background-color: #F5F5F5;
    }

    .values-even{
        border: 1px solid black !important;
        padding: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    ion-row{
        padding: 0% !important;
        background-color: transparent;
    }

}
