<!--
  Generated template for the TaskSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!bInvalidUser">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Summary : {{ taskCode }} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--ion-card>
    <ion-grid>
      <ion-row>
          <ion-col col-4> Input :</ion-col>
          <ion-col col-2>{{ summary.Input.totalQty }}</ion-col>
          <ion-col col-2>{{ summary.Input.totalWeight }}</ion-col>
          <ion-col col-2>{{ summary.Input.taskCost }}</ion-col>
          <ion-col col-2>{{ summary.Input.accumulatedTaskCost }}</ion-col>        
      </ion-row>
      <ion-row>
        <ion-col col-4> In Progress :</ion-col>
        <ion-col col-2>{{ summary.InProgress.totalQty }}</ion-col>
        <ion-col col-2>{{ summary.InProgress.totalWeight }}</ion-col>
        <ion-col col-2>{{ summary.InProgress.taskCost }}</ion-col>
        <ion-col col-2>{{ summary.InProgress.accumulatedTaskCost }}</ion-col>        
      </ion-row>
      <ion-row>
        <ion-col col-4> Completed :</ion-col>
        <ion-col col-2>{{ summary.Completed.totalQty }}</ion-col>
        <ion-col col-2>{{ summary.Completed.totalWeight }}</ion-col>
        <ion-col col-2>{{ summary.Completed.taskCost }}</ion-col>
        <ion-col col-2>{{ summary.Completed.accumulatedTaskCost }}</ion-col>        
      </ion-row>
      <ion-row>
        <ion-col col-4> Output :</ion-col>
        <ion-col col-2>{{ summary.Output.totalQty }}</ion-col>
        <ion-col col-2>{{ summary.Output.totalWeight }}</ion-col>
        <ion-col col-2>{{ summary.Output.taskCost }}</ion-col>
        <ion-col col-2>{{ summary.Output.accumulatedTaskCost }}</ion-col>        
      </ion-row>
      <ion-row>
        <ion-col col-4> Pending :</ion-col>
        <ion-col col-2>{{ summary.Pending.totalQty }}</ion-col>
        <ion-col col-2>{{ summary.Pending.totalWeight }}</ion-col>
        <ion-col col-2>{{ summary.Pending.totalCost }}</ion-col>
        <ion-col col-2>{{ summary.Pending.accumulatedTaskCost }}</ion-col>        
      </ion-row>
    </ion-grid>
  </ion-card -->
  <!-- <ion-scroll scrollX="true" scrollY="false" zoom="false">
    <ion-grid radio-group [(ngModel)]="filterValue" (ionChange)="filterPackagedItems($event)">
      <ion-row text-center nowrap>
          <ion-col col-4>
            <ion-item no-lines>
              <ion-label>All</ion-label>
              <ion-radio value="A_B" ></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item no-lines>
              <ion-label *ngIf="(taskCode === 'PURCHASE')">To Be Received</ion-label>
              <ion-label *ngIf="(taskCode === 'PLANNING')">For Rough Assortment </ion-label>
              <ion-label *ngIf="(taskCode === 'MFG_ISSUE')">For Issue </ion-label>
              <ion-label *ngIf="(taskCode === 'MFG_RETURN')">To Be Returned from Mfg </ion-label>
              <ion-label *ngIf="(taskCode === 'ASSORTMENT')">For Polish Assortment </ion-label>
              <ion-radio value="A_B_RD" ></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-6 *ngIf="(taskCode === 'PLANNING') || (taskCode === 'MFG_ISSUE') || (taskCode === 'ASSORTMENT')">
            <ion-item no-lines>
              <ion-label *ngIf="(taskCode === 'PLANNING')">In Progress</ion-label>
              <ion-label *ngIf="(taskCode === 'MFG_ISSUE')">Under Issue</ion-label>
              <ion-label *ngIf="(taskCode === 'ASSORTMENT')">Under Assortment</ion-label>
              <ion-radio value="B_B_IP" ></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-6 *ngIf="(taskCode === 'PLANNING') || (taskCode === 'ASSORTMENT') || (taskCode === 'MFG_RETURN')">
            <ion-item no-lines>
              <ion-label *ngIf="(taskCode === 'PLANNING')">Completed</ion-label> 
              <ion-label *ngIf="(taskCode === 'MFG_RETURN')">Mfg Returned</ion-label>            
              <ion-label *ngIf="(taskCode === 'ASSORTMENT')">Completed</ion-label>
              <ion-radio value="B_B_CO" ></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item no-lines>
              <ion-label *ngIf="(taskCode === 'PURCHASE')">Received</ion-label>
              <ion-label *ngIf="(taskCode === 'MFG_RETURN')">Mfg Gain</ion-label>
              <ion-label *ngIf="(taskCode === 'PLANNING')">To Mfg & Sales</ion-label>
              <ion-label *ngIf="(taskCode === 'MFG_ISSUE')">Mfg Issued</ion-label>
              <ion-label *ngIf="(taskCode === 'ASSORTMENT')">To Sales</ion-label>
              <ion-radio value="B_C" ></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-scroll> -->
    <ion-card>
      <ion-card-header no-padding>
        <ion-grid style="padding: 0 ;" >
          <ion-row>
            <ion-col text-center >
              {{ summary.taskCode }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content no-padding>
        <ion-grid *ngIf="summary.taskCode === 'PURCHASE'">
          <ion-row>
            <ion-col col-6 text-center> Purchased :</ion-col>
            <ion-col col-6 text-center> Received :</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 text-center>{{ summary.Input.totalWeight }} cts </ion-col>
            <ion-col col-6 text-center>{{ summary.Output.totalWeight }} cts</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="summary.taskCode === 'PLANNING'">
          <ion-row>
            <ion-col col-4 text-center> For Planning :</ion-col>
            <ion-col col-4 text-center> In Planning :</ion-col>
            <ion-col col-4 text-center> Completed :</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 text-center>{{ summary.Pending.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ summary.InProgress.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ summary.Completed.totalWeight }} cts</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="summary.taskCode === 'MFG_ISSUE'">
          <ion-row>
            <ion-col col-4 text-center> For Mfg :</ion-col>
            <ion-col col-4 text-center> In Issue :</ion-col>
            <ion-col col-4 text-center> Mfg Issued  :</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 text-center>{{ summary.Pending.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ summary.InProgress.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ summary.Output.totalWeight }} cts</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="summary.taskCode === 'MFG_RETURN'">
          <ion-row>
            <ion-col col-4 text-center> Issued :</ion-col>
            <ion-col col-4 text-center> Returned :</ion-col>
            <ion-col col-4 text-center> Pol Return :</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 text-center>{{ summary.Input.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ summary.Completed.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ summary.Output.totalWeight }} cts</ion-col>
          </ion-row> 
        </ion-grid> 
        <ion-grid *ngIf="summary.taskCode === 'ASSORTMENT'">
          <ion-row>
            <ion-col col-4 text-center> For Assortment :</ion-col>
            <ion-col col-4 text-center> In Assortment :</ion-col>
            <ion-col col-4 text-center> For Sales :</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 text-center>{{ summary.Pending.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ summary.InProgress.totalWeight }} cts</ion-col>
            <ion-col col-4 text-center>{{ summary.Output.totalWeight }} cts</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>    
    </ion-card>  
  <ion-grid radio-group [(ngModel)]="filterValue" (ionChange)="filterPackagedItems($event)">
    <ion-row>
      <ion-col>
        <ion-item no-lines>
          <ion-label>All</ion-label>
          <ion-radio value="A_B" ></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <ion-item no-lines>
          <ion-label *ngIf="(taskCode === 'PURCHASE')">To Be Received</ion-label>
          <ion-label *ngIf="(taskCode === 'PLANNING')">For Rough Assortment </ion-label>
          <ion-label *ngIf="(taskCode === 'MFG_ISSUE')">For Issue </ion-label>
          <ion-label *ngIf="(taskCode === 'MFG_RETURN')">To Be Returned from Mfg </ion-label>
          <ion-label *ngIf="(taskCode === 'ASSORTMENT')">For Polish Assortment </ion-label>
          <ion-radio value="A_B_RD" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(taskCode === 'PLANNING') || (taskCode === 'MFG_ISSUE') || (taskCode === 'ASSORTMENT')">
      <ion-col>
        <ion-item no-lines>
          <ion-label *ngIf="(taskCode === 'PLANNING')">In Progress</ion-label>
          <ion-label *ngIf="(taskCode === 'MFG_ISSUE')">Under Issue</ion-label>
          <ion-label *ngIf="(taskCode === 'ASSORTMENT')">Under Assortment</ion-label>
          <ion-radio value="B_B_IP" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(taskCode === 'PLANNING') || (taskCode === 'ASSORTMENT') || (taskCode === 'MFG_RETURN')">
      <ion-col>
        <ion-item no-lines>
          <ion-label *ngIf="(taskCode === 'PLANNING')">Completed</ion-label> 
          <ion-label *ngIf="(taskCode === 'MFG_RETURN')">Mfg Returned</ion-label>            
          <ion-label *ngIf="(taskCode === 'ASSORTMENT')">Completed</ion-label>
          <ion-radio value="B_B_CO" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item no-lines>
          <ion-label *ngIf="(taskCode === 'PURCHASE')">Received</ion-label>
          <ion-label *ngIf="(taskCode === 'MFG_RETURN')">Mfg Gain</ion-label>
          <ion-label *ngIf="(taskCode === 'PLANNING')">To Mfg & Sales</ion-label>
          <ion-label *ngIf="(taskCode === 'MFG_ISSUE')">Mfg Issued</ion-label>
          <ion-label *ngIf="(taskCode === 'ASSORTMENT')">To Sales</ion-label>
          <ion-radio value="B_C" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="(taskCode === 'MFG_ISSUE') || (taskCode === 'MFG_RETURN') || (taskCode === 'ASSORTMENT')"  col-5 class="table">
        <ion-grid>
          <ion-row text-center nowrap col-auto>
            <ion-col class="table-header" col-4>
              Cts.
            </ion-col>
            <ion-col class="table-header" col-8>
              Series Code
            </ion-col>             
          </ion-row>
          <ion-row *ngFor="let packagedItem of (packagedItemList); let i=index" text-center nowrap (click)="onPackageClicked(packagedItem)">
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-4>
              {{ packagedItem.itemWeight }}
            </ion-col> 
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-8>
              {{ packagedItem.packageGroupID }}
            </ion-col>           
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col *ngIf="(taskCode === 'PLANNING')" col-auto class="table">
        <ion-grid>
          <ion-row text-center nowrap col-auto>
            <ion-col class="table-header">
              WEIGHT
            </ion-col>             
          </ion-row>
          <ion-row *ngFor="let packagedItem of (packagedItemList); let i=index" text-center nowrap (click)="onPackageClicked(packagedItem)">
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'">
              {{ packagedItem.itemWeight }}
            </ion-col>           
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-scroll scrollX="true" scrollY="false" zoom="false">
          <ion-grid>
            <ion-row text-center nowrap>
              <ion-col class="table-header" col-6>
                Purchase Date
              </ion-col>
              <ion-col *ngIf="(taskCode === 'PLANNING')" class="table-header" col-8>
                PARTY Name
              </ion-col>
              <ion-col *ngIf="(taskCode === 'PLANNING')" class="table-header" col-8>
                INVOICE ID
              </ion-col>
              <ion-col *ngIf="(taskCode === 'MFG_ISSUE') || (taskCode === 'MFG_RETURN') || (taskCode === 'ASSORTMENT')" class="table-header" col-8>
                Mfg By
              </ion-col>
              <ion-col class="table-header" col-8>
                COST
              </ion-col>
              <ion-col *ngIf="(taskCode === 'MFG_ISSUE') || (taskCode === 'MFG_RETURN') || (taskCode === 'ASSORTMENT')" class="table-header" col-8>
                Party Name
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let packagedItem of (packagedItemList); let i=index" text-center nowrap>
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-6>
                {{ packagedItem.trxDate }}
              </ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" *ngIf="(taskCode === 'PLANNING')" col-8>
                {{ packagedItem.trxPartyName }}
              </ion-col>
              <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" *ngIf="(taskCode === 'PLANNING')" col-8>
                {{ packagedItem.trxInvoiceID }}
              </ion-col>
              <ion-col *ngIf="(taskCode === 'MFG_ISSUE') || (taskCode === 'MFG_RETURN') || (taskCode === 'ASSORTMENT')" [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-8>
                {{ packagedItem.packageNextTaskOwner }}
              </ion-col>                      
              <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 >
                {{ packagedItem.itemCost + packagedItem.itemTax }}
              </ion-col> 
              <ion-col *ngIf="(taskCode === 'MFG_ISSUE') || (taskCode === 'MFG_RETURN') || (taskCode === 'ASSORTMENT')" [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" col-8>
                {{ packagedItem.trxPartyName }}
              </ion-col>                 
            </ion-row>
          </ion-grid>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
