<!--
  Generated template for the PartyTransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!bInvalidUser">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="onTitleClick()" *ngIf="confidentialityLevel === 1">
      Transactions
    </ion-title>
    <ion-title (click)="onTitleClick()" *ngIf="confidentialityLevel === 2">
      Transactions*
    </ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="openPopOver($event)">    
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button> 
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row class="TrxCurrency" [(ngModel)]="trxCurrency" radio-group no-padding no-margin > 
        <ion-col col-6>
          <ion-item class="trxCurrAlign" no-lines no-padding>
            <ion-avatar item-start>
              <img src="assets/imgs/rupees.png">
            </ion-avatar>
            <ion-label>INR</ion-label>
            <ion-radio value="INR"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-6 >
          <ion-item class="trxCurrAlign" no-lines no-padding>
            <ion-avatar item-start>
              <img src="assets/imgs/dollars.png">
            </ion-avatar>
            <ion-label>USD</ion-label>
            <ion-radio value="USD"></ion-radio> <!--disabled="true"-->
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!--Summary Card-->
  <ion-card *ngIf="trxCurrency === 'INR';else bizSummaryinUSD">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 text-center>Total : {{ pSummary.businessSummary.businessAmtTotalinLocal | INR }}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>  
    <ion-grid> 
      <ion-row>
        <ion-col class="ReceivedOrPaid">
            <p text-center class="summaryRecvPaidFont"><b>{{ pSummary.businessSummary.amtReceviedOrPaidinLocal | INR }}</b></p>
            <p text-center *ngIf="transactionType==='Buy'"><i> Received </i></p>
            <p text-center *ngIf="transactionType==='Sell'"><i> Paid </i></p>
        </ion-col>
        <ion-col class="AmtPending"> 
          <p text-center class="summaryPendingFont"><b>{{ pSummary.businessSummary.amtPendinginLocal | INR }}</b></p>
          <p text-center *ngIf="transactionType==='Buy'"><i> Remaining </i></p>
          <p text-center *ngIf="transactionType==='Sell'"><i> Pending </i></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="InterestRealized">
            <p text-center class="summaryFont"><b>{{ pSummary.businessSummary.interestRealizedinLocal | INR }}</b></p>  
            <p text-center *ngIf="transactionType==='Buy'"><i> Interest on Received </i></p>
            <p text-center *ngIf="transactionType==='Sell'"><i> Interest on Paid </i></p>
        </ion-col>
        <ion-col>
            <p text-center class="summaryFont"><b>{{ pSummary.businessSummary.interestUnRealizedinLocal | INR }}</b></p>
            <p text-center><i> Interest on Remaining </i></p>
        </ion-col>
      </ion-row>
    </ion-grid>   
  </ion-card>
  
  <ng-template #bizSummaryinUSD>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 text-center>Total : {{ pSummary.businessSummary.businessAmtTotalinForiegn | currency:'USD' }}</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>  
      <ion-grid> 
        <ion-row>
          <ion-col class="ReceivedOrPaid">
              <p text-center class="summaryRecvPaidFont"><b>{{ pSummary.businessSummary.amtReceviedOrPaidinForiegn | currency:'USD' }}</b></p>  
              <p text-center *ngIf="transactionType==='Sell'"><i> Received </i></p>
              <p text-center *ngIf="transactionType==='Buy'"><i> Paid </i></p>
          </ion-col>
            <ion-col class="AmtPending"> 
                <p text-center class="summaryPendingFont"><b>{{ pSummary.businessSummary.amtPendinginForiegn | currency:'USD' }}</b></p> 
                <p text-center *ngIf="transactionType==='Buy'"><i> Remaining </i></p>
                <p text-center *ngIf="transactionType==='Sell'"><i> Pending </i></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="InterestRealized">
              <p text-center class="summaryFont"><b>{{ pSummary.businessSummary.interestRealizedinForiegn | currency:'USD' }}</b></p>  
              <p text-center *ngIf="transactionType==='Buy'"><i> Interest on Received </i></p>
              <p text-center *ngIf="transactionType==='Sell'"><i> Interest on Paid </i></p>
          </ion-col>
          <ion-col>
              <p text-center class="summaryFont"><b>{{ pSummary.businessSummary.interestUnRealizedinForiegn | currency:'USD' }}</b></p>
              <p text-center><i> Interest on Remaining </i></p>
          </ion-col>
        </ion-row>
      </ion-grid>   
    </ion-card>    
  </ng-template>

  <ion-grid *ngIf="isBizTrxn === true">
    <ion-row >
      <ion-col col-auto>
        <ion-grid>
          <ion-row>
            <ion-col class="table-header">
              DATE
            </ion-col>
          </ion-row>
          <ion-row text-center nowrap *ngFor="let trxSummary of (bizTrxSummary); let i=index" (click)="gotoBusinessTrxSummary(trxSummary)">
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'" >
              {{trxSummary.businessTransaction.trxDate   | date: 'dd-MM-yyyy'}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-scroll scrollX="true" scrollY="false" zoom="false">
          <ion-grid >
            <ion-row text-center nowrap >
              <ion-col class="table-header" col-8>Invoice ID</ion-col>
              <ion-col class="table-header" col-4>Due Date</ion-col>
              <ion-col class="table-header" col-4>Qty</ion-col>
              <ion-col class="table-header" col-4>Rate</ion-col>
              <ion-col class="table-header" col-6>Total Amount</ion-col>
              <ion-col class="table-header" col-6>Total Recieved</ion-col>
              <ion-col class="table-header" col-6>Total Pending</ion-col>
              <ion-col class="table-header" col-6>Interest Realized</ion-col>
              <ion-col class="table-header" col-8>Interest Unrealized</ion-col>
              <!-- <ion-col class="table-header" col-6>Brokerage</ion-col> -->
            </ion-row>
            <div *ngIf="trxCurrency === 'INR'">
              <ion-row text-center nowrap *ngFor="let trxSummary of (bizTrxSummary); let i=index" (click)="gotoBusinessTrxSummary(trxSummary)">
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8>{{trxSummary.businessTransaction.trxInvoiceID}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4>{{trxSummary.businessTransaction.trxDueDate  | date: 'dd-MM-yyyy'}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4>{{trxSummary.businessTransaction.trxWeight}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4 *ngIf="trxSummary.businessTransaction.trxCurrency === 'INR'">{{trxSummary.businessTransaction.trxRate | INR }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4 *ngIf="trxSummary.businessTransaction.trxCurrency === 'USD'">{{trxSummary.businessTransaction.trxRate | currency:'USD' }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{trxSummary.trxLocalAmount  | INR }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{trxSummary.amtReceviedOrPaidinLocal  | INR}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{trxSummary.amtPendinginLocal | INR}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{trxSummary.interestRealizedinLocal | INR}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8>{{trxSummary.interestUnRealizedinLocal | INR}}</ion-col>
              </ion-row>
            </div>
            <div *ngIf="trxCurrency === 'USD'">
              <ion-row text-center nowrap *ngFor="let trxSummary of (bizTrxSummary); let i=index" (click)="gotoBusinessTrxSummary(trxSummary)">
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8>{{trxSummary.businessTransaction.trxInvoiceID}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4>{{trxSummary.businessTransaction.trxDueDate  | date: 'dd-MM-yyyy'}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4>{{trxSummary.businessTransaction.trxQty}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4 *ngIf="trxSummary.businessTransaction.trxCurrency === 'INR'">{{trxSummary.businessTransaction.trxRate | INR }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4 *ngIf="trxSummary.businessTransaction.trxCurrency === 'USD'">{{trxSummary.businessTransaction.trxRate | currency:'USD' }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{trxSummary.trxForiegnAmount  | currency:'USD' }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{trxSummary.amtReceviedOrPaidinForiegn  | currency:'USD' }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{trxSummary.amtPendinginForiegn | currency:'USD' }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{trxSummary.interestRealizedinForiegn | currency:'USD' }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8>{{trxSummary.interestUnRealizedinForiegn | currency:'USD' }}</ion-col>
              </ion-row>
            </div>  
          </ion-grid>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="(isFinTrxn === true)">
    <ion-row >
      <ion-col col-auto>
        <ion-grid>
          <ion-row>
            <ion-col class="table-header">
              DATE
            </ion-col>
          </ion-row>
          <ion-row text-center nowrap *ngFor="let finTrx of (finTrxs); let i=index" (click)="gotoBusinessTrxSummaryPage(finTrx)">
            <ion-col [ngClass]="(i % 2 == 0) ? 'sticky-col-even' : 'sticky-col-odd'">
              {{ finTrx.trxDate | date: 'dd-MM-yyyy'}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-scroll scrollX="true" scrollY="false" zoom="false">
          <ion-grid >
            <ion-row text-center nowrap>
                <ion-col class="table-header" col-10>Invoice ID</ion-col>
              <ion-col class="table-header" col-3>IN/OUT</ion-col>
              <ion-col class="table-header" col-4>Amount</ion-col>
              <ion-col class="table-header" col-8>Opening Balance</ion-col>
              <ion-col class="table-header" col-8>Closing Balance</ion-col>
              <ion-col class="table-header" col-6>Payment Method</ion-col>
              <ion-col class="table-header" col-6>Remarks</ion-col>
            </ion-row>
            <div  *ngIf="trxCurrency === 'INR'">
              <ion-row text-center nowrap *ngFor="let finTrx of (finTrxs); let i=index" (click)="gotoBusinessTrxSummaryPage(finTrx)">
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-10>{{ finTrx.BizInvoiceID }}</ion-col><!--{{trxSummary.businessTransaction.trxInvoiceID}}-->
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 *ngIf="finTrx.trxType === 'In_Credit'"> + </ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 *ngIf="finTrx.trxType === 'Out_Debit'"> - </ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4>{{ finTrx.trxLocalValue | INR}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 *ngIf="finTrx.trxCurrency === 'INR'">{{ finTrx.trxOpeningBalance | INR}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 *ngIf="finTrx.trxCurrency === 'USD'">{{ finTrx.trxOpeningBalance | currency:'USD'}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 *ngIf="finTrx.trxCurrency === 'INR'">{{ finTrx.trxClosingBalance | INR}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 *ngIf="finTrx.trxCurrency === 'USD'">{{ finTrx.trxClosingBalance | currency:'USD'}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{ finTrx.trxPaymentMethod }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{ finTrx.trxRemarks }}</ion-col>
              </ion-row>
            </div>
            <div  *ngIf="trxCurrency === 'USD'">
              <ion-row text-center nowrap *ngFor="let finTrx of (finTrxs); let i=index" (click)="gotoBusinessTrxSummaryPage(finTrx)">
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-10>{{ finTrx.BizInvoiceID }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 *ngIf="finTrx.trxType === 'In_Credit'"> + </ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-3 *ngIf="finTrx.trxType === 'Out_Debit'"> - </ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-4>{{ finTrx.trxForiegnValue | currency:'USD'}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 *ngIf="finTrx.trxCurrency === 'INR'">{{ finTrx.trxOpeningBalance | INR}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 *ngIf="finTrx.trxCurrency === 'USD'">{{ finTrx.trxOpeningBalance | currency:'USD'}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 *ngIf="finTrx.trxCurrency === 'INR'">{{ finTrx.trxClosingBalance | INR}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-8 *ngIf="finTrx.trxCurrency === 'USD'">{{ finTrx.trxClosingBalance | currency:'USD'}}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{ finTrx.trxPaymentMethod }}</ion-col>
                <ion-col [ngClass]="(i % 2 == 0) ? 'values-even' : 'values-odd'" col-6>{{ finTrx.trxRemarks }}</ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </ion-scroll>
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-content>
